{
  "swagger": "2.0",
  "info": {
    "title": "OrderCloud",
    "description": "",
    "version": "1.0",
    "contact": {
      "name": "OrderCloud",
      "url": "http://ordercloud.io",
      "email": "ordercloud@four51.com"
    }
  },
  "host": "api.ordercloud.io",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "text/plain; charset=utf-8"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "oauth2": []
    }
  ],
  "securityDefinitions": {
    "oauth2": {
      "type": "oauth2",
      "tokenUrl": "https://auth.ordercloud.io/oauth/token",
      "flow": "password",
      "scopes": {
        "AddressAdmin": "",
        "AddressReader": "",
        "AdminUserAdmin": "",
        "AdminUserGroupAdmin": "",
        "AdminUserGroupReader": "",
        "AdminUserReader": "",
        "ApprovalRuleAdmin": "",
        "ApprovalRuleReader": "",
        "BuyerAdmin": "",
        "BuyerReader": "",
        "BuyerUserAdmin": "",
        "BuyerUserReader": "",
        "CatalogAdmin": "",
        "CatalogReader": "",
        "CategoryAdmin": "",
        "CategoryReader": "",
        "CostCenterAdmin": "",
        "CostCenterReader": "",
        "CreditCardAdmin": "",
        "CreditCardReader": "",
        "DevCenter": "",
        "DevCenterImpersonate": "",
        "DevCenterMessageConfigAdmin": "",
        "DevCenterPasswordReset": "",
        "FullAccess": "",
        "GrantForAnyRole": "",
        "InventoryAdmin": "",
        "MeAddressAdmin": "",
        "MeAdmin": "",
        "MeCreditCardAdmin": "",
        "MessageConfigAssignmentAdmin": "",
        "MeXpAdmin": "",
        "OrderAdmin": "",
        "OrderReader": "",
        "OverrideShipping": "",
        "OverrideTax": "",
        "OverrideUnitPrice": "",
        "PermissionAdmin": "",
        "PriceScheduleAdmin": "",
        "PriceScheduleReader": "",
        "ProductAdmin": "",
        "ProductAssignmentAdmin": "",
        "ProductReader": "",
        "PromotionAdmin": "",
        "PromotionReader": "",
        "SpendingAccountAdmin": "",
        "SpendingAccountReader": "",
        "UnsubmittedOrderReader": "",
        "UserGroupAdmin": "",
        "UserGroupReader": ""
      }
    }
  },
  "definitions": {
    "Address": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "CompanyName": {
          "type": "string"
        },
        "FirstName": {
          "type": "string"
        },
        "LastName": {
          "type": "string"
        },
        "Street1": {
          "type": "string"
        },
        "Street2": {
          "type": "string"
        },
        "City": {
          "type": "string"
        },
        "State": {
          "type": "string"
        },
        "Zip": {
          "type": "string"
        },
        "Country": {
          "type": "string"
        },
        "Phone": {
          "type": "string"
        },
        "AddressName": {
          "type": "string"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "BuyerAddress": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Shipping": {
          "type": "boolean"
        },
        "Billing": {
          "type": "boolean"
        },
        "Editable": {
          "type": "boolean"
        },
        "CompanyName": {
          "type": "string"
        },
        "FirstName": {
          "type": "string"
        },
        "LastName": {
          "type": "string"
        },
        "Street1": {
          "type": "string"
        },
        "Street2": {
          "type": "string"
        },
        "City": {
          "type": "string"
        },
        "State": {
          "type": "string"
        },
        "Zip": {
          "type": "string"
        },
        "Country": {
          "type": "string"
        },
        "Phone": {
          "type": "string"
        },
        "AddressName": {
          "type": "string"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "AddressAssignment": {
      "type": "object",
      "properties": {
        "AddressID": {
          "type": "string"
        },
        "UserID": {
          "type": "string"
        },
        "UserGroupID": {
          "type": "string"
        },
        "IsShipping": {
          "type": "boolean"
        },
        "IsBilling": {
          "type": "boolean"
        }
      }
    },
    "User": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Username": {
          "type": "string"
        },
        "Password": {
          "type": "string"
        },
        "FirstName": {
          "type": "string"
        },
        "LastName": {
          "type": "string"
        },
        "Email": {
          "type": "string"
        },
        "Phone": {
          "type": "string"
        },
        "TermsAccepted": {
          "type": "string"
        },
        "Active": {
          "type": "boolean"
        },
        "xp": {
          "type": "object"
        },
        "AvailableRoles": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "UserGroup": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "UserGroupAssignment": {
      "type": "object",
      "properties": {
        "UserGroupID": {
          "type": "string"
        },
        "UserID": {
          "type": "string"
        }
      }
    },
    "Catalog": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "CategoryCount": {
          "type": "integer"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "CatalogAssignment": {
      "type": "object",
      "properties": {
        "CatalogID": {
          "type": "string"
        },
        "BuyerID": {
          "type": "string"
        }
      }
    },
    "ApprovalRule": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "ApprovingGroupID": {
          "type": "string"
        },
        "RuleExpression": {
          "type": "string"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "Buyer": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "DefaultCatalogID": {
          "type": "string"
        },
        "Active": {
          "type": "boolean"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "Category": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "ListOrder": {
          "type": "integer"
        },
        "Active": {
          "type": "boolean"
        },
        "ParentID": {
          "type": "string"
        },
        "ChildCount": {
          "type": "integer"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "CategoryAssignment": {
      "type": "object",
      "properties": {
        "CategoryID": {
          "type": "string"
        },
        "BuyerID": {
          "type": "string"
        },
        "UserID": {
          "type": "string"
        },
        "UserGroupID": {
          "type": "string"
        }
      }
    },
    "CategoryProductAssignment": {
      "type": "object",
      "properties": {
        "CategoryID": {
          "type": "string"
        },
        "ProductID": {
          "type": "string"
        },
        "ListOrder": {
          "type": "integer"
        }
      }
    },
    "CostCenter": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "CostCenterAssignment": {
      "type": "object",
      "properties": {
        "CostCenterID": {
          "type": "string"
        },
        "UserID": {
          "type": "string"
        },
        "UserGroupID": {
          "type": "string"
        }
      }
    },
    "Connect": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "StateHashKey": {
          "type": "string"
        },
        "ClientID": {
          "type": "string"
        },
        "ConnectClientID": {
          "type": "string"
        },
        "ConnectClientSecret": {
          "type": "string"
        },
        "AppStartUrl": {
          "type": "string"
        },
        "AuthorizationEndpoint": {
          "type": "string"
        },
        "TokenEndpoint": {
          "type": "string"
        }
      }
    },
    "MessageSender": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "MessageTypes": {
          "type": "string"
        }
      }
    },
    "MessageConfig": {
      "type": "object",
      "properties": {
        "URL": {
          "type": "string"
        },
        "ElevatedClaimsList": {
          "type": "string"
        },
        "SharedKey": {
          "type": "string"
        },
        "ConfigData": {
          "type": "object"
        },
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "MessageTypes": {
          "type": "string"
        }
      }
    },
    "MessageSenderAssignment": {
      "type": "object",
      "properties": {
        "MessageSenderID": {
          "type": "string"
        },
        "BuyerID": {
          "type": "string"
        },
        "UserID": {
          "type": "string"
        },
        "UserGroupID": {
          "type": "string"
        },
        "MessageConfigName": {
          "type": "string"
        }
      }
    },
    "MessageCCListenerAssignment": {
      "type": "object",
      "properties": {
        "MessageSenderAssignment": {
          "$ref": "#/definitions/MessageSenderAssignment"
        },
        "MessageConfigName": {
          "type": "string"
        },
        "MessageType": {
          "type": "string"
        },
        "BuyerID": {
          "type": "string"
        },
        "UserGroupID": {
          "type": "string"
        },
        "UserID": {
          "type": "string"
        }
      }
    },
    "StripeCreditCard": {
      "type": "object",
      "properties": {
        "Name": {
          "type": "string"
        },
        "Number": {
          "type": "string"
        },
        "ExpirationMonth": {
          "type": "string"
        },
        "ExpirationYear": {
          "type": "string"
        },
        "Cvc": {
          "type": "string"
        },
        "AddressLine1": {
          "type": "string"
        },
        "AddressLine2": {
          "type": "string"
        },
        "AddressCity": {
          "type": "string"
        },
        "AddressState": {
          "type": "string"
        },
        "AddressZip": {
          "type": "string"
        },
        "AddressCountry": {
          "type": "string"
        },
        "Metadata": {
          "type": "Dictionary<string, string>"
        }
      }
    },
    "Usage": {
      "type": "object",
      "properties": {
        "TotalCount": {
          "type": "integer"
        },
        "Organizations": {
          "items": {
            "$ref": "#/definitions/UsageOrganization"
          },
          "type": "array"
        },
        "From": {
          "type": "string"
        },
        "To": {
          "type": "string"
        }
      }
    },
    "UsageOrganization": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "ItemCount": {
          "type": "integer"
        },
        "Buyers": {
          "items": {
            "$ref": "#/definitions/UsageBuyer"
          },
          "type": "array"
        }
      }
    },
    "UsageBuyer": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "ItemCount": {
          "type": "integer"
        }
      }
    },
    "Promotion": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Code": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "RedemptionLimit": {
          "type": "integer"
        },
        "RedemptionLimitPerUser": {
          "type": "integer"
        },
        "RedemptionCount": {
          "type": "integer"
        },
        "Description": {
          "type": "string"
        },
        "FinePrint": {
          "type": "string"
        },
        "StartDate": {
          "type": "string"
        },
        "ExpirationDate": {
          "type": "string"
        },
        "EligibleExpression": {
          "type": "string"
        },
        "ValueExpression": {
          "type": "string"
        },
        "CanCombine": {
          "type": "boolean"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "OrderPromotion": {
      "type": "object",
      "properties": {
        "Amount": {
          "type": "number"
        },
        "ID": {
          "type": "string"
        },
        "Code": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "RedemptionLimit": {
          "type": "integer"
        },
        "RedemptionLimitPerUser": {
          "type": "integer"
        },
        "RedemptionCount": {
          "type": "integer"
        },
        "Description": {
          "type": "string"
        },
        "FinePrint": {
          "type": "string"
        },
        "StartDate": {
          "type": "string"
        },
        "ExpirationDate": {
          "type": "string"
        },
        "EligibleExpression": {
          "type": "string"
        },
        "ValueExpression": {
          "type": "string"
        },
        "CanCombine": {
          "type": "boolean"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "PromotionAssignment": {
      "type": "object",
      "properties": {
        "PromotionID": {
          "type": "string"
        },
        "BuyerID": {
          "type": "string"
        },
        "UserID": {
          "type": "string"
        },
        "UserGroupID": {
          "type": "string"
        }
      }
    },
    "CreditCard": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Token": {
          "type": "string"
        },
        "DateCreated": {
          "type": "string"
        },
        "CardType": {
          "type": "string"
        },
        "PartialAccountNumber": {
          "type": "string"
        },
        "CardholderName": {
          "type": "string"
        },
        "ExpirationDate": {
          "type": "string"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "BuyerCreditCard": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Editable": {
          "type": "boolean"
        },
        "Token": {
          "type": "string"
        },
        "DateCreated": {
          "type": "string"
        },
        "CardType": {
          "type": "string"
        },
        "PartialAccountNumber": {
          "type": "string"
        },
        "CardholderName": {
          "type": "string"
        },
        "ExpirationDate": {
          "type": "string"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "CreditCardAssignment": {
      "type": "object",
      "properties": {
        "CreditCardID": {
          "type": "string"
        },
        "UserID": {
          "type": "string"
        },
        "UserGroupID": {
          "type": "string"
        }
      }
    },
    "SecurityProfile": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "IsDevProfile": {
          "type": "boolean"
        },
        "Name": {
          "type": "string"
        },
        "Roles": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "AdminCompany": {
      "type": "object",
      "properties": {
        "Name": {
          "type": "string"
        },
        "ID": {
          "type": "string"
        },
        "OwnerDevID": {
          "type": "integer"
        }
      }
    },
    "NativeIntegrtionProxyConfig": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "integer"
        },
        "BaseProxyName": {
          "type": "string"
        },
        "ConfigData": {
          "type": "object"
        }
      }
    },
    "NativeIntegrationProxyAssignment": {
      "type": "object",
      "properties": {
        "NativeIntegrationProxyConfigID": {
          "type": "integer"
        },
        "ClientID": {
          "type": "string"
        },
        "BaseProxyName": {
          "type": "string"
        }
      }
    },
    "WebHook": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "integer"
        },
        "Name": {
          "type": "string"
        },
        "Type": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "BaseUrl": {
          "type": "string"
        },
        "SharedKey": {
          "type": "string"
        },
        "AppendRoute": {
          "type": "boolean"
        },
        "UseVerb": {
          "type": "boolean"
        },
        "ElevatedClaimsList": {
          "type": "string"
        },
        "ConfigData": {
          "type": "object"
        }
      }
    },
    "WebHookRoute": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "integer"
        },
        "Route": {
          "type": "string"
        },
        "Verb": {
          "type": "string"
        }
      }
    },
    "XpIndex": {
      "type": "object",
      "properties": {
        "ThingType": {
          "type": "string"
        },
        "Key": {
          "type": "string"
        }
      }
    },
    "SecurityProfileAssignment": {
      "type": "object",
      "properties": {
        "SecurityProfileID": {
          "type": "string"
        },
        "BuyerID": {
          "type": "string"
        },
        "UserID": {
          "type": "string"
        },
        "UserGroupID": {
          "type": "string"
        }
      }
    },
    "Payment": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Type": {
          "type": "string"
        },
        "DateCreated": {
          "type": "string"
        },
        "CreditCardID": {
          "type": "string"
        },
        "SpendingAccountID": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "Amount": {
          "type": "number"
        },
        "xp": {
          "type": "object"
        },
        "Transactions": {
          "items": {
            "$ref": "#/definitions/PaymentTransaction"
          },
          "type": "array"
        }
      }
    },
    "PaymentTransaction": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Type": {
          "type": "string"
        },
        "DateExecuted": {
          "type": "string"
        },
        "Amount": {
          "type": "number"
        },
        "Succeeded": {
          "type": "boolean"
        },
        "ResultCode": {
          "type": "string"
        },
        "ResultMessage": {
          "type": "string"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "Spec": {
      "type": "object",
      "properties": {
        "OptionCount": {
          "type": "integer"
        },
        "ID": {
          "type": "string"
        },
        "ListOrder": {
          "type": "integer"
        },
        "Name": {
          "type": "string"
        },
        "DefaultValue": {
          "type": "string"
        },
        "Required": {
          "type": "boolean"
        },
        "AllowOpenText": {
          "type": "boolean"
        },
        "DefaultOptionID": {
          "type": "string"
        },
        "DefinesVariant": {
          "type": "boolean"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "BaseSpec": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "ListOrder": {
          "type": "integer"
        },
        "Name": {
          "type": "string"
        },
        "DefaultValue": {
          "type": "string"
        },
        "Required": {
          "type": "boolean"
        },
        "AllowOpenText": {
          "type": "boolean"
        },
        "DefaultOptionID": {
          "type": "string"
        },
        "DefinesVariant": {
          "type": "boolean"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "BuyerSpec": {
      "type": "object",
      "properties": {
        "Options": {
          "items": {
            "$ref": "#/definitions/SpecOption"
          },
          "type": "array"
        },
        "ID": {
          "type": "string"
        },
        "ListOrder": {
          "type": "integer"
        },
        "Name": {
          "type": "string"
        },
        "DefaultValue": {
          "type": "string"
        },
        "Required": {
          "type": "boolean"
        },
        "AllowOpenText": {
          "type": "boolean"
        },
        "DefaultOptionID": {
          "type": "string"
        },
        "DefinesVariant": {
          "type": "boolean"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "SpecOption": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Value": {
          "type": "string"
        },
        "ListOrder": {
          "type": "integer"
        },
        "IsOpenText": {
          "type": "boolean"
        },
        "PriceMarkupType": {
          "type": "string"
        },
        "PriceMarkup": {
          "type": "number"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "SpecProductAssignment": {
      "type": "object",
      "properties": {
        "SpecID": {
          "type": "string"
        },
        "ProductID": {
          "type": "string"
        },
        "DefaultValue": {
          "type": "string"
        },
        "DefaultOptionID": {
          "type": "string"
        }
      }
    },
    "LineItem": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "ProductID": {
          "type": "string"
        },
        "Quantity": {
          "type": "integer"
        },
        "DateAdded": {
          "type": "string"
        },
        "QuantityShipped": {
          "type": "integer"
        },
        "UnitPrice": {
          "type": "number"
        },
        "LineTotal": {
          "type": "number"
        },
        "CostCenter": {
          "type": "string"
        },
        "DateNeeded": {
          "type": "string"
        },
        "ShippingAccount": {
          "type": "string"
        },
        "ShippingAddressID": {
          "type": "string"
        },
        "ShipFromAddressID": {
          "type": "string"
        },
        "Product": {
          "$ref": "#/definitions/LineItemProduct"
        },
        "ShippingAddress": {
          "$ref": "#/definitions/Address"
        },
        "ShipFromAddress": {
          "$ref": "#/definitions/Address"
        },
        "Specs": {
          "items": {
            "$ref": "#/definitions/LineItemSpec"
          },
          "type": "array"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "LineItemProduct": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "QuantityMultiplier": {
          "type": "integer"
        },
        "ShipWeight": {
          "type": "number"
        },
        "ShipHeight": {
          "type": "number"
        },
        "ShipWidth": {
          "type": "number"
        },
        "ShipLength": {
          "type": "number"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "LineItemSpec": {
      "type": "object",
      "properties": {
        "SpecID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "OptionID": {
          "type": "string"
        },
        "Value": {
          "type": "string"
        }
      }
    },
    "BuyerProduct": {
      "type": "object",
      "properties": {
        "ReplenishmentPriceSchedule": {
          "$ref": "#/definitions/PriceSchedule"
        },
        "StandardPriceSchedule": {
          "$ref": "#/definitions/PriceSchedule"
        },
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "QuantityMultiplier": {
          "type": "integer"
        },
        "ShipWeight": {
          "type": "number"
        },
        "ShipHeight": {
          "type": "number"
        },
        "ShipWidth": {
          "type": "number"
        },
        "ShipLength": {
          "type": "number"
        },
        "Active": {
          "type": "boolean"
        },
        "Type": {
          "type": "string"
        },
        "InventoryEnabled": {
          "type": "boolean"
        },
        "InventoryNotificationPoint": {
          "type": "integer"
        },
        "VariantLevelInventory": {
          "type": "boolean"
        },
        "SpecCount": {
          "type": "integer"
        },
        "xp": {
          "type": "object"
        },
        "AllowOrderExceedInventory": {
          "type": "boolean"
        },
        "InventoryVisible": {
          "type": "boolean"
        },
        "VariantCount": {
          "type": "integer"
        },
        "ShipFromAddressID": {
          "type": "string"
        }
      }
    },
    "PriceSchedule": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "ApplyTax": {
          "type": "boolean"
        },
        "ApplyShipping": {
          "type": "boolean"
        },
        "MinQuantity": {
          "type": "integer"
        },
        "MaxQuantity": {
          "type": "integer"
        },
        "UseCumulativeQuantity": {
          "type": "boolean"
        },
        "RestrictedQuantity": {
          "type": "boolean"
        },
        "OrderType": {
          "type": "string"
        },
        "PriceBreaks": {
          "items": {
            "$ref": "#/definitions/PriceBreak"
          },
          "type": "array"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "PriceBreak": {
      "type": "object",
      "properties": {
        "Quantity": {
          "type": "integer"
        },
        "Price": {
          "type": "number"
        }
      }
    },
    "Product": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "QuantityMultiplier": {
          "type": "integer"
        },
        "ShipWeight": {
          "type": "number"
        },
        "ShipHeight": {
          "type": "number"
        },
        "ShipWidth": {
          "type": "number"
        },
        "ShipLength": {
          "type": "number"
        },
        "Active": {
          "type": "boolean"
        },
        "Type": {
          "type": "string"
        },
        "InventoryEnabled": {
          "type": "boolean"
        },
        "InventoryNotificationPoint": {
          "type": "integer"
        },
        "VariantLevelInventory": {
          "type": "boolean"
        },
        "SpecCount": {
          "type": "integer"
        },
        "xp": {
          "type": "object"
        },
        "AllowOrderExceedInventory": {
          "type": "boolean"
        },
        "InventoryVisible": {
          "type": "boolean"
        },
        "VariantCount": {
          "type": "integer"
        },
        "ShipFromAddressID": {
          "type": "string"
        }
      }
    },
    "Order": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Type": {
          "type": "string"
        },
        "FromCompanyID": {
          "type": "string"
        },
        "FromUserID": {
          "type": "string"
        },
        "FromUserFirstName": {
          "type": "string"
        },
        "FromUserLastName": {
          "type": "string"
        },
        "BillingAddressID": {
          "type": "string"
        },
        "BillingAddress": {
          "$ref": "#/definitions/Address"
        },
        "ShippingAddressID": {
          "type": "string"
        },
        "Comments": {
          "type": "string"
        },
        "LineItemCount": {
          "type": "integer"
        },
        "Status": {
          "type": "string"
        },
        "DateCreated": {
          "type": "string"
        },
        "DateSubmitted": {
          "type": "string"
        },
        "DateApproved": {
          "type": "string"
        },
        "DateDeclined": {
          "type": "string"
        },
        "DateCanceled": {
          "type": "string"
        },
        "DateCompleted": {
          "type": "string"
        },
        "Subtotal": {
          "type": "number"
        },
        "ShippingCost": {
          "type": "number"
        },
        "TaxCost": {
          "type": "number"
        },
        "PromotionDiscount": {
          "type": "number"
        },
        "Total": {
          "type": "number"
        },
        "IsSubmitted": {
          "type": "boolean"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "SpendingAccount": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "Balance": {
          "type": "number"
        },
        "AllowAsPaymentMethod": {
          "type": "boolean"
        },
        "RedemptionCode": {
          "type": "string"
        },
        "StartDate": {
          "type": "string"
        },
        "EndDate": {
          "type": "string"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "OrderApproval": {
      "type": "object",
      "properties": {
        "ApprovalRuleID": {
          "type": "string"
        },
        "ApprovingGroupID": {
          "type": "string"
        },
        "Status": {
          "type": "string"
        },
        "DateCreated": {
          "type": "string"
        },
        "DateCompleted": {
          "type": "string"
        },
        "ApproverID": {
          "type": "string"
        },
        "ApproverUserName": {
          "type": "string"
        },
        "ApproverEmail": {
          "type": "string"
        },
        "Comments": {
          "type": "string"
        }
      }
    },
    "Shipment": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Shipper": {
          "type": "string"
        },
        "DateShipped": {
          "type": "string"
        },
        "DateDelivered": {
          "type": "string"
        },
        "TrackingNumber": {
          "type": "string"
        },
        "Cost": {
          "type": "number"
        },
        "Items": {
          "items": {
            "$ref": "#/definitions/ShipmentItem"
          },
          "type": "array"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "ShipmentItem": {
      "type": "object",
      "properties": {
        "OrderID": {
          "type": "string"
        },
        "LineItemID": {
          "type": "string"
        },
        "QuantityShipped": {
          "type": "integer"
        }
      }
    },
    "PasswordResetRequest": {
      "type": "object",
      "properties": {
        "ClientID": {
          "type": "string"
        },
        "Email": {
          "type": "string"
        },
        "Username": {
          "type": "string"
        },
        "URL": {
          "type": "string"
        }
      }
    },
    "PasswordReset": {
      "type": "object",
      "properties": {
        "ClientID": {
          "type": "string"
        },
        "Username": {
          "type": "string"
        },
        "Password": {
          "type": "string"
        }
      }
    },
    "SpendingAccountAssignment": {
      "type": "object",
      "properties": {
        "SpendingAccountID": {
          "type": "string"
        },
        "UserID": {
          "type": "string"
        },
        "UserGroupID": {
          "type": "string"
        },
        "AllowExceed": {
          "type": "boolean"
        }
      }
    },
    "EnvironmentInfo": {
      "type": "object",
      "properties": {
        "Environment": {
          "type": "string"
        },
        "Version": {
          "type": "string"
        },
        "Branch": {
          "type": "string"
        },
        "Commit": {
          "type": "string"
        },
        "CommitDate": {
          "type": "string"
        },
        "BuildDate": {
          "type": "string"
        }
      }
    },
    "PingResponse": {
      "type": "object",
      "properties": {
        "Message": {
          "type": "string"
        }
      }
    },
    "Variant": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "Active": {
          "type": "boolean"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "Inventory": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "Available": {
          "type": "integer"
        },
        "Reserved": {
          "type": "integer"
        },
        "LastUpdated": {
          "type": "string"
        }
      }
    },
    "ProductAssignment": {
      "type": "object",
      "properties": {
        "ProductID": {
          "type": "string"
        },
        "PriceScheduleID": {
          "type": "string"
        },
        "StandardPriceScheduleID": {
          "type": "string"
        },
        "BuyerID": {
          "type": "string"
        },
        "UserID": {
          "type": "string"
        },
        "UserGroupID": {
          "type": "string"
        }
      }
    },
    "AccessToken": {
      "type": "object",
      "properties": {
        "access_token": {
          "type": "string"
        },
        "expires_in": {
          "type": "integer"
        },
        "token_type": {
          "type": "string"
        }
      }
    },
    "ImpersonateTokenRequest": {
      "type": "object",
      "properties": {
        "ClientID": {
          "type": "string"
        },
        "Claims": {
          "type": "string"
        }
      }
    },
    "Meta": {
      "type": "object",
      "properties": {
        "Page": {
          "type": "integer"
        },
        "PageSize": {
          "type": "integer"
        },
        "TotalCount": {
          "type": "integer"
        },
        "TotalPages": {
          "type": "integer"
        },
        "ItemRange": {
          "type": "array",
          "items": {
            "type": "integer"
          }
        }
      }
    },
    "ListAddress": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Address"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListAddressAssignment": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AddressAssignment"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListUser": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/User"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListUserGroup": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UserGroup"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListUserGroupAssignment": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UserGroupAssignment"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListCatalog": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Catalog"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListCatalogAssignment": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CatalogAssignment"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListApprovalRule": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApprovalRule"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListBuyer": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Buyer"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListCategory": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Category"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListCategoryAssignment": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CategoryAssignment"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListCategoryProductAssignment": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CategoryProductAssignment"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListCostCenter": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CostCenter"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListCostCenterAssignment": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CostCenterAssignment"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListConnect": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Connect"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListMessageSender": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MessageSender"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListMessageSenderAssignment": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MessageSenderAssignment"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListMessageCCListenerAssignment": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MessageCCListenerAssignment"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListMessageConfig": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MessageConfig"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListPromotion": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Promotion"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListPromotionAssignment": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PromotionAssignment"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListCreditCard": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CreditCard"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListCreditCardAssignment": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CreditCardAssignment"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListAdminCompany": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AdminCompany"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListNativeIntegrtionProxyConfig": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NativeIntegrtionProxyConfig"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListNativeIntegrationProxyAssignment": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NativeIntegrationProxyAssignment"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListWebHook": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WebHook"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListWebHookRoute": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WebHookRoute"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListXpIndex": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/XpIndex"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListSecurityProfile": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityProfile"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListSecurityProfileAssignment": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityProfileAssignment"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListPayment": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Payment"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListSpec": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Spec"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListSpecProductAssignment": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SpecProductAssignment"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListSpecOption": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SpecOption"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListLineItem": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LineItem"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListBuyerAddress": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuyerAddress"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListBuyerCreditCard": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuyerCreditCard"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListBuyerProduct": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuyerProduct"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListBuyerSpec": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuyerSpec"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListOrder": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Order"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListSpendingAccount": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SpendingAccount"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListOrderApproval": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OrderApproval"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListOrderPromotion": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OrderPromotion"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListPriceSchedule": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PriceSchedule"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListShipment": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Shipment"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListSpendingAccountAssignment": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SpendingAccountAssignment"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListProduct": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Product"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListVariant": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Variant"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListInventory": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Inventory"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListProductAssignment": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductAssignment"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    }
  },
  "paths": {
    "/buyers/{buyerID}/addresses": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ListAddress"
            }
          }
        },
        "operationId": "List",
        "tags": [
          "Address"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Word or phrase to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchOn",
            "in": "query",
            "description": "Comma-delimited list of fields to search on.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Comma-delimited list of fields to sort by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to return. Default: 1",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to return per page. Default: 20, max: 100.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Any additional key/value pairs passed in the query string are interpretted as filters. Valid keys are top-level properties of the returned model or 'xp.???'",
            "required": false,
            "type": "object"
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "AddressAdmin",
              "AddressReader"
            ]
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          }
        },
        "operationId": "Create",
        "tags": [
          "Address"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "address",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "AddressAdmin"
            ]
          }
        ]
      }
    },
    "/buyers/{buyerID}/addresses/{addressID}": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          }
        },
        "operationId": "Get",
        "tags": [
          "Address"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "addressID",
            "in": "path",
            "description": "ID of the address.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "AddressAdmin",
              "AddressReader"
            ]
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          }
        },
        "operationId": "Update",
        "tags": [
          "Address"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "addressID",
            "in": "path",
            "description": "ID of the address.",
            "required": true,
            "type": "string"
          },
          {
            "name": "address",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "AddressAdmin"
            ]
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          }
        },
        "operationId": "Patch",
        "tags": [
          "Address"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "addressID",
            "in": "path",
            "description": "ID of the address.",
            "required": true,
            "type": "string"
          },
          {
            "name": "address",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "AddressAdmin"
            ]
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": ""
          }
        },
        "operationId": "Delete",
        "tags": [
          "Address"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "addressID",
            "in": "path",
            "description": "ID of the address.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "AddressAdmin"
            ]
          }
        ]
      }
    },
    "/buyers/{buyerID}/addresses/assignments": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ListAddressAssignment"
            }
          }
        },
        "operationId": "ListAssignments",
        "tags": [
          "Address"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "addressID",
            "in": "query",
            "description": "ID of the address.",
            "required": false,
            "type": "string"
          },
          {
            "name": "userID",
            "in": "query",
            "description": "ID of the user.",
            "required": false,
            "type": "string"
          },
          {
            "name": "userGroupID",
            "in": "query",
            "description": "ID of the user group.",
            "required": false,
            "type": "string"
          },
          {
            "name": "level",
            "in": "query",
            "description": "Level of the address.",
            "required": false,
            "type": "string"
          },
          {
            "name": "isShipping",
            "in": "query",
            "description": "Is shipping of the address.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "isBilling",
            "in": "query",
            "description": "Is billing of the address.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to return. Default: 1",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to return per page. Default: 20, max: 100.",
            "required": false,
            "type": "integer"
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "AddressAdmin",
              "AddressReader"
            ]
          }
        ]
      },
      "post": {
        "responses": {
          "204": {
            "description": ""
          }
        },
        "operationId": "SaveAssignment",
        "tags": [
          "Address"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "assignment",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/AddressAssignment"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "AddressAdmin"
            ]
          }
        ]
      }
    },
    "/buyers/{buyerID}/addresses/{addressID}/assignments": {
      "delete": {
        "responses": {
          "204": {
            "description": ""
          }
        },
        "operationId": "DeleteAssignment",
        "tags": [
          "Address"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "addressID",
            "in": "path",
            "description": "ID of the address.",
            "required": true,
            "type": "string"
          },
          {
            "name": "userID",
            "in": "query",
            "description": "ID of the user.",
            "required": false,
            "type": "string"
          },
          {
            "name": "userGroupID",
            "in": "query",
            "description": "ID of the user group.",
            "required": false,
            "type": "string"
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "AddressAdmin"
            ]
          }
        ]
      }
    },
    "/addresses": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ListAddress"
            }
          }
        },
        "operationId": "List",
        "tags": [
          "AdminAddress"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Word or phrase to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchOn",
            "in": "query",
            "description": "Comma-delimited list of fields to search on.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Comma-delimited list of fields to sort by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to return. Default: 1",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to return per page. Default: 20, max: 100.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Any additional key/value pairs passed in the query string are interpretted as filters. Valid keys are top-level properties of the returned model or 'xp.???'",
            "required": false,
            "type": "object"
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "AddressAdmin",
              "AddressReader"
            ]
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          }
        },
        "operationId": "Create",
        "tags": [
          "AdminAddress"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "AddressAdmin"
            ]
          }
        ]
      }
    },
    "/addresses/{addressID}": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          }
        },
        "operationId": "Get",
        "tags": [
          "AdminAddress"
        ],
        "parameters": [
          {
            "name": "addressID",
            "in": "path",
            "description": "ID of the address.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "AddressAdmin",
              "AddressReader"
            ]
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          }
        },
        "operationId": "Update",
        "tags": [
          "AdminAddress"
        ],
        "parameters": [
          {
            "name": "addressID",
            "in": "path",
            "description": "ID of the address.",
            "required": true,
            "type": "string"
          },
          {
            "name": "address",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "AddressAdmin"
            ]
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          }
        },
        "operationId": "Patch",
        "tags": [
          "AdminAddress"
        ],
        "parameters": [
          {
            "name": "addressID",
            "in": "path",
            "description": "ID of the address.",
            "required": true,
            "type": "string"
          },
          {
            "name": "address",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "AddressAdmin"
            ]
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": ""
          }
        },
        "operationId": "Delete",
        "tags": [
          "AdminAddress"
        ],
        "parameters": [
          {
            "name": "addressID",
            "in": "path",
            "description": "ID of the address.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "AddressAdmin"
            ]
          }
        ]
      }
    },
    "/adminusers/{userID}": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        },
        "operationId": "Get",
        "tags": [
          "AdminUser"
        ],
        "parameters": [
          {
            "name": "userID",
            "in": "path",
            "description": "ID of the user.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "AdminUserAdmin",
              "AdminUserReader"
            ]
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        },
        "operationId": "Update",
        "tags": [
          "AdminUser"
        ],
        "parameters": [
          {
            "name": "userID",
            "in": "path",
            "description": "ID of the user.",
            "required": true,
            "type": "string"
          },
          {
            "name": "user",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "AdminUserAdmin"
            ]
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        },
        "operationId": "Patch",
        "tags": [
          "AdminUser"
        ],
        "parameters": [
          {
            "name": "userID",
            "in": "path",
            "description": "ID of the user.",
            "required": true,
            "type": "string"
          },
          {
            "name": "user",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "AdminUserAdmin"
            ]
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": ""
          }
        },
        "operationId": "Delete",
        "tags": [
          "AdminUser"
        ],
        "parameters": [
          {
            "name": "userID",
            "in": "path",
            "description": "ID of the user.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "AdminUserAdmin"
            ]
          }
        ]
      }
    },
    "/adminusers": {
      "post": {
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        },
        "operationId": "Create",
        "tags": [
          "AdminUser"
        ],
        "parameters": [
          {
            "name": "user",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "AdminUserAdmin"
            ]
          }
        ]
      },
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ListUser"
            }
          }
        },
        "operationId": "List",
        "tags": [
          "AdminUser"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Word or phrase to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchOn",
            "in": "query",
            "description": "Comma-delimited list of fields to search on.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Comma-delimited list of fields to sort by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to return. Default: 1",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to return per page. Default: 20, max: 100.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Any additional key/value pairs passed in the query string are interpretted as filters. Valid keys are top-level properties of the returned model or 'xp.???'",
            "required": false,
            "type": "object"
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "AdminUserAdmin",
              "AdminUserReader"
            ]
          }
        ]
      }
    },
    "/usergroups": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ListUserGroup"
            }
          }
        },
        "operationId": "List",
        "tags": [
          "AdminUserGroup"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Word or phrase to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchOn",
            "in": "query",
            "description": "Comma-delimited list of fields to search on.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Comma-delimited list of fields to sort by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to return. Default: 1",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to return per page. Default: 20, max: 100.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Any additional key/value pairs passed in the query string are interpretted as filters. Valid keys are top-level properties of the returned model or 'xp.???'",
            "required": false,
            "type": "object"
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "AdminUserGroupAdmin",
              "AdminUserGroupReader"
            ]
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserGroup"
            }
          }
        },
        "operationId": "Create",
        "tags": [
          "AdminUserGroup"
        ],
        "parameters": [
          {
            "name": "group",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserGroup"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "AdminUserGroupAdmin"
            ]
          }
        ]
      }
    },
    "/usergroups/{userGroupID}": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserGroup"
            }
          }
        },
        "operationId": "Get",
        "tags": [
          "AdminUserGroup"
        ],
        "parameters": [
          {
            "name": "userGroupID",
            "in": "path",
            "description": "ID of the user group.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "AdminUserGroupAdmin",
              "AdminUserGroupReader"
            ]
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserGroup"
            }
          }
        },
        "operationId": "Update",
        "tags": [
          "AdminUserGroup"
        ],
        "parameters": [
          {
            "name": "userGroupID",
            "in": "path",
            "description": "ID of the user group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "group",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserGroup"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "AdminUserGroupAdmin"
            ]
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserGroup"
            }
          }
        },
        "operationId": "Patch",
        "tags": [
          "AdminUserGroup"
        ],
        "parameters": [
          {
            "name": "userGroupID",
            "in": "path",
            "description": "ID of the user group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "group",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserGroup"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "AdminUserGroupAdmin"
            ]
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": ""
          }
        },
        "operationId": "Delete",
        "tags": [
          "AdminUserGroup"
        ],
        "parameters": [
          {
            "name": "userGroupID",
            "in": "path",
            "description": "ID of the user group.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "AdminUserGroupAdmin"
            ]
          }
        ]
      }
    },
    "/usergroups/assignments": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ListUserGroupAssignment"
            }
          }
        },
        "operationId": "ListUserAssignments",
        "tags": [
          "AdminUserGroup"
        ],
        "parameters": [
          {
            "name": "userGroupID",
            "in": "query",
            "description": "ID of the user group.",
            "required": false,
            "type": "string"
          },
          {
            "name": "userID",
            "in": "query",
            "description": "ID of the user.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to return. Default: 1",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to return per page. Default: 20, max: 100.",
            "required": false,
            "type": "integer"
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "AdminUserGroupAdmin",
              "AdminUserGroupReader"
            ]
          }
        ]
      },
      "post": {
        "responses": {
          "204": {
            "description": ""
          }
        },
        "operationId": "SaveUserAssignment",
        "tags": [
          "AdminUserGroup"
        ],
        "parameters": [
          {
            "name": "userGroupAssignment",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserGroupAssignment"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "AdminUserGroupAdmin"
            ]
          }
        ]
      }
    },
    "/usergroups/{userGroupID}/assignments/{userID}": {
      "delete": {
        "responses": {
          "204": {
            "description": ""
          }
        },
        "operationId": "DeleteUserAssignment",
        "tags": [
          "AdminUserGroup"
        ],
        "parameters": [
          {
            "name": "userGroupID",
            "in": "path",
            "description": "ID of the user group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "userID",
            "in": "path",
            "description": "ID of the user.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "AdminUserGroupAdmin"
            ]
          }
        ]
      }
    },
    "/catalogs": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ListCatalog"
            }
          }
        },
        "operationId": "List",
        "tags": [
          "Catalog"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Word or phrase to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchOn",
            "in": "query",
            "description": "Comma-delimited list of fields to search on.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Comma-delimited list of fields to sort by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to return. Default: 1",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to return per page. Default: 20, max: 100.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Any additional key/value pairs passed in the query string are interpretted as filters. Valid keys are top-level properties of the returned model or 'xp.???'",
            "required": false,
            "type": "object"
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "CatalogAdmin",
              "CatalogReader"
            ]
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Catalog"
            }
          }
        },
        "operationId": "Create",
        "tags": [
          "Catalog"
        ],
        "parameters": [
          {
            "name": "catalog",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/Catalog"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "CatalogAdmin"
            ]
          }
        ]
      }
    },
    "/catalogs/{catalogID}": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Catalog"
            }
          }
        },
        "operationId": "Get",
        "tags": [
          "Catalog"
        ],
        "parameters": [
          {
            "name": "catalogID",
            "in": "path",
            "description": "ID of the catalog.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "CatalogAdmin",
              "CatalogReader"
            ]
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Catalog"
            }
          }
        },
        "operationId": "Update",
        "tags": [
          "Catalog"
        ],
        "parameters": [
          {
            "name": "catalogID",
            "in": "path",
            "description": "ID of the catalog.",
            "required": true,
            "type": "string"
          },
          {
            "name": "catalog",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/Catalog"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "CatalogAdmin"
            ]
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Catalog"
            }
          }
        },
        "operationId": "Patch",
        "tags": [
          "Catalog"
        ],
        "parameters": [
          {
            "name": "catalogID",
            "in": "path",
            "description": "ID of the catalog.",
            "required": true,
            "type": "string"
          },
          {
            "name": "partialCatalog",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/Catalog"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "CatalogAdmin"
            ]
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": ""
          }
        },
        "operationId": "Delete",
        "tags": [
          "Catalog"
        ],
        "parameters": [
          {
            "name": "catalogID",
            "in": "path",
            "description": "ID of the catalog.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "CatalogAdmin"
            ]
          }
        ]
      }
    },
    "/catalogs/assignments": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ListCatalogAssignment"
            }
          }
        },
        "operationId": "ListAssignments",
        "tags": [
          "Catalog"
        ],
        "parameters": [
          {
            "name": "catalogID",
            "in": "query",
            "description": "ID of the catalog.",
            "required": false,
            "type": "string"
          },
          {
            "name": "buyerID",
            "in": "query",
            "description": "ID of the buyer.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to return. Default: 1",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to return per page. Default: 20, max: 100.",
            "required": false,
            "type": "integer"
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "CatalogAdmin"
            ]
          }
        ]
      },
      "post": {
        "responses": {
          "204": {
            "description": ""
          }
        },
        "operationId": "SaveAssignment",
        "tags": [
          "Catalog"
        ],
        "parameters": [
          {
            "name": "assignment",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CatalogAssignment"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "CatalogAdmin"
            ]
          }
        ]
      }
    },
    "/catalogs/{catalogID}/assignments": {
      "delete": {
        "responses": {
          "204": {
            "description": ""
          }
        },
        "operationId": "DeleteAssignment",
        "tags": [
          "Catalog"
        ],
        "parameters": [
          {
            "name": "catalogID",
            "in": "path",
            "description": "ID of the catalog.",
            "required": true,
            "type": "string"
          },
          {
            "name": "buyerID",
            "in": "query",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "CatalogAdmin"
            ]
          }
        ]
      }
    },
    "/buyers/{buyerID}/approvalrules": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ListApprovalRule"
            }
          }
        },
        "operationId": "List",
        "tags": [
          "ApprovalRule"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Word or phrase to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchOn",
            "in": "query",
            "description": "Comma-delimited list of fields to search on.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Comma-delimited list of fields to sort by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to return. Default: 1",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to return per page. Default: 20, max: 100.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Any additional key/value pairs passed in the query string are interpretted as filters. Valid keys are top-level properties of the returned model or 'xp.???'",
            "required": false,
            "type": "object"
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "ApprovalRuleAdmin",
              "AddressReader"
            ]
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ApprovalRule"
            }
          }
        },
        "operationId": "Create",
        "tags": [
          "ApprovalRule"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "approvalRule",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ApprovalRule"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "ApprovalRuleAdmin"
            ]
          }
        ]
      }
    },
    "/buyers/{buyerID}/approvalrules/{approvalRuleID}": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ApprovalRule"
            }
          }
        },
        "operationId": "Get",
        "tags": [
          "ApprovalRule"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "approvalRuleID",
            "in": "path",
            "description": "ID of the approval rule.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "ApprovalRuleAdmin",
              "AddressReader"
            ]
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ApprovalRule"
            }
          }
        },
        "operationId": "Update",
        "tags": [
          "ApprovalRule"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "approvalRuleID",
            "in": "path",
            "description": "ID of the approval rule.",
            "required": true,
            "type": "string"
          },
          {
            "name": "approvalRule",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ApprovalRule"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "ApprovalRuleAdmin"
            ]
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ApprovalRule"
            }
          }
        },
        "operationId": "Patch",
        "tags": [
          "ApprovalRule"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "approvalRuleID",
            "in": "path",
            "description": "ID of the approval rule.",
            "required": true,
            "type": "string"
          },
          {
            "name": "partialApprovalRule",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ApprovalRule"
            }
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "ApprovalRuleAdmin"
            ]
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": ""
          }
        },
        "operationId": "Delete",
        "tags": [
          "ApprovalRule"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "approvalRuleID",
            "in": "path",
            "description": "ID of the approval rule.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "oauth2": [
              "FullAccess",
              "ApprovalRuleAdmin"
            ]
          }
        ]
      }
    },
    "/buyers": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ListBuyer"
            }
          }
        },
        "operationId": "List",
        "tags": [
          "Buyer"
        ],
[...]
