{
  "swagger": "2.0",
  "info": {
    "title": "OrderCloud",
    "description": "A full ecommerce backend as a service.",
    "version": "0.1",
    "contact": {
      "name": "Four51",
      "url": "http://public.four51.com/",
      "email": "ordercloud@four51.com"
    }
  },
  "host": "api.ordercloud.io",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "auth": {
      "type": "oauth2",
      "tokenUrl": "https://auth.ordercloud.io/oauth/token",
      "flow": "password",
      "scopes": {
        "FullAccess": "Full access of the security profile.",
        "ProductAdmin": "Product admin of the security profile.",
        "ProductReader": "Product reader of the security profile.",
        "InventoryAdmin": "Inventory admin of the security profile.",
        "ProductAssignmentAdmin": "Product assignment admin of the security profile.",
        "BuyerAdmin": "Buyer admin of the security profile.",
        "BuyerReader": "Buyer reader of the security profile.",
        "CategoryAdmin": "Category admin of the security profile.",
        "CategoryReader": "Category reader of the security profile.",
        "AddressAdmin": "Address admin of the security profile.",
        "AddressReader": "Address reader of the security profile.",
        "CostCenterAdmin": "Cost center admin of the security profile.",
        "CostCenterReader": "Cost center reader of the security profile.",
        "PromotionAdmin": "Promotion admin of the security profile.",
        "PromotionReader": "Promotion reader of the security profile.",
        "CreditCardAdmin": "Credit card admin of the security profile.",
        "CreditCardReader": "Credit card reader of the security profile.",
        "EmailTemplateAdmin": "Email template admin of the security profile.",
        "EmailTemplateReader": "Email template reader of the security profile.",
        "PriceScheduleAdmin": "Price schedule admin of the security profile.",
        "PriceScheduleReader": "Price schedule reader of the security profile.",
        "SpendingAccountAdmin": "Spending account admin of the security profile.",
        "SpendingAccountReader": "Spending account reader of the security profile.",
        "BuyerUserAdmin": "Buyer user admin of the security profile.",
        "BuyerUserReader": "Buyer user reader of the security profile.",
        "UserGroupAdmin": "User group admin of the security profile.",
        "UserGroupReader": "User group reader of the security profile.",
        "ApprovalRuleAdmin": "Approval rule admin of the security profile.",
        "ApprovalRuleReader": "Approval rule reader of the security profile.",
        "PermissionAdmin": "Permission admin of the security profile.",
        "OrderAdmin": "Order admin of the security profile.",
        "OrderReader": "Order reader of the security profile.",
        "UnsubmittedOrderReader": "Unsubmitted order reader of the security profile.",
        "MeAdmin": "Me admin of the security profile.",
        "MeXpAdmin": "Me xp admin of the security profile.",
        "MeAddressAdmin": "Me address admin of the security profile.",
        "MeCreditCardAdmin": "Me credit card admin of the security profile.",
        "OverrideUnitPrice": "Override unit price of the security profile.",
        "OverrideShipping": "Override shipping of the security profile.",
        "OverrideTax": "Override tax of the security profile."
      }
    }
  },
  "security": [
    {
      "auth": []
    }
  ],
  "paths": {
    "/SecurityProfiles/{securityProfileID}": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "Get",
        "tags": [
          "SecurityProfile"
        ],
        "parameters": [
          {
            "name": "securityProfileID",
            "in": "path",
            "description": "ID of the security profile.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/SecurityProfiles": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "List",
        "tags": [
          "SecurityProfile"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Word or phrase to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchOn",
            "in": "query",
            "description": "Comma-delimited list of fields to search on.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Comma-delimited list of fields to sort by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to return. Default: 1",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to return per page. Default: 20, max: 100.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/password/reset": {
      "post": {
        "responses": {
          "204": {
            "description": "Sends a temporary verification code via email, which must subsequently be passed in a Reset Password call."
          }
        },
        "operationId": "SendVerificationCode",
        "tags": [
          "PasswordReset"
        ],
        "parameters": [
          {
            "name": "passwordResetRequest",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PasswordResetRequest"
            }
          }
        ]
      }
    },
    "/password/reset/{verificationCode}": {
      "put": {
        "responses": {
          "204": {
            "description": ""
          }
        },
        "operationId": "ResetPassword",
        "tags": [
          "PasswordReset"
        ],
        "parameters": [
          {
            "name": "verificationCode",
            "in": "path",
            "description": "Verification code of the forgotten password.",
            "required": true,
            "type": "string"
          },
          {
            "name": "passwordReset",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PasswordReset"
            }
          }
        ]
      }
    },
    "/me": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "Get",
        "tags": [
          "Me"
        ],
        "parameters": []
      },
      "put": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "Update",
        "tags": [
          "Me"
        ],
        "parameters": [
          {
            "name": "user",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "Patch",
        "tags": [
          "Me"
        ],
        "parameters": [
          {
            "name": "user",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        ]
      }
    },
    "/me/costcenters": {
      "get": {
        "responses": {
          "200": {
            "description": "Only available to Buyer Users.",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "ListCostCenters",
        "tags": [
          "Me"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Word or phrase to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchOn",
            "in": "query",
            "description": "Comma-delimited list of fields to search on.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Comma-delimited list of fields to sort by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to return. Default: 1",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to return per page. Default: 20, max: 100.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/me/usergroups": {
      "get": {
        "responses": {
          "200": {
            "description": "Only available to Buyer Users.",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "ListUserGroups",
        "tags": [
          "Me"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Word or phrase to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchOn",
            "in": "query",
            "description": "Comma-delimited list of fields to search on.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Comma-delimited list of fields to sort by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to return. Default: 1",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to return per page. Default: 20, max: 100.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/me/addresses": {
      "get": {
        "responses": {
          "200": {
            "description": "Only available to Buyer Users.",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "ListAddresses",
        "tags": [
          "Me"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Word or phrase to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchOn",
            "in": "query",
            "description": "Comma-delimited list of fields to search on.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Comma-delimited list of fields to sort by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to return. Default: 1",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to return per page. Default: 20, max: 100.",
            "required": false,
            "type": "integer"
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "Only available to Buyer Users.",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "CreateAddress",
        "tags": [
          "Me"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BuyerAddress"
            }
          }
        ]
      }
    },
    "/me/addresses/{addressID}": {
      "get": {
        "responses": {
          "200": {
            "description": "Only available to Buyer Users.",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "GetAddress",
        "tags": [
          "Me"
        ],
        "parameters": [
          {
            "name": "addressID",
            "in": "path",
            "description": "ID of the address.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "Only available to Buyer Users.",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "UpdateAddress",
        "tags": [
          "Me"
        ],
        "parameters": [
          {
            "name": "addressID",
            "in": "path",
            "description": "ID of the address.",
            "required": true,
            "type": "string"
          },
          {
            "name": "address",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BuyerAddress"
            }
          }
        ]
      },
      "patch": {
        "responses": {
          "204": {
            "description": "Only available to Buyer Users."
          }
        },
        "operationId": "PatchAddress",
        "tags": [
          "Me"
        ],
        "parameters": [
          {
            "name": "addressID",
            "in": "path",
            "description": "ID of the address.",
            "required": true,
            "type": "string"
          },
          {
            "name": "address",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BuyerAddress"
            }
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": "Only available to Buyer Users."
          }
        },
        "operationId": "DeleteAddress",
        "tags": [
          "Me"
        ],
        "parameters": [
          {
            "name": "addressID",
            "in": "path",
            "description": "ID of the address.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/me/creditcards": {
      "post": {
        "responses": {
          "201": {
            "description": "Only available to Buyer Users.",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "CreateCreditCard",
        "tags": [
          "Me"
        ],
        "parameters": [
          {
            "name": "creditCard",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BuyerCreditCard"
            }
          }
        ]
      },
      "get": {
        "responses": {
          "200": {
            "description": "Only available to Buyer Users.",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "ListCreditCards",
        "tags": [
          "Me"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Word or phrase to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchOn",
            "in": "query",
            "description": "Comma-delimited list of fields to search on.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Comma-delimited list of fields to sort by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to return. Default: 1",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to return per page. Default: 20, max: 100.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/me/creditcards/{creditcardID}": {
      "get": {
        "responses": {
          "200": {
            "description": "Only available to Buyer Users.",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "GetCreditCard",
        "tags": [
          "Me"
        ],
        "parameters": [
          {
            "name": "creditcardID",
            "in": "path",
            "description": "ID of the creditcard.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "Only available to Buyer Users.",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "UpdateCreditCard",
        "tags": [
          "Me"
        ],
        "parameters": [
          {
            "name": "creditcardID",
            "in": "path",
            "description": "ID of the creditcard.",
            "required": true,
            "type": "string"
          },
          {
            "name": "creditCard",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BuyerCreditCard"
            }
          }
        ]
      },
      "patch": {
        "responses": {
          "204": {
            "description": "Only available to Buyer Users."
          }
        },
        "operationId": "PatchCreditCard",
        "tags": [
          "Me"
        ],
        "parameters": [
          {
            "name": "creditcardID",
            "in": "path",
            "description": "ID of the creditcard.",
            "required": true,
            "type": "string"
          },
          {
            "name": "creditCard",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BuyerCreditCard"
            }
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": "Only available to Buyer Users."
          }
        },
        "operationId": "DeleteCreditCard",
        "tags": [
          "Me"
        ],
        "parameters": [
          {
            "name": "creditcardID",
            "in": "path",
            "description": "ID of the creditcard.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/me/categories": {
      "get": {
        "responses": {
          "200": {
            "description": "Only available to Buyer Users.",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "ListCategories",
        "tags": [
          "Me"
        ],
        "parameters": [
          {
            "name": "depth",
            "in": "query",
            "description": "Depth of the category.",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Word or phrase to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchOn",
            "in": "query",
            "description": "Comma-delimited list of fields to search on.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Comma-delimited list of fields to sort by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to return. Default: 1",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to return per page. Default: 20, max: 100.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/me/categories/{parentID}/categories": {
      "get": {
        "responses": {
          "200": {
            "description": "Only available to Buyer Users.",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "ListSubcategories",
        "tags": [
          "Me"
        ],
        "parameters": [
          {
            "name": "parentID",
            "in": "path",
            "description": "ID of the parent.",
            "required": true,
            "type": "string"
          },
          {
            "name": "depth",
            "in": "query",
            "description": "Depth of the category.",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Word or phrase to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchOn",
            "in": "query",
            "description": "Comma-delimited list of fields to search on.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Comma-delimited list of fields to sort by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to return. Default: 1",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to return per page. Default: 20, max: 100.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/me/products": {
      "get": {
        "responses": {
          "200": {
            "description": "Only available to Buyer Users.",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "ListProducts",
        "tags": [
          "Me"
        ],
        "parameters": [
          {
            "name": "categoryID",
            "in": "query",
            "description": "ID of the category.",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Word or phrase to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchOn",
            "in": "query",
            "description": "Comma-delimited list of fields to search on.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Comma-delimited list of fields to sort by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to return. Default: 1",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to return per page. Default: 20, max: 100.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/me/products/{productID}": {
      "get": {
        "responses": {
          "200": {
            "description": "Only available to Buyer Users.",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "GetProduct",
        "tags": [
          "Me"
        ],
        "parameters": [
          {
            "name": "productID",
            "in": "path",
            "description": "ID of the product.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/me/products/{productID}/specs": {
      "get": {
        "responses": {
          "200": {
            "description": "Only available to Buyer Users.",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "ListSpecs",
        "tags": [
          "Me"
        ],
        "parameters": [
          {
            "name": "productID",
            "in": "path",
            "description": "ID of the product.",
            "required": true,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Word or phrase to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchOn",
            "in": "query",
            "description": "Comma-delimited list of fields to search on.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Comma-delimited list of fields to sort by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to return. Default: 1",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to return per page. Default: 20, max: 100.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/me/products/{productID}/specs/{specID}": {
      "get": {
        "responses": {
          "200": {
            "description": "Only available to Buyer Users.",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "GetSpec",
        "tags": [
          "Me"
        ],
        "parameters": [
          {
            "name": "productID",
            "in": "path",
            "description": "ID of the product.",
            "required": true,
            "type": "string"
          },
          {
            "name": "specID",
            "in": "path",
            "description": "ID of the spec.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/me/orders/outgoing": {
      "get": {
        "responses": {
          "200": {
            "description": "Only available to Buyer Users.",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "ListOutgoingOrders",
        "tags": [
          "Me"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Lower bound of date range that the order was created (if outgoing) or submitted (if incoming).",
            "required": false,
            "type": "string"
          },
          {
            "name": "to",
            "in": "query",
            "description": "Upper bound of date range that the order was created (if outgoing) or submitted (if incoming).",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Word or phrase to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchOn",
            "in": "query",
            "description": "Comma-delimited list of fields to search on.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Comma-delimited list of fields to sort by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to return. Default: 1",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to return per page. Default: 20, max: 100.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/me/orders/incoming": {
      "get": {
        "responses": {
          "200": {
            "description": "Only available to Buyer Users.",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "ListIncomingOrders",
        "tags": [
          "Me"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Lower bound of date range that the order was created (if outgoing) or submitted (if incoming).",
            "required": false,
            "type": "string"
          },
          {
            "name": "to",
            "in": "query",
            "description": "Upper bound of date range that the order was created (if outgoing) or submitted (if incoming).",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Word or phrase to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchOn",
            "in": "query",
            "description": "Comma-delimited list of fields to search on.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Comma-delimited list of fields to sort by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to return. Default: 1",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to return per page. Default: 20, max: 100.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/me/orders/{orderID}": {
      "get": {
        "responses": {
          "200": {
            "description": "Only available to Buyer Users.",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "GetOrder",
        "tags": [
          "Me"
        ],
        "parameters": [
          {
            "name": "orderID",
            "in": "path",
            "description": "ID of the order.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/me/promotions": {
      "get": {
        "responses": {
          "200": {
            "description": "Only available to Buyer Users.",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "ListPromotions",
        "tags": [
          "Me"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Word or phrase to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchOn",
            "in": "query",
            "description": "Comma-delimited list of fields to search on.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Comma-delimited list of fields to sort by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to return. Default: 1",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to return per page. Default: 20, max: 100.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/me/promotions/{promotionID}": {
      "get": {
        "responses": {
          "200": {
            "description": "Only available to Buyer Users.",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "GetPromotion",
        "tags": [
          "Me"
        ],
        "parameters": [
          {
            "name": "promotionID",
            "in": "path",
            "description": "ID of the promotion.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/buyers/{buyerID}/orders/{orderID}": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "Get",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderID",
            "in": "path",
            "description": "ID of the order.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "Update",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderID",
            "in": "path",
            "description": "ID of the order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "order",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Order"
            }
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": ""
          }
        },
        "operationId": "Delete",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderID",
            "in": "path",
            "description": "ID of the order.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "Patch",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderID",
            "in": "path",
            "description": "ID of the order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "partialOrder",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Order"
            }
          }
        ]
      }
    },
    "/buyers/{buyerID}/orders": {
      "post": {
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "Create",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "order",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Order"
            }
          }
        ]
      },
      "put": {
        "responses": {
          "204": {
            "description": ""
          }
        },
        "operationId": "TransferTempUserOrder",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "tempUserToken",
            "in": "query",
            "description": "Temp user token of the order.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/orders/outgoing": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "ListOutgoing",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "query",
            "description": "ID of the buyer.",
            "required": false,
            "type": "string"
          },
          {
            "name": "from",
            "in": "query",
            "description": "Lower bound of date range that the order was created.",
            "required": false,
            "type": "string"
          },
          {
            "name": "to",
            "in": "query",
            "description": "Upper bound of date range that the order was created.",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Word or phrase to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchOn",
            "in": "query",
            "description": "Comma-delimited list of fields to search on.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Comma-delimited list of fields to sort by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to return. Default: 1",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to return per page. Default: 20, max: 100.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/orders/incoming": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "ListIncoming",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "query",
            "description": "ID of the buyer.",
            "required": false,
            "type": "string"
          },
          {
            "name": "from",
            "in": "query",
            "description": "Lower bound of date range that the order was submitted.",
            "required": false,
            "type": "string"
          },
          {
            "name": "to",
            "in": "query",
            "description": "Upper bound of date range that the order was submitted.",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Word or phrase to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchOn",
            "in": "query",
            "description": "Comma-delimited list of fields to search on.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Comma-delimited list of fields to sort by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to return. Default: 1",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to return per page. Default: 20, max: 100.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/buyers/{buyerID}/orders/{orderID}/approvals": {
      "get": {
        "responses": {
          "200": {
            "description": "Returns all Approvals associated with the Order.",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "ListApprovals",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderID",
            "in": "path",
            "description": "ID of the order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Word or phrase to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchOn",
            "in": "query",
            "description": "Comma-delimited list of fields to search on.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Comma-delimited list of fields to sort by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to return. Default: 1",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to return per page. Default: 20, max: 100.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/buyers/{buyerID}/orders/{orderID}/eligibleapprovers": {
      "get": {
        "responses": {
          "200": {
            "description": "Returns all Users who can approve or decline this order (but have not done so).",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "ListEligibleApprovers",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderID",
            "in": "path",
            "description": "ID of the order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Word or phrase to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchOn",
            "in": "query",
            "description": "Comma-delimited list of fields to search on.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Comma-delimited list of fields to sort by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to return. Default: 1",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to return per page. Default: 20, max: 100.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/buyers/{buyerID}/orders/{orderID}/submit": {
      "post": {
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "Submit",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderID",
            "in": "path",
            "description": "ID of the order.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/buyers/{buyerID}/orders/{orderID}/approve": {
      "post": {
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "Approve",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderID",
            "in": "path",
            "description": "ID of the order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "comments",
            "in": "query",
            "description": "Comments to be saved with the order approval.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/buyers/{buyerID}/orders/{orderID}/decline": {
      "post": {
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "Decline",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderID",
            "in": "path",
            "description": "ID of the order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "comments",
            "in": "query",
            "description": "Comments to be saved with the order denial.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/buyers/{buyerID}/orders/{orderID}/cancel": {
      "post": {
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "Cancel",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderID",
            "in": "path",
            "description": "ID of the order.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/buyers/{buyerID}/orders/{orderID}/ship": {
      "post": {
        "responses": {
          "201": {
            "description": "Create a new Shipment containing all Line Items from this Order.",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "Ship",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderID",
            "in": "path",
            "description": "ID of the order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shipment",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Shipment"
            }
          }
        ]
      }
    },
    "/buyers/{buyerID}/orders/{orderID}/shipto": {
      "put": {
        "responses": {
          "200": {
            "description": "Set the Shipping Address of all Line Items on the Order. Appropriate only when the address is not to be saved/reused. To use a saved Address (i.e. from the Addresses resource), PATCH the Order's ShippingAddressID property instead.",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "SetShippingAddress",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderID",
            "in": "path",
            "description": "ID of the order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "address",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Address"
            }
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "Partially update the Shipping Address of all Line Items on the Order. Not allowed on unsubmitted orders where ShippingAddressID has been set on any Line Items. In that case, use the Addresses resource to update the Saved Address.",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "PatchShippingAddress",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderID",
            "in": "path",
            "description": "ID of the order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "address",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Address"
            }
          }
        ]
      }
    },
    "/buyers/{buyerID}/orders/{orderID}/billto": {
      "put": {
        "responses": {
          "200": {
            "description": "Set the Billing Address of the Order. Appropriate only when the address is not to be saved/reused. To use a saved Address (i.e. from the Addresses resource), PATCH the Order's BillingAddressID property instead.",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "SetBillingAddress",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderID",
            "in": "path",
            "description": "ID of the order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "address",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Address"
            }
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "Partially update the Billing Address of the Order. Not allowed on unsubmitted Orders where BillingAddressID has been set. In that case, use the Addresses resource to update the Saved Address.",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "PatchBillingAddress",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderID",
            "in": "path",
            "description": "ID of the order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "address",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Address"
            }
          }
        ]
      }
    },
    "/buyers/{buyerID}/orders/{orderID}/promotions/{promoCode}": {
      "post": {
        "responses": {
          "201": {
            "description": "Add a Promotion to an Order.",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "AddPromotion",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderID",
            "in": "path",
            "description": "ID of the order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "promoCode",
            "in": "path",
            "description": "Promo code of the order.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "Remove Promotion from Order.",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "RemovePromotion",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderID",
            "in": "path",
            "description": "ID of the order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "promoCode",
            "in": "path",
            "description": "Promo code of the order.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/buyers/{buyerID}/orders/{orderID}/promotions": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "ListPromotions",
        "tags": [
          "Order"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderID",
            "in": "path",
            "description": "ID of the order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Word or phrase to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchOn",
            "in": "query",
            "description": "Comma-delimited list of fields to search on.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Comma-delimited list of fields to sort by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to return. Default: 1",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to return per page. Default: 20, max: 100.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/buyers/{buyerID}/orders/{orderID}/lineitems/{lineItemID}": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "Get",
        "tags": [
          "LineItem"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderID",
            "in": "path",
            "description": "ID of the order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "lineItemID",
            "in": "path",
            "description": "ID of the line item.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "Update",
        "tags": [
          "LineItem"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderID",
            "in": "path",
            "description": "ID of the order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "lineItemID",
            "in": "path",
            "description": "ID of the line item.",
            "required": true,
            "type": "string"
          },
          {
            "name": "lineItem",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LineItem"
            }
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": ""
          }
        },
        "operationId": "Delete",
        "tags": [
          "LineItem"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderID",
            "in": "path",
            "description": "ID of the order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "lineItemID",
            "in": "path",
            "description": "ID of the line item.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "Patch",
        "tags": [
          "LineItem"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderID",
            "in": "path",
            "description": "ID of the order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "lineItemID",
            "in": "path",
            "description": "ID of the line item.",
            "required": true,
            "type": "string"
          },
          {
            "name": "partialLineItem",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LineItem"
            }
          }
        ]
      }
    },
    "/buyers/{buyerID}/orders/{orderID}/lineitems": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "List",
        "tags": [
          "LineItem"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderID",
            "in": "path",
            "description": "ID of the order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Word or phrase to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchOn",
            "in": "query",
            "description": "Comma-delimited list of fields to search on.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Comma-delimited list of fields to sort by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to return. Default: 1",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to return per page. Default: 20, max: 100.",
            "required": false,
            "type": "integer"
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "Create",
        "tags": [
          "LineItem"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderID",
            "in": "path",
            "description": "ID of the order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "lineItem",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LineItem"
            }
          }
        ]
      }
    },
    "/buyers/{buyerID}/orders/{orderID}/lineitems/{lineItemID}/shipto": {
      "put": {
        "responses": {
          "200": {
            "description": "Set the Shipping Address of the Line Item. Appropriate only when the Address is not to be saved/reused. To use a Saved Address (i.e. from the Addresses resource), PATCH the Line Item's ShippingAddressID property instead.",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "SetShippingAddress",
        "tags": [
          "LineItem"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderID",
            "in": "path",
            "description": "ID of the order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "lineItemID",
            "in": "path",
            "description": "ID of the line item.",
            "required": true,
            "type": "string"
          },
          {
            "name": "address",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Address"
            }
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "Partially update the Shipping Address of the Line Item. Not allowed on unsubmitted Line Items where ShippingAddressID has been set. In that case, use the Addresses resource to update the Saved Address.",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "PatchShippingAddress",
        "tags": [
          "LineItem"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderID",
            "in": "path",
            "description": "ID of the order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "lineItemID",
            "in": "path",
            "description": "ID of the line item.",
            "required": true,
            "type": "string"
          },
          {
            "name": "address",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Address"
            }
          }
        ]
      }
    },
    "/buyers/{buyerID}/orders/{orderID}/payments/{paymentID}": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "Get",
        "tags": [
          "Payment"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderID",
            "in": "path",
            "description": "ID of the order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "paymentID",
            "in": "path",
            "description": "ID of the payment.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "Update",
        "tags": [
          "Payment"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderID",
            "in": "path",
            "description": "ID of the order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "paymentID",
            "in": "path",
            "description": "ID of the payment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "payment",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Payment"
            }
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": ""
          }
        },
        "operationId": "Delete",
        "tags": [
          "Payment"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderID",
            "in": "path",
            "description": "ID of the order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "paymentID",
            "in": "path",
            "description": "ID of the payment.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "Patch",
        "tags": [
          "Payment"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderID",
            "in": "path",
            "description": "ID of the order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "paymentID",
            "in": "path",
            "description": "ID of the payment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "partialPayment",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Payment"
            }
          }
        ]
      }
    },
    "/buyers/{buyerID}/orders/{orderID}/payments": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "List",
        "tags": [
          "Payment"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderID",
            "in": "path",
            "description": "ID of the order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Word or phrase to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchOn",
            "in": "query",
            "description": "Comma-delimited list of fields to search on.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Comma-delimited list of fields to sort by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to return. Default: 1",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to return per page. Default: 20, max: 100.",
            "required": false,
            "type": "integer"
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "Create",
        "tags": [
          "Payment"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderID",
            "in": "path",
            "description": "ID of the order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "payment",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Payment"
            }
          }
        ]
      }
    },
    "/buyers/{buyerID}/orders/{orderID}/payments/{paymentID}/transactions": {
      "post": {
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "CreateTransaction",
        "tags": [
          "Payment"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderID",
            "in": "path",
            "description": "ID of the order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "paymentID",
            "in": "path",
            "description": "ID of the payment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "transaction",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PaymentTransaction"
            }
          }
        ]
      }
    },
    "/buyers/{buyerID}/orders/{orderID}/payments/{paymentID}/transactions/{transactionID}": {
      "put": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "UpdateTransaction",
        "tags": [
          "Payment"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderID",
            "in": "path",
            "description": "ID of the order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "paymentID",
            "in": "path",
            "description": "ID of the payment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "transactionID",
            "in": "path",
            "description": "ID of the transaction.",
            "required": true,
            "type": "string"
          },
          {
            "name": "transaction",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PaymentTransaction"
            }
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "PatchTransaction",
        "tags": [
          "Payment"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderID",
            "in": "path",
            "description": "ID of the order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "paymentID",
            "in": "path",
            "description": "ID of the payment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "transactionID",
            "in": "path",
            "description": "ID of the transaction.",
            "required": true,
            "type": "string"
          },
          {
            "name": "partialTransaction",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PaymentTransaction"
            }
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": ""
          }
        },
        "operationId": "DeleteTransaction",
        "tags": [
          "Payment"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderID",
            "in": "path",
            "description": "ID of the order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "paymentID",
            "in": "path",
            "description": "ID of the payment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "transactionID",
            "in": "path",
            "description": "ID of the transaction.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/buyers/{buyerID}/shipments/{shipmentID}": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "Get",
        "tags": [
          "Shipment"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shipmentID",
            "in": "path",
            "description": "ID of the shipment.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "Update",
        "tags": [
          "Shipment"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shipmentID",
            "in": "path",
            "description": "ID of the shipment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shipment",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Shipment"
            }
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": ""
          }
        },
        "operationId": "Delete",
        "tags": [
          "Shipment"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shipmentID",
            "in": "path",
            "description": "ID of the shipment.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "Patch",
        "tags": [
          "Shipment"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shipmentID",
            "in": "path",
            "description": "ID of the shipment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shipment",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Shipment"
            }
          }
        ]
      }
    },
    "/buyers/{buyerID}/shipments": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "List",
        "tags": [
          "Shipment"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderID",
            "in": "query",
            "description": "ID of the order.",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Word or phrase to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchOn",
            "in": "query",
            "description": "Comma-delimited list of fields to search on.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Comma-delimited list of fields to sort by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to return. Default: 1",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to return per page. Default: 20, max: 100.",
            "required": false,
            "type": "integer"
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "Create",
        "tags": [
          "Shipment"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shipment",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Shipment"
            }
          }
        ]
      }
    },
    "/buyers/{buyerID}/shipments/{shipmentID}/items": {
      "post": {
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "SaveItem",
        "tags": [
          "Shipment"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shipmentID",
            "in": "path",
            "description": "ID of the shipment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "item",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ShipmentItem"
            }
          }
        ]
      }
    },
    "/buyers/{buyerID}/shipments/{shipmentID}/items/{orderID}/{lineItemID}": {
      "delete": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "DeleteItem",
        "tags": [
          "Shipment"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shipmentID",
            "in": "path",
            "description": "ID of the shipment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "orderID",
            "in": "path",
            "description": "ID of the order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "lineItemID",
            "in": "path",
            "description": "ID of the line item.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/buyers/{buyerID}": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "Get",
        "tags": [
          "Buyer"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "Update",
        "tags": [
          "Buyer"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "company",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Buyer"
            }
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": ""
          }
        },
        "operationId": "Delete",
        "tags": [
          "Buyer"
        ],
        "parameters": [
          {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/buyers": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "List",
        "tags": [
          "Buyer"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Word or phrase to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to return. Default: 1",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to return per page. Default: 20, max: 100.",
            "required": false,
            "type": "integer"
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "Create",
        "tags": [
          "Buyer"
        ],
        "parameters": [
          {
            "name": "company",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Buyer"
            }
          }
        ]
      }
    },
    "/adminusers/{userID}": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "Get",
        "tags": [
          "AdminUser"
        ],
        "parameters": [
          {
            "name": "userID",
            "in": "path",
            "description": "ID of the user.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "Update",
        "tags": [
          "AdminUser"
        ],
        "parameters": [
          {
            "name": "userID",
            "in": "path",
            "description": "ID of the user.",
            "required": true,
            "type": "string"
          },
          {
            "name": "user",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": ""
          }
        },
        "operationId": "Delete",
        "tags": [
          "AdminUser"
        ],
        "parameters": [
          {
            "name": "userID",
            "in": "path",
            "description": "ID of the user.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "patch": {
        "responses": {
          "204": {
            "description": ""
          }
        },
        "operationId": "Patch",
        "tags": [
          "AdminUser"
        ],
        "parameters": [
          {
            "name": "userID",
            "in": "path",
            "description": "ID of the user.",
            "required": true,
            "type": "string"
          },
          {
            "name": "user",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        ]
      }
    },
    "/adminusers": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "List",
        "tags": [
          "AdminUser"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Word or phrase to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchOn",
            "in": "query",
            "description": "Comma-delimited list of fields to search on.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Comma-delimited list of fields to sort by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to return. Default: 1",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to return per page. Default: 20, max: 100.",
            "required": false,
            "type": "integer"
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "Create",
        "tags": [
          "AdminUser"
        ],
        "parameters": [
          {
            "name": "user",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        ]
      }
    },
    "/products/{productID}": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "Get",
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "name": "productID",
            "in": "path",
            "description": "ID of the product.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "Update",
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "name": "productID",
            "in": "path",
            "description": "ID of the product.",
            "required": true,
            "type": "string"
          },
          {
            "name": "product",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Product"
            }
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": ""
          }
        },
        "operationId": "Delete",
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "name": "productID",
            "in": "path",
            "description": "ID of the product.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "patch": {
        "responses": {
          "204": {
            "description": ""
          }
        },
        "operationId": "Patch",
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "name": "productID",
            "in": "path",
            "description": "ID of the product.",
            "required": true,
            "type": "string"
          },
          {
            "name": "product",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Product"
            }
          }
        ]
      }
    },
    "/products": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "List",
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Word or phrase to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchOn",
            "in": "query",
            "description": "Comma-delimited list of fields to search on.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Comma-delimited list of fields to sort by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to return. Default: 1",
            "required": false,
            "type": "integer"
          },
          {
[...]
