{
  "swagger": "2.0",
  "info": {
    "title": "OrderCloud",
    "description": "",
    "version": "1.0",
    "contact": {
      "name": "OrderCloud",
      "url": "http://ordercloud.io",
      "email": "ordercloud@four51.com"
    }
  },
  "host": "api.ordercloud.io",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "text/plain; charset=utf-8"
  ],
  "produces": [
    "application/json"
  ],
  "security": [ {
    "oauth2": [

    ]
  } ],
  "securityDefinitions": {
    "oauth2": {
      "type": "oauth2",
      "tokenUrl": "https://auth.ordercloud.io/oauth/token",
      "flow": "password",
      "scopes": {
        "AddressAdmin": "",
        "AddressReader": "",
        "AdminAddressAdmin": "",
        "AdminAddressReader": "",
        "AdminUserAdmin": "",
        "AdminUserGroupAdmin": "",
        "AdminUserGroupReader": "",
        "AdminUserReader": "",
        "ApprovalRuleAdmin": "",
        "ApprovalRuleReader": "",
        "BuyerAdmin": "",
        "BuyerImpersonation": "",
        "BuyerReader": "",
        "BuyerUserAdmin": "",
        "BuyerUserReader": "",
        "CatalogAdmin": "",
        "CatalogReader": "",
        "CategoryAdmin": "",
        "CategoryReader": "",
        "CostCenterAdmin": "",
        "CostCenterReader": "",
        "CreditCardAdmin": "",
        "CreditCardReader": "",
        "FullAccess": "",
        "GrantForAnyRole": "",
        "IncrementorAdmin": "",
        "IncrementorReader": "",
        "InventoryAdmin": "",
        "MeAddressAdmin": "",
        "MeAdmin": "",
        "MeCreditCardAdmin": "",
        "MessageConfigAssignmentAdmin": "",
        "MeXpAdmin": "",
        "OrderAdmin": "",
        "OrderReader": "",
        "OverrideShipping": "",
        "OverrideTax": "",
        "OverrideUnitPrice": "",
        "PasswordReset": "",
        "PriceScheduleAdmin": "",
        "PriceScheduleReader": "",
        "ProductAdmin": "",
        "ProductAssignmentAdmin": "",
        "ProductReader": "",
        "PromotionAdmin": "",
        "PromotionReader": "",
        "SetSecurityProfile": "",
        "ShipmentAdmin": "",
        "ShipmentReader": "",
        "Shopper": "",
        "SpendingAccountAdmin": "",
        "SpendingAccountReader": "",
        "SupplierAdmin": "",
        "SupplierReader": "",
        "SupplierUserAdmin": "",
        "SupplierUserGroupAdmin": "",
        "SupplierUserGroupReader": "",
        "SupplierUserReader": "",
        "UnsubmittedOrderReader": "",
        "UserGroupAdmin": "",
        "UserGroupReader": ""
      }
    }
  },
  "definitions": {
    "AccessToken": {
      "type": "object",
      "properties": {
        "access_token": {
          "type": "string"
        },
        "expires_in": {
          "type": "integer"
        },
        "token_type": {
          "type": "string"
        },
        "refresh_token": {
          "type": "string"
        }
      }
    },
    "Address": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "DateCreated": {
          "type": "string"
        },
        "CompanyName": {
          "type": "string"
        },
        "FirstName": {
          "type": "string"
        },
        "LastName": {
          "type": "string"
        },
        "Street1": {
          "type": "string"
        },
        "Street2": {
          "type": "string"
        },
        "City": {
          "type": "string"
        },
        "State": {
          "type": "string"
        },
        "Zip": {
          "type": "string"
        },
        "Country": {
          "type": "string"
        },
        "Phone": {
          "type": "string"
        },
        "AddressName": {
          "type": "string"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "AddressAssignment": {
      "type": "object",
      "properties": {
        "AddressID": {
          "type": "string"
        },
        "UserID": {
          "type": "string"
        },
        "UserGroupID": {
          "type": "string"
        },
        "IsShipping": {
          "type": "boolean"
        },
        "IsBilling": {
          "type": "boolean"
        }
      }
    },
    "ApprovalRule": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "ApprovingGroupID": {
          "type": "string"
        },
        "RuleExpression": {
          "type": "string"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "Buyer": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "DefaultCatalogID": {
          "type": "string"
        },
        "Active": {
          "type": "boolean"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "BuyerAddress": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Shipping": {
          "type": "boolean"
        },
        "Billing": {
          "type": "boolean"
        },
        "Editable": {
          "type": "boolean"
        },
        "DateCreated": {
          "type": "string"
        },
        "CompanyName": {
          "type": "string"
        },
        "FirstName": {
          "type": "string"
        },
        "LastName": {
          "type": "string"
        },
        "Street1": {
          "type": "string"
        },
        "Street2": {
          "type": "string"
        },
        "City": {
          "type": "string"
        },
        "State": {
          "type": "string"
        },
        "Zip": {
          "type": "string"
        },
        "Country": {
          "type": "string"
        },
        "Phone": {
          "type": "string"
        },
        "AddressName": {
          "type": "string"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "BuyerCreditCard": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Editable": {
          "type": "boolean"
        },
        "Token": {
          "type": "string"
        },
        "DateCreated": {
          "type": "string"
        },
        "CardType": {
          "type": "string"
        },
        "PartialAccountNumber": {
          "type": "string"
        },
        "CardholderName": {
          "type": "string"
        },
        "ExpirationDate": {
          "type": "string"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "BuyerProduct": {
      "type": "object",
      "properties": {
        "PriceSchedule": {
          "$ref": "#/definitions/PriceSchedule"
        },
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "QuantityMultiplier": {
          "type": "integer"
        },
        "ShipWeight": {
          "type": "number"
        },
        "ShipHeight": {
          "type": "number"
        },
        "ShipWidth": {
          "type": "number"
        },
        "ShipLength": {
          "type": "number"
        },
        "Active": {
          "type": "boolean"
        },
        "SpecCount": {
          "type": "integer"
        },
        "xp": {
          "type": "object"
        },
        "VariantCount": {
          "type": "integer"
        },
        "ShipFromAddressID": {
          "type": "string"
        },
        "Inventory": {
          "$ref": "#/definitions/Inventory"
        },
        "AutoForwardSupplierID": {
          "type": "string"
        }
      }
    },
    "BuyerSpec": {
      "type": "object",
      "properties": {
        "Options": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SpecOption"
          }
        },
        "ID": {
          "type": "string"
        },
        "ListOrder": {
          "type": "integer"
        },
        "Name": {
          "type": "string"
        },
        "DefaultValue": {
          "type": "string"
        },
        "Required": {
          "type": "boolean"
        },
        "AllowOpenText": {
          "type": "boolean"
        },
        "DefaultOptionID": {
          "type": "string"
        },
        "DefinesVariant": {
          "type": "boolean"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "Catalog": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "Active": {
          "type": "boolean"
        },
        "CategoryCount": {
          "type": "integer"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "CatalogAssignment": {
      "type": "object",
      "properties": {
        "CatalogID": {
          "type": "string"
        },
        "BuyerID": {
          "type": "string"
        },
        "ViewAllCategories": {
          "type": "boolean"
        },
        "ViewAllProducts": {
          "type": "boolean"
        }
      }
    },
    "Category": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "ListOrder": {
          "type": "integer"
        },
        "Active": {
          "type": "boolean"
        },
        "ParentID": {
          "type": "string"
        },
        "ChildCount": {
          "type": "integer"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "CategoryAssignment": {
      "type": "object",
      "properties": {
        "CategoryID": {
          "type": "string"
        },
        "BuyerID": {
          "type": "string"
        },
        "UserGroupID": {
          "type": "string"
        },
        "Visible": {
          "type": "boolean"
        },
        "ViewAllProducts": {
          "type": "boolean"
        }
      }
    },
    "CategoryProductAssignment": {
      "type": "object",
      "properties": {
        "CategoryID": {
          "type": "string"
        },
        "ProductID": {
          "type": "string"
        },
        "ListOrder": {
          "type": "integer"
        }
      }
    },
    "CostCenter": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "CostCenterAssignment": {
      "type": "object",
      "properties": {
        "CostCenterID": {
          "type": "string"
        },
        "UserGroupID": {
          "type": "string"
        }
      }
    },
    "CreditCard": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Token": {
          "type": "string"
        },
        "DateCreated": {
          "type": "string"
        },
        "CardType": {
          "type": "string"
        },
        "PartialAccountNumber": {
          "type": "string"
        },
        "CardholderName": {
          "type": "string"
        },
        "ExpirationDate": {
          "type": "string"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "CreditCardAssignment": {
      "type": "object",
      "properties": {
        "CreditCardID": {
          "type": "string"
        },
        "UserID": {
          "type": "string"
        },
        "UserGroupID": {
          "type": "string"
        }
      }
    },
    "ImpersonateTokenRequest": {
      "type": "object",
      "properties": {
        "ClientID": {
          "type": "string"
        },
        "Roles": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ImpersonationConfig": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "ImpersonationBuyerID": {
          "type": "string"
        },
        "ImpersonationGroupID": {
          "type": "string"
        },
        "ImpersonationUserID": {
          "type": "string"
        },
        "BuyerID": {
          "type": "string"
        },
        "GroupID": {
          "type": "string"
        },
        "UserID": {
          "type": "string"
        },
        "SecurityProfileID": {
          "type": "string"
        },
        "ClientID": {
          "type": "string"
        }
      }
    },
    "Incrementor": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "LastNumber": {
          "type": "integer"
        },
        "LeftPaddingCount": {
          "type": "integer"
        }
      }
    },
    "Inventory": {
      "type": "object",
      "properties": {
        "Enabled": {
          "type": "boolean"
        },
        "NotificationPoint": {
          "type": "integer"
        },
        "VariantLevelTracking": {
          "type": "boolean"
        },
        "OrderCanExceed": {
          "type": "boolean"
        },
        "QuantityAvailable": {
          "type": "integer"
        },
        "LastUpdated": {
          "type": "string"
        }
      }
    },
    "LineItem": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "ProductID": {
          "type": "string"
        },
        "Quantity": {
          "type": "integer"
        },
        "DateAdded": {
          "type": "string"
        },
        "QuantityShipped": {
          "type": "integer"
        },
        "UnitPrice": {
          "type": "number"
        },
        "LineTotal": {
          "type": "number"
        },
        "CostCenter": {
          "type": "string"
        },
        "DateNeeded": {
          "type": "string"
        },
        "ShippingAccount": {
          "type": "string"
        },
        "ShippingAddressID": {
          "type": "string"
        },
        "ShipFromAddressID": {
          "type": "string"
        },
        "Product": {
          "$ref": "#/definitions/LineItemProduct"
        },
        "ShippingAddress": {
          "$ref": "#/definitions/Address"
        },
        "ShipFromAddress": {
          "$ref": "#/definitions/Address"
        },
        "Specs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LineItemSpec"
          }
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "LineItemProduct": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "QuantityMultiplier": {
          "type": "integer"
        },
        "ShipWeight": {
          "type": "number"
        },
        "ShipHeight": {
          "type": "number"
        },
        "ShipWidth": {
          "type": "number"
        },
        "ShipLength": {
          "type": "number"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "LineItemSpec": {
      "type": "object",
      "properties": {
        "SpecID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "OptionID": {
          "type": "string"
        },
        "Value": {
          "type": "string"
        }
      }
    },
    "ListAddress": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Address"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListAddressAssignment": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AddressAssignment"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListApprovalRule": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApprovalRule"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListBuyer": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Buyer"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListBuyerAddress": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuyerAddress"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListBuyerCreditCard": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuyerCreditCard"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListBuyerProduct": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuyerProduct"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListBuyerSpec": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuyerSpec"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListCatalog": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Catalog"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListCatalogAssignment": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CatalogAssignment"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListCategory": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Category"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListCategoryAssignment": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CategoryAssignment"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListCategoryProductAssignment": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CategoryProductAssignment"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListCostCenter": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CostCenter"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListCostCenterAssignment": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CostCenterAssignment"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListCreditCard": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CreditCard"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListCreditCardAssignment": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CreditCardAssignment"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListImpersonationConfig": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImpersonationConfig"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListIncrementor": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Incrementor"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListLineItem": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LineItem"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListMessageCCListenerAssignment": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MessageCCListenerAssignment"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListMessageSender": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MessageSender"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListMessageSenderAssignment": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MessageSenderAssignment"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListOrder": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Order"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListOrderApproval": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OrderApproval"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListOrderPromotion": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OrderPromotion"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListPayment": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Payment"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListPriceSchedule": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PriceSchedule"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListProduct": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Product"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListProductAssignment": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductAssignment"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListProductCatalogAssignment": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductCatalogAssignment"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListPromotion": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Promotion"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListPromotionAssignment": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PromotionAssignment"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListSecurityProfile": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityProfile"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListSecurityProfileAssignment": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityProfileAssignment"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListShipment": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Shipment"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListShipmentItem": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ShipmentItem"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListSpec": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Spec"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListSpecOption": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SpecOption"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListSpecProductAssignment": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SpecProductAssignment"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListSpendingAccount": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SpendingAccount"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListSpendingAccountAssignment": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SpendingAccountAssignment"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListSupplier": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Supplier"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListUser": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/User"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListUserGroup": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UserGroup"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListUserGroupAssignment": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UserGroupAssignment"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "ListVariant": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Variant"
          }
        },
        "Meta": {
          "$ref": "#/definitions/Meta"
        }
      }
    },
    "MeBuyer": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "DefaultCatalogID": {
          "type": "string"
        }
      }
    },
    "MessageCCListenerAssignment": {
      "type": "object",
      "properties": {
        "MessageSenderAssignment": {
          "$ref": "#/definitions/MessageSenderAssignment"
        },
        "MessageConfigName": {
          "type": "string"
        },
        "MessageConfigDescription": {
          "type": "string"
        },
        "MessageType": {
          "type": "string"
        },
        "BuyerID": {
          "type": "string"
        },
        "UserGroupID": {
          "type": "string"
        },
        "UserID": {
          "type": "string"
        }
      }
    },
    "MessageSender": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "MessageTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "Description": {
          "type": "string"
        }
      }
    },
    "MessageSenderAssignment": {
      "type": "object",
      "properties": {
        "MessageSenderID": {
          "type": "string"
        },
        "BuyerID": {
          "type": "string"
        },
        "UserGroupID": {
          "type": "string"
        },
        "MessageConfigName": {
          "type": "string"
        },
        "MessageConfigDescription": {
          "type": "string"
        }
      }
    },
    "Meta": {
      "type": "object",
      "properties": {
        "Page": {
          "type": "integer"
        },
        "PageSize": {
          "type": "integer"
        },
        "TotalCount": {
          "type": "integer"
        },
        "TotalPages": {
          "type": "integer"
        },
        "ItemRange": {
          "type": "array",
          "items": {
            "type": "integer"
          }
        }
      }
    },
    "MeUser": {
      "type": "object",
      "properties": {
        "Buyer": {
          "$ref": "#/definitions/MeBuyer"
        },
        "ID": {
          "type": "string"
        },
        "Username": {
          "type": "string"
        },
        "Password": {
          "type": "string"
        },
        "FirstName": {
          "type": "string"
        },
        "LastName": {
          "type": "string"
        },
        "Email": {
          "type": "string"
        },
        "Phone": {
          "type": "string"
        },
        "TermsAccepted": {
          "type": "string"
        },
        "Active": {
          "type": "boolean"
        },
        "xp": {
          "type": "object"
        },
        "AvailableRoles": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Order": {
      "type": "object",
      "properties": {
        "xp": {
          "type": "object"
        },
        "ID": {
          "type": "string"
        },
        "FromUser": {
          "$ref": "#/definitions/User"
        },
        "FromCompanyID": {
          "type": "string"
        },
        "FromUserID": {
          "type": "string"
        },
        "BillingAddressID": {
          "type": "string"
        },
        "BillingAddress": {
          "$ref": "#/definitions/Address"
        },
        "ShippingAddressID": {
          "type": "string"
        },
        "Comments": {
          "type": "string"
        },
        "LineItemCount": {
          "type": "integer"
        },
        "Status": {
          "type": "string"
        },
        "DateCreated": {
          "type": "string"
        },
        "DateSubmitted": {
          "type": "string"
        },
        "DateApproved": {
          "type": "string"
        },
        "DateDeclined": {
          "type": "string"
        },
        "DateCanceled": {
          "type": "string"
        },
        "DateCompleted": {
          "type": "string"
        },
        "Subtotal": {
          "type": "number"
        },
        "ShippingCost": {
          "type": "number"
        },
        "TaxCost": {
          "type": "number"
        },
        "PromotionDiscount": {
          "type": "number"
        },
        "Total": {
          "type": "number"
        },
        "IsSubmitted": {
          "type": "boolean"
        }
      }
    },
    "OrderApproval": {
      "type": "object",
      "properties": {
        "ApprovalRuleID": {
          "type": "string"
        },
        "ApprovingGroupID": {
          "type": "string"
        },
        "Status": {
          "type": "string"
        },
        "DateCreated": {
          "type": "string"
        },
        "DateCompleted": {
          "type": "string"
        },
        "Approver": {
          "$ref": "#/definitions/User"
        },
        "Comments": {
          "type": "string"
        }
      }
    },
    "OrderApprovalInfo": {
      "type": "object",
      "properties": {
        "Comments": {
          "type": "string"
        },
        "AllowResubmit": {
          "type": "boolean"
        }
      }
    },
    "OrderPromotion": {
      "type": "object",
      "properties": {
        "Amount": {
          "type": "number"
        },
        "ID": {
          "type": "string"
        },
        "Code": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "RedemptionLimit": {
          "type": "integer"
        },
        "RedemptionLimitPerUser": {
          "type": "integer"
        },
        "RedemptionCount": {
          "type": "integer"
        },
        "Description": {
          "type": "string"
        },
        "FinePrint": {
          "type": "string"
        },
        "StartDate": {
          "type": "string"
        },
        "ExpirationDate": {
          "type": "string"
        },
        "EligibleExpression": {
          "type": "string"
        },
        "ValueExpression": {
          "type": "string"
        },
        "CanCombine": {
          "type": "boolean"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "PartialAddress": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "DateCreated": {
          "type": "string"
        },
        "CompanyName": {
          "type": "string"
        },
        "FirstName": {
          "type": "string"
        },
        "LastName": {
          "type": "string"
        },
        "Street1": {
          "type": "string"
        },
        "Street2": {
          "type": "string"
        },
        "City": {
          "type": "string"
        },
        "State": {
          "type": "string"
        },
        "Zip": {
          "type": "string"
        },
        "Country": {
          "type": "string"
        },
        "Phone": {
          "type": "string"
        },
        "AddressName": {
          "type": "string"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "PartialApprovalRule": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "ApprovingGroupID": {
          "type": "string"
        },
        "RuleExpression": {
          "type": "string"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "PartialBuyer": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "DefaultCatalogID": {
          "type": "string"
        },
        "Active": {
          "type": "boolean"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "PartialBuyerAddress": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Shipping": {
          "type": "boolean"
        },
        "Billing": {
          "type": "boolean"
        },
        "Editable": {
          "type": "boolean"
        },
        "DateCreated": {
          "type": "string"
        },
        "CompanyName": {
          "type": "string"
        },
        "FirstName": {
          "type": "string"
        },
        "LastName": {
          "type": "string"
        },
        "Street1": {
          "type": "string"
        },
        "Street2": {
          "type": "string"
        },
        "City": {
          "type": "string"
        },
        "State": {
          "type": "string"
        },
        "Zip": {
          "type": "string"
        },
        "Country": {
          "type": "string"
        },
        "Phone": {
          "type": "string"
        },
        "AddressName": {
          "type": "string"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "PartialBuyerCreditCard": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Editable": {
          "type": "boolean"
        },
        "Token": {
          "type": "string"
        },
        "DateCreated": {
          "type": "string"
        },
        "CardType": {
          "type": "string"
        },
        "PartialAccountNumber": {
          "type": "string"
        },
        "CardholderName": {
          "type": "string"
        },
        "ExpirationDate": {
          "type": "string"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "PartialCatalog": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "Active": {
          "type": "boolean"
        },
        "CategoryCount": {
          "type": "integer"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "PartialCategory": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "ListOrder": {
          "type": "integer"
        },
        "Active": {
          "type": "boolean"
        },
        "ParentID": {
          "type": "string"
        },
        "ChildCount": {
          "type": "integer"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "PartialCostCenter": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "PartialCreditCard": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Token": {
          "type": "string"
        },
        "DateCreated": {
          "type": "string"
        },
        "CardType": {
          "type": "string"
        },
        "PartialAccountNumber": {
          "type": "string"
        },
        "CardholderName": {
          "type": "string"
        },
        "ExpirationDate": {
          "type": "string"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "PartialImpersonationConfig": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "ImpersonationBuyerID": {
          "type": "string"
        },
        "ImpersonationGroupID": {
          "type": "string"
        },
        "ImpersonationUserID": {
          "type": "string"
        },
        "BuyerID": {
          "type": "string"
        },
        "GroupID": {
          "type": "string"
        },
        "UserID": {
          "type": "string"
        },
        "SecurityProfileID": {
          "type": "string"
        },
        "ClientID": {
          "type": "string"
        }
      }
    },
    "PartialIncrementor": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "LastNumber": {
          "type": "integer"
        },
        "LeftPaddingCount": {
          "type": "integer"
        }
      }
    },
    "PartialInventory": {
      "type": "object",
      "properties": {
        "Enabled": {
          "type": "boolean"
        },
        "NotificationPoint": {
          "type": "integer"
        },
        "VariantLevelTracking": {
          "type": "boolean"
        },
        "OrderCanExceed": {
          "type": "boolean"
        },
        "QuantityAvailable": {
          "type": "integer"
        },
        "LastUpdated": {
          "type": "string"
        }
      }
    },
    "PartialLineItem": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "ProductID": {
          "type": "string"
        },
        "Quantity": {
          "type": "integer"
        },
        "DateAdded": {
          "type": "string"
        },
        "QuantityShipped": {
          "type": "integer"
        },
        "UnitPrice": {
          "type": "number"
        },
        "LineTotal": {
          "type": "number"
        },
        "CostCenter": {
          "type": "string"
        },
        "DateNeeded": {
          "type": "string"
        },
        "ShippingAccount": {
          "type": "string"
        },
        "ShippingAddressID": {
          "type": "string"
        },
        "ShipFromAddressID": {
          "type": "string"
        },
        "Product": {
          "$ref": "#/definitions/LineItemProduct"
        },
        "ShippingAddress": {
          "$ref": "#/definitions/Address"
        },
        "ShipFromAddress": {
          "$ref": "#/definitions/Address"
        },
        "Specs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LineItemSpec"
          }
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "PartialLineItemProduct": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "QuantityMultiplier": {
          "type": "integer"
        },
        "ShipWeight": {
          "type": "number"
        },
        "ShipHeight": {
          "type": "number"
        },
        "ShipWidth": {
          "type": "number"
        },
        "ShipLength": {
          "type": "number"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "PartialLineItemSpec": {
      "type": "object",
      "properties": {
        "SpecID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "OptionID": {
          "type": "string"
        },
        "Value": {
          "type": "string"
        }
      }
    },
    "PartialMeBuyer": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "DefaultCatalogID": {
          "type": "string"
        }
      }
    },
    "PartialMeUser": {
      "type": "object",
      "properties": {
        "Buyer": {
          "$ref": "#/definitions/MeBuyer"
        },
        "ID": {
          "type": "string"
        },
        "Username": {
          "type": "string"
        },
        "Password": {
          "type": "string"
        },
        "FirstName": {
          "type": "string"
        },
        "LastName": {
          "type": "string"
        },
        "Email": {
          "type": "string"
        },
        "Phone": {
          "type": "string"
        },
        "TermsAccepted": {
          "type": "string"
        },
        "Active": {
          "type": "boolean"
        },
        "xp": {
          "type": "object"
        },
        "AvailableRoles": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PartialOrder": {
      "type": "object",
      "properties": {
        "xp": {
          "type": "object"
        },
        "ID": {
          "type": "string"
        },
        "FromUser": {
          "$ref": "#/definitions/User"
        },
        "FromCompanyID": {
          "type": "string"
        },
        "FromUserID": {
          "type": "string"
        },
        "BillingAddressID": {
          "type": "string"
        },
        "BillingAddress": {
          "$ref": "#/definitions/Address"
        },
        "ShippingAddressID": {
          "type": "string"
        },
        "Comments": {
          "type": "string"
        },
        "LineItemCount": {
          "type": "integer"
        },
        "Status": {
          "type": "string"
        },
        "DateCreated": {
          "type": "string"
        },
        "DateSubmitted": {
          "type": "string"
        },
        "DateApproved": {
          "type": "string"
        },
        "DateDeclined": {
          "type": "string"
        },
        "DateCanceled": {
          "type": "string"
        },
        "DateCompleted": {
          "type": "string"
        },
        "Subtotal": {
          "type": "number"
        },
        "ShippingCost": {
          "type": "number"
        },
        "TaxCost": {
          "type": "number"
        },
        "PromotionDiscount": {
          "type": "number"
        },
        "Total": {
          "type": "number"
        },
        "IsSubmitted": {
          "type": "boolean"
        }
      }
    },
    "PartialPayment": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Type": {
          "type": "string"
        },
        "DateCreated": {
          "type": "string"
        },
        "CreditCardID": {
          "type": "string"
        },
        "SpendingAccountID": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "Amount": {
          "type": "number"
        },
        "Accepted": {
          "type": "boolean"
        },
        "xp": {
          "type": "object"
        },
        "Transactions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PaymentTransaction"
          }
        }
      }
    },
    "PartialPaymentTransaction": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Type": {
          "type": "string"
        },
        "DateExecuted": {
          "type": "string"
        },
        "Amount": {
          "type": "number"
        },
        "Succeeded": {
          "type": "boolean"
        },
        "ResultCode": {
          "type": "string"
        },
        "ResultMessage": {
          "type": "string"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "PartialPriceBreak": {
      "type": "object",
      "properties": {
        "Quantity": {
          "type": "integer"
        },
        "Price": {
          "type": "number"
        }
      }
    },
    "PartialPriceSchedule": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "ApplyTax": {
          "type": "boolean"
        },
        "ApplyShipping": {
          "type": "boolean"
        },
        "MinQuantity": {
          "type": "integer"
        },
        "MaxQuantity": {
          "type": "integer"
        },
        "UseCumulativeQuantity": {
          "type": "boolean"
        },
        "RestrictedQuantity": {
          "type": "boolean"
        },
        "PriceBreaks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PriceBreak"
          }
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "PartialProduct": {
      "type": "object",
      "properties": {
        "DefaultPriceScheduleID": {
          "type": "string"
        },
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "QuantityMultiplier": {
          "type": "integer"
        },
        "ShipWeight": {
          "type": "number"
        },
        "ShipHeight": {
          "type": "number"
        },
        "ShipWidth": {
          "type": "number"
        },
        "ShipLength": {
          "type": "number"
        },
        "Active": {
          "type": "boolean"
        },
        "SpecCount": {
          "type": "integer"
        },
        "xp": {
          "type": "object"
        },
        "VariantCount": {
          "type": "integer"
        },
        "ShipFromAddressID": {
          "type": "string"
        },
        "Inventory": {
          "$ref": "#/definitions/Inventory"
        },
        "AutoForwardSupplierID": {
          "type": "string"
        }
      }
    },
    "PartialPromotion": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Code": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "RedemptionLimit": {
          "type": "integer"
        },
        "RedemptionLimitPerUser": {
          "type": "integer"
        },
        "RedemptionCount": {
          "type": "integer"
        },
        "Description": {
          "type": "string"
        },
        "FinePrint": {
          "type": "string"
        },
        "StartDate": {
          "type": "string"
        },
        "ExpirationDate": {
          "type": "string"
        },
        "EligibleExpression": {
          "type": "string"
        },
        "ValueExpression": {
          "type": "string"
        },
        "CanCombine": {
          "type": "boolean"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "PartialShipment": {
      "type": "object",
      "properties": {
        "xp": {
          "type": "object"
        },
        "ID": {
          "type": "string"
        },
        "BuyerID": {
          "type": "string"
        },
        "Shipper": {
          "type": "string"
        },
        "DateShipped": {
          "type": "string"
        },
        "DateDelivered": {
          "type": "string"
        },
        "TrackingNumber": {
          "type": "string"
        },
        "Cost": {
          "type": "number"
        },
        "Account": {
          "type": "string"
        },
        "FromAddressID": {
          "type": "string"
        },
        "ToAddressID": {
          "type": "string"
        },
        "FromAddress": {
          "$ref": "#/definitions/Address"
        },
        "ToAddress": {
          "$ref": "#/definitions/Address"
        }
      }
    },
    "PartialSpec": {
      "type": "object",
      "properties": {
        "OptionCount": {
          "type": "integer"
        },
        "ID": {
          "type": "string"
        },
        "ListOrder": {
          "type": "integer"
        },
        "Name": {
          "type": "string"
        },
        "DefaultValue": {
          "type": "string"
        },
        "Required": {
          "type": "boolean"
        },
        "AllowOpenText": {
          "type": "boolean"
        },
        "DefaultOptionID": {
          "type": "string"
        },
        "DefinesVariant": {
          "type": "boolean"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "PartialSpecOption": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Value": {
          "type": "string"
        },
        "ListOrder": {
          "type": "integer"
        },
        "IsOpenText": {
          "type": "boolean"
        },
        "PriceMarkupType": {
          "type": "string"
        },
        "PriceMarkup": {
          "type": "number"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "PartialSpendingAccount": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "Balance": {
          "type": "number"
        },
        "AllowAsPaymentMethod": {
          "type": "boolean"
        },
        "RedemptionCode": {
          "type": "string"
        },
        "StartDate": {
          "type": "string"
        },
        "EndDate": {
          "type": "string"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "PartialSupplier": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "Active": {
          "type": "boolean"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "PartialUser": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Username": {
          "type": "string"
        },
        "Password": {
          "type": "string"
        },
        "FirstName": {
          "type": "string"
        },
        "LastName": {
          "type": "string"
        },
        "Email": {
          "type": "string"
        },
        "Phone": {
          "type": "string"
        },
        "TermsAccepted": {
          "type": "string"
        },
        "Active": {
          "type": "boolean"
        },
        "xp": {
          "type": "object"
        },
        "AvailableRoles": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PartialUserGroup": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "PartialVariant": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "Active": {
          "type": "boolean"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "PasswordReset": {
      "type": "object",
      "properties": {
        "ClientID": {
          "type": "string"
        },
        "Username": {
          "type": "string"
        },
        "Password": {
          "type": "string"
        }
      }
    },
    "PasswordResetRequest": {
      "type": "object",
      "properties": {
        "ClientID": {
          "type": "string"
        },
        "Email": {
          "type": "string"
        },
        "Username": {
          "type": "string"
        },
        "URL": {
          "type": "string"
        }
      }
    },
    "Payment": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Type": {
          "type": "string"
        },
        "DateCreated": {
          "type": "string"
        },
        "CreditCardID": {
          "type": "string"
        },
        "SpendingAccountID": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "Amount": {
          "type": "number"
        },
        "Accepted": {
          "type": "boolean"
        },
        "xp": {
          "type": "object"
        },
        "Transactions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PaymentTransaction"
          }
        }
      }
    },
    "PaymentTransaction": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Type": {
          "type": "string"
        },
        "DateExecuted": {
          "type": "string"
        },
        "Amount": {
          "type": "number"
        },
        "Succeeded": {
          "type": "boolean"
        },
        "ResultCode": {
          "type": "string"
        },
        "ResultMessage": {
          "type": "string"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "PriceBreak": {
      "type": "object",
      "properties": {
        "Quantity": {
          "type": "integer"
        },
        "Price": {
          "type": "number"
        }
      }
    },
    "PriceSchedule": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "ApplyTax": {
          "type": "boolean"
        },
        "ApplyShipping": {
          "type": "boolean"
        },
        "MinQuantity": {
          "type": "integer"
        },
        "MaxQuantity": {
          "type": "integer"
        },
        "UseCumulativeQuantity": {
          "type": "boolean"
        },
        "RestrictedQuantity": {
          "type": "boolean"
        },
        "PriceBreaks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PriceBreak"
          }
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "Product": {
      "type": "object",
      "properties": {
        "DefaultPriceScheduleID": {
          "type": "string"
        },
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "QuantityMultiplier": {
          "type": "integer"
        },
        "ShipWeight": {
          "type": "number"
        },
        "ShipHeight": {
          "type": "number"
        },
        "ShipWidth": {
          "type": "number"
        },
        "ShipLength": {
          "type": "number"
        },
        "Active": {
          "type": "boolean"
        },
        "SpecCount": {
          "type": "integer"
        },
        "xp": {
          "type": "object"
        },
        "VariantCount": {
          "type": "integer"
        },
        "ShipFromAddressID": {
          "type": "string"
        },
        "Inventory": {
          "$ref": "#/definitions/Inventory"
        },
        "AutoForwardSupplierID": {
          "type": "string"
        }
      }
    },
    "ProductAssignment": {
      "type": "object",
      "properties": {
        "ProductID": {
          "type": "string"
        },
        "BuyerID": {
          "type": "string"
        },
        "UserGroupID": {
          "type": "string"
        },
        "PriceScheduleID": {
          "type": "string"
        }
      }
    },
    "ProductCatalogAssignment": {
      "type": "object",
      "properties": {
        "CatalogID": {
          "type": "string"
        },
        "ProductID": {
          "type": "string"
        }
      }
    },
    "Promotion": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Code": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "RedemptionLimit": {
          "type": "integer"
        },
        "RedemptionLimitPerUser": {
          "type": "integer"
        },
        "RedemptionCount": {
          "type": "integer"
        },
        "Description": {
          "type": "string"
        },
        "FinePrint": {
          "type": "string"
        },
        "StartDate": {
          "type": "string"
        },
        "ExpirationDate": {
          "type": "string"
        },
        "EligibleExpression": {
          "type": "string"
        },
        "ValueExpression": {
          "type": "string"
        },
        "CanCombine": {
          "type": "boolean"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "PromotionAssignment": {
      "type": "object",
      "properties": {
        "PromotionID": {
          "type": "string"
        },
        "BuyerID": {
          "type": "string"
        },
        "UserGroupID": {
          "type": "string"
        }
      }
    },
    "SecurityProfile": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "Roles": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SecurityProfileAssignment": {
      "type": "object",
      "properties": {
        "SecurityProfileID": {
          "type": "string"
        },
        "BuyerID": {
          "type": "string"
        },
        "SupplierID": {
          "type": "string"
        },
        "UserID": {
          "type": "string"
        },
        "UserGroupID": {
          "type": "string"
        }
      }
    },
    "Shipment": {
      "type": "object",
      "properties": {
        "xp": {
          "type": "object"
        },
        "ID": {
          "type": "string"
        },
        "BuyerID": {
          "type": "string"
        },
        "Shipper": {
          "type": "string"
        },
        "DateShipped": {
          "type": "string"
        },
        "DateDelivered": {
          "type": "string"
        },
        "TrackingNumber": {
          "type": "string"
        },
        "Cost": {
          "type": "number"
        },
        "Account": {
          "type": "string"
        },
        "FromAddressID": {
          "type": "string"
        },
        "ToAddressID": {
          "type": "string"
        },
        "FromAddress": {
          "$ref": "#/definitions/Address"
        },
        "ToAddress": {
          "$ref": "#/definitions/Address"
        }
      }
    },
    "ShipmentItem": {
      "type": "object",
      "properties": {
        "OrderID": {
          "type": "string"
        },
        "LineItemID": {
          "type": "string"
        },
        "QuantityShipped": {
          "type": "integer"
        },
        "UnitPrice": {
          "type": "number"
        },
        "CostCenter": {
          "type": "string"
        },
        "DateNeeded": {
          "type": "string"
        },
        "Product": {
          "$ref": "#/definitions/LineItemProduct"
        },
        "Specs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LineItemSpec"
          }
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "Spec": {
      "type": "object",
      "properties": {
        "OptionCount": {
          "type": "integer"
        },
        "ID": {
          "type": "string"
        },
        "ListOrder": {
          "type": "integer"
        },
        "Name": {
          "type": "string"
        },
        "DefaultValue": {
          "type": "string"
        },
        "Required": {
          "type": "boolean"
        },
        "AllowOpenText": {
          "type": "boolean"
        },
        "DefaultOptionID": {
          "type": "string"
        },
        "DefinesVariant": {
          "type": "boolean"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "SpecOption": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Value": {
          "type": "string"
        },
        "ListOrder": {
          "type": "integer"
        },
        "IsOpenText": {
          "type": "boolean"
        },
        "PriceMarkupType": {
          "type": "string"
        },
        "PriceMarkup": {
          "type": "number"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "SpecProductAssignment": {
      "type": "object",
      "properties": {
        "SpecID": {
          "type": "string"
        },
        "ProductID": {
          "type": "string"
        },
        "DefaultValue": {
          "type": "string"
        },
        "DefaultOptionID": {
          "type": "string"
        }
      }
    },
    "SpendingAccount": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "Balance": {
          "type": "number"
        },
        "AllowAsPaymentMethod": {
          "type": "boolean"
        },
        "RedemptionCode": {
          "type": "string"
        },
        "StartDate": {
          "type": "string"
        },
        "EndDate": {
          "type": "string"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "SpendingAccountAssignment": {
      "type": "object",
      "properties": {
        "SpendingAccountID": {
          "type": "string"
        },
        "UserID": {
          "type": "string"
        },
        "UserGroupID": {
          "type": "string"
        },
        "AllowExceed": {
          "type": "boolean"
        }
      }
    },
    "Supplier": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "Active": {
          "type": "boolean"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "TokenPasswordReset": {
      "type": "object",
      "properties": {
        "NewPassword": {
          "type": "string"
        }
      }
    },
    "User": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Username": {
          "type": "string"
        },
        "Password": {
          "type": "string"
        },
        "FirstName": {
          "type": "string"
        },
        "LastName": {
          "type": "string"
        },
        "Email": {
          "type": "string"
        },
        "Phone": {
          "type": "string"
        },
        "TermsAccepted": {
          "type": "string"
        },
        "Active": {
          "type": "boolean"
        },
        "xp": {
          "type": "object"
        },
        "AvailableRoles": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "UserGroup": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "xp": {
          "type": "object"
        }
      }
    },
    "UserGroupAssignment": {
      "type": "object",
      "properties": {
        "UserGroupID": {
          "type": "string"
        },
        "UserID": {
          "type": "string"
        }
      }
    },
    "Variant": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "Active": {
          "type": "boolean"
        },
        "xp": {
          "type": "object"
        }
      }
    }
  },
  "paths": {
    "/addresses": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ListAddress"
            }
          }
        },
        "operationId": "List",
        "tags": [
          "AdminAddress"
        ],
        "parameters": [ {
            "name": "search",
            "in": "query",
            "description": "Word or phrase to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchOn",
            "in": "query",
            "description": "Comma-delimited list of fields to search on.",
            "required": false,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Comma-delimited list of fields to sort by.",
            "required": false,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to return. Default: 1",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to return per page. Default: 20, max: 100.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Any additional key/value pairs passed in the query string are interpretted as filters. Valid keys are top-level properties of the returned model or 'xp.???'",
            "required": false,
            "type": "object"
          }
        ],
        "security": [ {
          "oauth2": [
            "FullAccess",
            "AdminAddressAdmin",
            "AdminAddressReader"
          ]
        } ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "If ID is provided and an object with that ID already exists, a 409 (conflict) error is returned.",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          }
        },
        "operationId": "Create",
        "tags": [
          "AdminAddress"
        ],
        "parameters": [ {
          "name": "address",
          "in": "body",
          "required": true,
          "description": "",
          "schema": {
            "$ref": "#/definitions/Address"
          }
        } ],
        "security": [ {
          "oauth2": [
            "FullAccess",
            "AdminAddressAdmin"
          ]
        } ]
      }
    },
    "/addresses/{addressID}": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          }
        },
        "operationId": "Get",
        "tags": [
          "AdminAddress"
        ],
        "parameters": [ {
          "name": "addressID",
          "in": "path",
          "description": "ID of the address.",
          "required": true,
          "type": "string"
        } ],
        "security": [ {
          "oauth2": [
            "FullAccess",
            "AdminAddressAdmin",
            "AdminAddressReader"
          ]
        } ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "If an object with the same ID already exists, it will be overwritten.",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          }
        },
        "operationId": "Save",
        "tags": [
          "AdminAddress"
        ],
        "parameters": [ {
            "name": "addressID",
            "in": "path",
            "description": "ID of the address.",
            "required": true,
            "type": "string"
          },
          {
            "name": "address",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          }
        ],
        "security": [ {
          "oauth2": [
            "FullAccess",
            "AdminAddressAdmin"
          ]
        } ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": ""
          }
        },
        "operationId": "Delete",
        "tags": [
          "AdminAddress"
        ],
        "parameters": [ {
          "name": "addressID",
          "in": "path",
          "description": "ID of the address.",
          "required": true,
          "type": "string"
        } ],
        "security": [ {
          "oauth2": [
            "FullAccess",
            "AdminAddressAdmin"
          ]
        } ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          }
        },
        "operationId": "Patch",
        "tags": [
          "AdminAddress"
        ],
        "parameters": [ {
            "name": "addressID",
            "in": "path",
            "description": "ID of the address.",
            "required": true,
            "type": "string"
          },
          {
            "name": "partialAddress",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          }
        ],
        "security": [ {
          "oauth2": [
            "FullAccess",
            "AdminAddressAdmin"
          ]
        } ]
      }
    },
    "/adminusers": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ListUser"
            }
          }
        },
        "operationId": "List",
        "tags": [
          "AdminUser"
        ],
        "parameters": [ {
            "name": "search",
            "in": "query",
            "description": "Word or phrase to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchOn",
            "in": "query",
            "description": "Comma-delimited list of fields to search on.",
            "required": false,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Comma-delimited list of fields to sort by.",
            "required": false,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to return. Default: 1",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to return per page. Default: 20, max: 100.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Any additional key/value pairs passed in the query string are interpretted as filters. Valid keys are top-level properties of the returned model or 'xp.???'",
            "required": false,
            "type": "object"
          }
        ],
        "security": [ {
          "oauth2": [
            "FullAccess",
            "AdminUserAdmin",
            "AdminUserReader"
          ]
        } ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "If ID is provided and an object with that ID already exists, a 409 (conflict) error is returned.",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        },
        "operationId": "Create",
        "tags": [
          "AdminUser"
        ],
        "parameters": [ {
          "name": "user",
          "in": "body",
          "required": true,
          "description": "",
          "schema": {
            "$ref": "#/definitions/User"
          }
        } ],
        "security": [ {
          "oauth2": [
            "FullAccess",
            "AdminUserAdmin"
          ]
        } ]
      }
    },
    "/adminusers/{userID}": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        },
        "operationId": "Get",
        "tags": [
          "AdminUser"
        ],
        "parameters": [ {
          "name": "userID",
          "in": "path",
          "description": "ID of the user.",
          "required": true,
          "type": "string"
        } ],
        "security": [ {
          "oauth2": [
            "FullAccess",
            "AdminUserAdmin",
            "AdminUserReader"
          ]
        } ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "If an object with the same ID already exists, it will be overwritten.",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        },
        "operationId": "Save",
        "tags": [
          "AdminUser"
        ],
        "parameters": [ {
            "name": "userID",
            "in": "path",
            "description": "ID of the user.",
            "required": true,
            "type": "string"
          },
          {
            "name": "user",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        ],
        "security": [ {
          "oauth2": [
            "FullAccess",
            "AdminUserAdmin"
          ]
        } ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": ""
          }
        },
        "operationId": "Delete",
        "tags": [
          "AdminUser"
        ],
        "parameters": [ {
          "name": "userID",
          "in": "path",
          "description": "ID of the user.",
          "required": true,
          "type": "string"
        } ],
        "security": [ {
          "oauth2": [
            "FullAccess",
            "AdminUserAdmin"
          ]
        } ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        },
        "operationId": "Patch",
        "tags": [
          "AdminUser"
        ],
        "parameters": [ {
            "name": "userID",
            "in": "path",
            "description": "ID of the user.",
            "required": true,
            "type": "string"
          },
          {
            "name": "partialUser",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        ],
        "security": [ {
          "oauth2": [
            "FullAccess",
            "AdminUserAdmin"
          ]
        } ]
      }
    },
    "/buyers": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ListBuyer"
            }
          }
        },
        "operationId": "List",
        "tags": [
          "Buyer"
        ],
        "parameters": [ {
            "name": "search",
            "in": "query",
            "description": "Word or phrase to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchOn",
            "in": "query",
            "description": "Comma-delimited list of fields to search on.",
            "required": false,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Comma-delimited list of fields to sort by.",
            "required": false,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to return. Default: 1",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to return per page. Default: 20, max: 100.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Any additional key/value pairs passed in the query string are interpretted as filters. Valid keys are top-level properties of the returned model or 'xp.???'",
            "required": false,
            "type": "object"
          }
        ],
        "security": [ {
          "oauth2": [
            "FullAccess",
            "BuyerAdmin",
            "BuyerReader"
          ]
        } ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "If ID is provided and an object with that ID already exists, a 409 (conflict) error is returned.",
            "schema": {
              "$ref": "#/definitions/Buyer"
            }
          }
        },
        "operationId": "Create",
        "tags": [
          "Buyer"
        ],
        "parameters": [ {
          "name": "buyer",
          "in": "body",
          "required": true,
          "description": "",
          "schema": {
            "$ref": "#/definitions/Buyer"
          }
        } ],
        "security": [ {
          "oauth2": [
            "FullAccess",
            "BuyerAdmin"
          ]
        } ]
      }
    },
    "/buyers/{buyerID}": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Buyer"
            }
          }
        },
        "operationId": "Get",
        "tags": [
          "Buyer"
        ],
        "parameters": [ {
          "name": "buyerID",
          "in": "path",
          "description": "ID of the buyer.",
          "required": true,
          "type": "string"
        } ],
        "security": [ {
          "oauth2": [
            "FullAccess",
            "BuyerAdmin",
            "BuyerReader"
          ]
        } ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "If an object with the same ID already exists, it will be overwritten.",
            "schema": {
              "$ref": "#/definitions/Buyer"
            }
          }
        },
        "operationId": "Save",
        "tags": [
          "Buyer"
        ],
        "parameters": [ {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "buyer",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/Buyer"
            }
          }
        ],
        "security": [ {
          "oauth2": [
            "FullAccess",
            "BuyerAdmin"
          ]
        } ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": ""
          }
        },
        "operationId": "Delete",
        "tags": [
          "Buyer"
        ],
        "parameters": [ {
          "name": "buyerID",
          "in": "path",
          "description": "ID of the buyer.",
          "required": true,
          "type": "string"
        } ],
        "security": [ {
          "oauth2": [
            "FullAccess",
            "BuyerAdmin"
          ]
        } ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Buyer"
            }
          }
        },
        "operationId": "Patch",
        "tags": [
          "Buyer"
        ],
        "parameters": [ {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "partialBuyer",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/Buyer"
            }
          }
        ],
        "security": [ {
          "oauth2": [
            "FullAccess",
            "BuyerAdmin"
          ]
        } ]
      }
    },
    "/buyers/{buyerID}/addresses": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ListAddress"
            }
          }
        },
        "operationId": "List",
        "tags": [
          "Address"
        ],
        "parameters": [ {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Word or phrase to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchOn",
            "in": "query",
            "description": "Comma-delimited list of fields to search on.",
            "required": false,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Comma-delimited list of fields to sort by.",
            "required": false,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to return. Default: 1",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to return per page. Default: 20, max: 100.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Any additional key/value pairs passed in the query string are interpretted as filters. Valid keys are top-level properties of the returned model or 'xp.???'",
            "required": false,
            "type": "object"
          }
        ],
        "security": [ {
          "oauth2": [
            "FullAccess",
            "AddressAdmin",
            "AddressReader"
          ]
        } ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "If ID is provided and an object with that ID already exists, a 409 (conflict) error is returned.",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          }
        },
        "operationId": "Create",
        "tags": [
          "Address"
        ],
        "parameters": [ {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "address",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          }
        ],
        "security": [ {
          "oauth2": [
            "FullAccess",
            "AddressAdmin"
          ]
        } ]
      }
    },
    "/buyers/{buyerID}/addresses/{addressID}": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          }
        },
        "operationId": "Get",
        "tags": [
          "Address"
        ],
        "parameters": [ {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "addressID",
            "in": "path",
            "description": "ID of the address.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [ {
          "oauth2": [
            "FullAccess",
            "AddressAdmin",
            "AddressReader"
          ]
        } ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "If an object with the same ID already exists, it will be overwritten.",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          }
        },
        "operationId": "Save",
        "tags": [
          "Address"
        ],
        "parameters": [ {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "addressID",
            "in": "path",
            "description": "ID of the address.",
            "required": true,
            "type": "string"
          },
          {
            "name": "address",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          }
        ],
        "security": [ {
          "oauth2": [
            "FullAccess",
            "AddressAdmin"
          ]
        } ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": ""
          }
        },
        "operationId": "Delete",
        "tags": [
          "Address"
        ],
        "parameters": [ {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "addressID",
            "in": "path",
            "description": "ID of the address.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [ {
          "oauth2": [
            "FullAccess",
            "AddressAdmin"
          ]
        } ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          }
        },
        "operationId": "Patch",
        "tags": [
          "Address"
        ],
        "parameters": [ {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "addressID",
            "in": "path",
            "description": "ID of the address.",
            "required": true,
            "type": "string"
          },
          {
            "name": "partialAddress",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          }
        ],
        "security": [ {
          "oauth2": [
            "FullAccess",
            "AddressAdmin"
          ]
        } ]
      }
    },
    "/buyers/{buyerID}/addresses/{addressID}/assignments": {
      "delete": {
        "responses": {
          "204": {
            "description": ""
          }
        },
        "operationId": "DeleteAssignment",
        "tags": [
          "Address"
        ],
        "parameters": [ {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "addressID",
            "in": "path",
            "description": "ID of the address.",
            "required": true,
            "type": "string"
          },
          {
            "name": "userID",
            "in": "query",
            "description": "ID of the user.",
            "required": false,
            "type": "string"
          },
          {
            "name": "userGroupID",
            "in": "query",
            "description": "ID of the user group.",
            "required": false,
            "type": "string"
          }
        ],
        "security": [ {
          "oauth2": [
            "FullAccess",
            "AddressAdmin"
          ]
        } ]
      }
    },
    "/buyers/{buyerID}/addresses/assignments": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ListAddressAssignment"
            }
          }
        },
        "operationId": "ListAssignments",
        "tags": [
          "Address"
        ],
        "parameters": [ {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "addressID",
            "in": "query",
            "description": "ID of the address.",
            "required": false,
            "type": "string"
          },
          {
            "name": "userID",
            "in": "query",
            "description": "ID of the user.",
            "required": false,
            "type": "string"
          },
          {
            "name": "userGroupID",
            "in": "query",
            "description": "ID of the user group.",
            "required": false,
            "type": "string"
          },
          {
            "name": "level",
            "in": "query",
            "description": "Level of the address assignment. Possible values: User, Group, Company.",
            "required": false,
            "type": "string"
          },
          {
            "name": "isShipping",
            "in": "query",
            "description": "Is shipping of the address assignment.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "isBilling",
            "in": "query",
            "description": "Is billing of the address assignment.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to return. Default: 1",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to return per page. Default: 20, max: 100.",
            "required": false,
            "type": "integer"
          }
        ],
        "security": [ {
          "oauth2": [
            "FullAccess",
            "AddressAdmin",
            "AddressReader"
          ]
        } ]
      },
      "post": {
        "responses": {
          "204": {
            "description": ""
          }
        },
        "operationId": "SaveAssignment",
        "tags": [
          "Address"
        ],
        "parameters": [ {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "addressAssignment",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/AddressAssignment"
            }
          }
        ],
        "security": [ {
          "oauth2": [
            "FullAccess",
            "AddressAdmin"
          ]
        } ]
      }
    },
    "/buyers/{buyerID}/approvalrules": {
      "get": {
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ListApprovalRule"
            }
          }
        },
        "operationId": "List",
        "tags": [
          "ApprovalRule"
        ],
        "parameters": [ {
            "name": "buyerID",
            "in": "path",
            "description": "ID of the buyer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Word or phrase to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchOn",
            "in": "query",
            "description": "Comma-delimited list of fields to search on.",
            "required": false,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Comma-delimited list of fields to sort by.",
            "required": false,
            "type": "string",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page of results to return. Default: 1",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of results to return per page. Default: 20, max: 100.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "filters",
            "in": "query",
[...]
