---
swagger: "2.0"
info:
  description: "A full ecommerce backend as a service."
  version: "0.1"
  title: "OrderCloud"
  contact:
    name: "Four51"
    url: "http://public.four51.com/"
    email: "ordercloud@four51.com"
host: "api.ordercloud.io"
basePath: "/v1"
schemes:
- "https"
paths:
  /SecurityProfiles:
    get:
      tags:
      - "SecurityProfile"
      operationId: "List"
      parameters:
      - name: "search"
        in: "query"
        description: "Word or phrase to search for."
        required: false
        type: "string"
      - name: "searchOn"
        in: "query"
        description: "Comma-delimited list of fields to search on."
        required: false
        type: "string"
      - name: "sortBy"
        in: "query"
        description: "Comma-delimited list of fields to sort by."
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page of results to return. Default: 1"
        required: false
        type: "integer"
      - name: "pageSize"
        in: "query"
        description: "Number of results to return per page. Default: 20, max: 100."
        required: false
        type: "integer"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "SecurityProfile"
  /SecurityProfiles/{securityProfileID}:
    get:
      tags:
      - "SecurityProfile"
      operationId: "Get"
      parameters:
      - name: "securityProfileID"
        in: "path"
        description: "ID of the security profile."
        required: true
        type: "string"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "SecurityProfile"
  /adminusers:
    get:
      tags:
      - "AdminUser"
      operationId: "List"
      parameters:
      - name: "search"
        in: "query"
        description: "Word or phrase to search for."
        required: false
        type: "string"
      - name: "searchOn"
        in: "query"
        description: "Comma-delimited list of fields to search on."
        required: false
        type: "string"
      - name: "sortBy"
        in: "query"
        description: "Comma-delimited list of fields to sort by."
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page of results to return. Default: 1"
        required: false
        type: "integer"
      - name: "pageSize"
        in: "query"
        description: "Number of results to return per page. Default: 20, max: 100."
        required: false
        type: "integer"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "AdminUser"
    post:
      tags:
      - "AdminUser"
      operationId: "Create"
      parameters:
      - in: "body"
        name: "user"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/User"
      responses:
        201:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "AdminUser"
  /adminusers/{userID}:
    get:
      tags:
      - "AdminUser"
      operationId: "Get"
      parameters:
      - name: "userID"
        in: "path"
        description: "ID of the user."
        required: true
        type: "string"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "AdminUser"
    put:
      tags:
      - "AdminUser"
      operationId: "Update"
      parameters:
      - name: "userID"
        in: "path"
        description: "ID of the user."
        required: true
        type: "string"
      - in: "body"
        name: "user"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/User"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "AdminUser"
    delete:
      tags:
      - "AdminUser"
      operationId: "Delete"
      parameters:
      - name: "userID"
        in: "path"
        description: "ID of the user."
        required: true
        type: "string"
      responses:
        204:
          description: ""
      x-swagger-router-controller: "AdminUser"
    patch:
      tags:
      - "AdminUser"
      operationId: "Patch"
      parameters:
      - name: "userID"
        in: "path"
        description: "ID of the user."
        required: true
        type: "string"
      - in: "body"
        name: "user"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/User"
      responses:
        204:
          description: ""
      x-swagger-router-controller: "AdminUser"
  /buyers:
    get:
      tags:
      - "Buyer"
      operationId: "List"
      parameters:
      - name: "search"
        in: "query"
        description: "Word or phrase to search for."
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page of results to return. Default: 1"
        required: false
        type: "integer"
      - name: "pageSize"
        in: "query"
        description: "Number of results to return per page. Default: 20, max: 100."
        required: false
        type: "integer"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Buyer"
    post:
      tags:
      - "Buyer"
      operationId: "Create"
      parameters:
      - in: "body"
        name: "company"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Buyer"
      responses:
        201:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Buyer"
  /buyers/{buyerID}:
    get:
      tags:
      - "Buyer"
      operationId: "Get"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Buyer"
    put:
      tags:
      - "Buyer"
      operationId: "Update"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - in: "body"
        name: "company"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Buyer"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Buyer"
    delete:
      tags:
      - "Buyer"
      operationId: "Delete"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      responses:
        204:
          description: ""
      x-swagger-router-controller: "Buyer"
  /buyers/{buyerID}/addresses:
    get:
      tags:
      - "Address"
      operationId: "List"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "search"
        in: "query"
        description: "Word or phrase to search for."
        required: false
        type: "string"
      - name: "searchOn"
        in: "query"
        description: "Comma-delimited list of fields to search on."
        required: false
        type: "string"
      - name: "sortBy"
        in: "query"
        description: "Comma-delimited list of fields to sort by."
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page of results to return. Default: 1"
        required: false
        type: "integer"
      - name: "pageSize"
        in: "query"
        description: "Number of results to return per page. Default: 20, max: 100."
        required: false
        type: "integer"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Address"
    post:
      tags:
      - "Address"
      operationId: "Create"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - in: "body"
        name: "address"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Address"
      responses:
        201:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Address"
  /buyers/{buyerID}/addresses/assignments:
    get:
      tags:
      - "Address"
      operationId: "ListAssignments"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "addressID"
        in: "query"
        description: "ID of the address."
        required: false
        type: "string"
      - name: "userID"
        in: "query"
        description: "ID of the user."
        required: false
        type: "string"
      - name: "userGroupID"
        in: "query"
        description: "ID of the user group."
        required: false
        type: "string"
      - name: "level"
        in: "query"
        description: "Level of the address."
        required: false
        type: "string"
      - name: "isShipping"
        in: "query"
        description: "Is shipping of the address."
        required: false
        type: "boolean"
      - name: "isBilling"
        in: "query"
        description: "Is billing of the address."
        required: false
        type: "boolean"
      - name: "page"
        in: "query"
        description: "Page of results to return. Default: 1"
        required: false
        type: "integer"
      - name: "pageSize"
        in: "query"
        description: "Number of results to return per page. Default: 20, max: 100."
        required: false
        type: "integer"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Address"
    post:
      tags:
      - "Address"
      operationId: "SaveAssignment"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - in: "body"
        name: "assignment"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/AddressAssignment"
      responses:
        204:
          description: ""
      x-swagger-router-controller: "Address"
  /buyers/{buyerID}/addresses/{addressID}:
    get:
      tags:
      - "Address"
      operationId: "Get"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "addressID"
        in: "path"
        description: "ID of the address."
        required: true
        type: "string"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Address"
    put:
      tags:
      - "Address"
      operationId: "Update"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "addressID"
        in: "path"
        description: "ID of the address."
        required: true
        type: "string"
      - in: "body"
        name: "address"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Address"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Address"
    delete:
      tags:
      - "Address"
      operationId: "Delete"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "addressID"
        in: "path"
        description: "ID of the address."
        required: true
        type: "string"
      responses:
        204:
          description: ""
      x-swagger-router-controller: "Address"
    patch:
      tags:
      - "Address"
      operationId: "Patch"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "addressID"
        in: "path"
        description: "ID of the address."
        required: true
        type: "string"
      - in: "body"
        name: "address"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Address"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Address"
  /buyers/{buyerID}/addresses/{addressID}/assignments:
    delete:
      tags:
      - "Address"
      operationId: "DeleteAssignment"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "addressID"
        in: "path"
        description: "ID of the address."
        required: true
        type: "string"
      - name: "userID"
        in: "query"
        description: "ID of the user."
        required: false
        type: "string"
      - name: "userGroupID"
        in: "query"
        description: "ID of the user group."
        required: false
        type: "string"
      responses:
        204:
          description: ""
      x-swagger-router-controller: "Address"
  /buyers/{buyerID}/approvalrules:
    get:
      tags:
      - "ApprovalRule"
      operationId: "List"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "search"
        in: "query"
        description: "Word or phrase to search for."
        required: false
        type: "string"
      - name: "searchOn"
        in: "query"
        description: "Comma-delimited list of fields to search on."
        required: false
        type: "string"
      - name: "sortBy"
        in: "query"
        description: "Comma-delimited list of fields to sort by."
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page of results to return. Default: 1"
        required: false
        type: "integer"
      - name: "pageSize"
        in: "query"
        description: "Number of results to return per page. Default: 20, max: 100."
        required: false
        type: "integer"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "ApprovalRule"
    post:
      tags:
      - "ApprovalRule"
      operationId: "Create"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - in: "body"
        name: "approvalRule"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/ApprovalRule"
      responses:
        201:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "ApprovalRule"
  /buyers/{buyerID}/approvalrules/{approvalRuleID}:
    get:
      tags:
      - "ApprovalRule"
      operationId: "Get"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "approvalRuleID"
        in: "path"
        description: "ID of the approval rule."
        required: true
        type: "string"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "ApprovalRule"
    put:
      tags:
      - "ApprovalRule"
      operationId: "Update"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "approvalRuleID"
        in: "path"
        description: "ID of the approval rule."
        required: true
        type: "string"
      - in: "body"
        name: "approvalRule"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/ApprovalRule"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "ApprovalRule"
    delete:
      tags:
      - "ApprovalRule"
      operationId: "Delete"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "approvalRuleID"
        in: "path"
        description: "ID of the approval rule."
        required: true
        type: "string"
      responses:
        204:
          description: ""
      x-swagger-router-controller: "ApprovalRule"
    patch:
      tags:
      - "ApprovalRule"
      operationId: "Patch"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "approvalRuleID"
        in: "path"
        description: "ID of the approval rule."
        required: true
        type: "string"
      - in: "body"
        name: "partialApprovalRule"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/ApprovalRule"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "ApprovalRule"
  /buyers/{buyerID}/categories:
    get:
      tags:
      - "Category"
      operationId: "List"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "parentID"
        in: "query"
        description: "ID of the parent."
        required: false
        type: "string"
      - name: "depth"
        in: "query"
        description: "Depth of the category."
        required: false
        type: "string"
      - name: "search"
        in: "query"
        description: "Word or phrase to search for."
        required: false
        type: "string"
      - name: "searchOn"
        in: "query"
        description: "Comma-delimited list of fields to search on."
        required: false
        type: "string"
      - name: "sortBy"
        in: "query"
        description: "Comma-delimited list of fields to sort by."
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page of results to return. Default: 1"
        required: false
        type: "integer"
      - name: "pageSize"
        in: "query"
        description: "Number of results to return per page. Default: 20, max: 100."
        required: false
        type: "integer"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Category"
    post:
      tags:
      - "Category"
      operationId: "Create"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - in: "body"
        name: "category"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Category"
      responses:
        201:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Category"
  /buyers/{buyerID}/categories/assignments:
    get:
      tags:
      - "Category"
      operationId: "ListAssignments"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "categoryID"
        in: "query"
        description: "ID of the category."
        required: false
        type: "string"
      - name: "userID"
        in: "query"
        description: "ID of the user."
        required: false
        type: "string"
      - name: "userGroupID"
        in: "query"
        description: "ID of the user group."
        required: false
        type: "string"
      - name: "level"
        in: "query"
        description: "Level of the category."
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page of results to return. Default: 1"
        required: false
        type: "integer"
      - name: "pageSize"
        in: "query"
        description: "Number of results to return per page. Default: 20, max: 100."
        required: false
        type: "integer"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Category"
    post:
      tags:
      - "Category"
      operationId: "SaveAssignment"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - in: "body"
        name: "categoryAssignment"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/CategoryAssignment"
      responses:
        204:
          description: ""
      x-swagger-router-controller: "Category"
  /buyers/{buyerID}/categories/productassignments:
    get:
      tags:
      - "Category"
      operationId: "ListProductAssignments"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "categoryID"
        in: "query"
        description: "ID of the category."
        required: false
        type: "string"
      - name: "productID"
        in: "query"
        description: "ID of the product."
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page of results to return. Default: 1"
        required: false
        type: "integer"
      - name: "pageSize"
        in: "query"
        description: "Number of results to return per page. Default: 20, max: 100."
        required: false
        type: "integer"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Category"
    post:
      tags:
      - "Category"
      operationId: "SaveProductAssignment"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - in: "body"
        name: "productAssignment"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/CategoryProductAssignment"
      responses:
        204:
          description: ""
      x-swagger-router-controller: "Category"
  /buyers/{buyerID}/categories/{categoryID}:
    get:
      tags:
      - "Category"
      operationId: "Get"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "categoryID"
        in: "path"
        description: "ID of the category."
        required: true
        type: "string"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Category"
    put:
      tags:
      - "Category"
      operationId: "Update"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "categoryID"
        in: "path"
        description: "ID of the category."
        required: true
        type: "string"
      - in: "body"
        name: "category"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Category"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Category"
    delete:
      tags:
      - "Category"
      operationId: "Delete"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "categoryID"
        in: "path"
        description: "ID of the category."
        required: true
        type: "string"
      responses:
        204:
          description: ""
      x-swagger-router-controller: "Category"
    patch:
      tags:
      - "Category"
      operationId: "Patch"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "categoryID"
        in: "path"
        description: "ID of the category."
        required: true
        type: "string"
      - in: "body"
        name: "category"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Category"
      responses:
        204:
          description: ""
      x-swagger-router-controller: "Category"
  /buyers/{buyerID}/categories/{categoryID}/assignments:
    delete:
      tags:
      - "Category"
      operationId: "DeleteAssignment"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "categoryID"
        in: "path"
        description: "ID of the category."
        required: true
        type: "string"
      - name: "userID"
        in: "query"
        description: "ID of the user."
        required: false
        type: "string"
      - name: "userGroupID"
        in: "query"
        description: "ID of the user group."
        required: false
        type: "string"
      responses:
        204:
          description: ""
      x-swagger-router-controller: "Category"
  /buyers/{buyerID}/categories/{categoryID}/productassignments/{productID}:
    delete:
      tags:
      - "Category"
      operationId: "DeleteProductAssignment"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "categoryID"
        in: "path"
        description: "ID of the category."
        required: true
        type: "string"
      - name: "productID"
        in: "path"
        description: "ID of the product."
        required: true
        type: "string"
      responses:
        204:
          description: ""
      x-swagger-router-controller: "Category"
  /buyers/{buyerID}/categories/{parentID}/categories:
    get:
      tags:
      - "Category"
      operationId: "ListChildren"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "parentID"
        in: "path"
        description: "ID of the parent."
        required: true
        type: "string"
      - name: "search"
        in: "query"
        description: "Word or phrase to search for."
        required: false
        type: "string"
      - name: "depth"
        in: "query"
        description: "Depth of the category."
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page of results to return. Default: 1"
        required: false
        type: "integer"
      - name: "pageSize"
        in: "query"
        description: "Number of results to return per page. Default: 20, max: 100."
        required: false
        type: "integer"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Category"
  /buyers/{buyerID}/costcenters:
    get:
      tags:
      - "CostCenter"
      operationId: "List"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "search"
        in: "query"
        description: "Word or phrase to search for."
        required: false
        type: "string"
      - name: "searchOn"
        in: "query"
        description: "Comma-delimited list of fields to search on."
        required: false
        type: "string"
      - name: "sortBy"
        in: "query"
        description: "Comma-delimited list of fields to sort by."
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page of results to return. Default: 1"
        required: false
        type: "integer"
      - name: "pageSize"
        in: "query"
        description: "Number of results to return per page. Default: 20, max: 100."
        required: false
        type: "integer"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "CostCenter"
    post:
      tags:
      - "CostCenter"
      operationId: "Create"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - in: "body"
        name: "costCenter"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/CostCenter"
      responses:
        201:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "CostCenter"
  /buyers/{buyerID}/costcenters/assignments:
    get:
      tags:
      - "CostCenter"
      operationId: "ListAssignments"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "costCenterID"
        in: "query"
        description: "ID of the cost center."
        required: false
        type: "string"
      - name: "userID"
        in: "query"
        description: "ID of the user."
        required: false
        type: "string"
      - name: "userGroupID"
        in: "query"
        description: "ID of the user group."
        required: false
        type: "string"
      - name: "level"
        in: "query"
        description: "Level of the cost center."
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page of results to return. Default: 1"
        required: false
        type: "integer"
      - name: "pageSize"
        in: "query"
        description: "Number of results to return per page. Default: 20, max: 100."
        required: false
        type: "integer"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "CostCenter"
    post:
      tags:
      - "CostCenter"
      operationId: "SaveAssignment"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - in: "body"
        name: "assignment"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/CostCenterAssignment"
      responses:
        204:
          description: ""
      x-swagger-router-controller: "CostCenter"
  /buyers/{buyerID}/costcenters/{costCenterID}:
    get:
      tags:
      - "CostCenter"
      operationId: "Get"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "costCenterID"
        in: "path"
        description: "ID of the cost center."
        required: true
        type: "string"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "CostCenter"
    put:
      tags:
      - "CostCenter"
      operationId: "Update"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "costCenterID"
        in: "path"
        description: "ID of the cost center."
        required: true
        type: "string"
      - in: "body"
        name: "costCenter"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/CostCenter"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "CostCenter"
    delete:
      tags:
      - "CostCenter"
      operationId: "Delete"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "costCenterID"
        in: "path"
        description: "ID of the cost center."
        required: true
        type: "string"
      responses:
        204:
          description: ""
      x-swagger-router-controller: "CostCenter"
    patch:
      tags:
      - "CostCenter"
      operationId: "Patch"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "costCenterID"
        in: "path"
        description: "ID of the cost center."
        required: true
        type: "string"
      - in: "body"
        name: "costCenter"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/CostCenter"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "CostCenter"
  /buyers/{buyerID}/costcenters/{costCenterID}/assignments:
    delete:
      tags:
      - "CostCenter"
      operationId: "DeleteAssignment"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "costCenterID"
        in: "path"
        description: "ID of the cost center."
        required: true
        type: "string"
      - name: "userID"
        in: "query"
        description: "ID of the user."
        required: false
        type: "string"
      - name: "userGroupID"
        in: "query"
        description: "ID of the user group."
        required: false
        type: "string"
      responses:
        204:
          description: ""
      x-swagger-router-controller: "CostCenter"
  /buyers/{buyerID}/creditcards:
    get:
      tags:
      - "CreditCard"
      operationId: "List"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "search"
        in: "query"
        description: "Word or phrase to search for."
        required: false
        type: "string"
      - name: "searchOn"
        in: "query"
        description: "Comma-delimited list of fields to search on."
        required: false
        type: "string"
      - name: "sortBy"
        in: "query"
        description: "Comma-delimited list of fields to sort by."
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page of results to return. Default: 1"
        required: false
        type: "integer"
      - name: "pageSize"
        in: "query"
        description: "Number of results to return per page. Default: 20, max: 100."
        required: false
        type: "integer"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "CreditCard"
    post:
      tags:
      - "CreditCard"
      operationId: "Create"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - in: "body"
        name: "card"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/CreditCard"
      responses:
        201:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "CreditCard"
  /buyers/{buyerID}/creditcards/assignments:
    get:
      tags:
      - "CreditCard"
      operationId: "ListAssignments"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "creditCardID"
        in: "query"
        description: "ID of the credit card."
        required: false
        type: "string"
      - name: "userID"
        in: "query"
        description: "ID of the user."
        required: false
        type: "string"
      - name: "userGroupID"
        in: "query"
        description: "ID of the user group."
        required: false
        type: "string"
      - name: "level"
        in: "query"
        description: "Level of the credit card."
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page of results to return. Default: 1"
        required: false
        type: "integer"
      - name: "pageSize"
        in: "query"
        description: "Number of results to return per page. Default: 20, max: 100."
        required: false
        type: "integer"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "CreditCard"
    post:
      tags:
      - "CreditCard"
      operationId: "SaveAssignment"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - in: "body"
        name: "assignment"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/CreditCardAssignment"
      responses:
        204:
          description: ""
      x-swagger-router-controller: "CreditCard"
  /buyers/{buyerID}/creditcards/{creditCardID}:
    get:
      tags:
      - "CreditCard"
      operationId: "Get"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "creditCardID"
        in: "path"
        description: "ID of the credit card."
        required: true
        type: "string"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "CreditCard"
    put:
      tags:
      - "CreditCard"
      operationId: "Update"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "creditCardID"
        in: "path"
        description: "ID of the credit card."
        required: true
        type: "string"
      - in: "body"
        name: "card"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/CreditCard"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "CreditCard"
    delete:
      tags:
      - "CreditCard"
      operationId: "Delete"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "creditCardID"
        in: "path"
        description: "ID of the credit card."
        required: true
        type: "string"
      responses:
        204:
          description: ""
      x-swagger-router-controller: "CreditCard"
    patch:
      tags:
      - "CreditCard"
      operationId: "Patch"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "creditCardID"
        in: "path"
        description: "ID of the credit card."
        required: true
        type: "string"
      - in: "body"
        name: "card"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/CreditCard"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "CreditCard"
  /buyers/{buyerID}/creditcards/{creditCardID}/assignments:
    delete:
      tags:
      - "CreditCard"
      operationId: "DeleteAssignment"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "creditCardID"
        in: "path"
        description: "ID of the credit card."
        required: true
        type: "string"
      - name: "userID"
        in: "query"
        description: "ID of the user."
        required: false
        type: "string"
      - name: "userGroupID"
        in: "query"
        description: "ID of the user group."
        required: false
        type: "string"
      responses:
        204:
          description: ""
      x-swagger-router-controller: "CreditCard"
  /buyers/{buyerID}/emailtemplates/{emailTemplateType}:
    get:
      tags:
      - "EmailTemplate"
      operationId: "Get"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "emailTemplateType"
        in: "path"
        description: "Email template type of the email template. Possible values:\
          \ OrderSubmittedForApproval, CustomerOrderSubmitted, OrderToApprove, OrderDeclined,\
          \ OrderApproved, PriceRequestSubmitted, CustomerOrderShipped, ProductRequiresAttachment,\
          \ InventoryPointReached, LineItemExceedsInventory, PriceRequestResponse,\
          \ CustomerOrderUpdated, OrderCanceled, PriceRequestCanceled, NewOrderReceived,\
          \ ApprovalNotification, EmailLoginVerificationCode."
        required: true
        type: "string"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "EmailTemplate"
    put:
      tags:
      - "EmailTemplate"
      operationId: "Update"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "emailTemplateType"
        in: "path"
        description: "Email template type of the email template. Possible values:\
          \ OrderSubmittedForApproval, CustomerOrderSubmitted, OrderToApprove, OrderDeclined,\
          \ OrderApproved, PriceRequestSubmitted, CustomerOrderShipped, ProductRequiresAttachment,\
          \ InventoryPointReached, LineItemExceedsInventory, PriceRequestResponse,\
          \ CustomerOrderUpdated, OrderCanceled, PriceRequestCanceled, NewOrderReceived,\
          \ ApprovalNotification, EmailLoginVerificationCode."
        required: true
        type: "string"
      - in: "body"
        name: "emailTemplate"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/EmailTemplate"
      responses:
        204:
          description: ""
      x-swagger-router-controller: "EmailTemplate"
    delete:
      tags:
      - "EmailTemplate"
      operationId: "ResetToDefault"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "emailTemplateType"
        in: "path"
        description: "Email template type of the email template. Possible values:\
          \ OrderSubmittedForApproval, CustomerOrderSubmitted, OrderToApprove, OrderDeclined,\
          \ OrderApproved, PriceRequestSubmitted, CustomerOrderShipped, ProductRequiresAttachment,\
          \ InventoryPointReached, LineItemExceedsInventory, PriceRequestResponse,\
          \ CustomerOrderUpdated, OrderCanceled, PriceRequestCanceled, NewOrderReceived,\
          \ ApprovalNotification, EmailLoginVerificationCode."
        required: true
        type: "string"
      responses:
        204:
          description: ""
      x-swagger-router-controller: "EmailTemplate"
    patch:
      tags:
      - "EmailTemplate"
      operationId: "Patch"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "emailTemplateType"
        in: "path"
        description: "Email template type of the email template. Possible values:\
          \ OrderSubmittedForApproval, CustomerOrderSubmitted, OrderToApprove, OrderDeclined,\
          \ OrderApproved, PriceRequestSubmitted, CustomerOrderShipped, ProductRequiresAttachment,\
          \ InventoryPointReached, LineItemExceedsInventory, PriceRequestResponse,\
          \ CustomerOrderUpdated, OrderCanceled, PriceRequestCanceled, NewOrderReceived,\
          \ ApprovalNotification, EmailLoginVerificationCode."
        required: true
        type: "string"
      - in: "body"
        name: "emailTemplate"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/EmailTemplate"
      responses:
        204:
          description: ""
      x-swagger-router-controller: "EmailTemplate"
  /buyers/{buyerID}/orders:
    post:
      tags:
      - "Order"
      operationId: "Create"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - in: "body"
        name: "order"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Order"
      responses:
        201:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Order"
    put:
      tags:
      - "Order"
      operationId: "TransferTempUserOrder"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "tempUserToken"
        in: "query"
        description: "Temp user token of the order."
        required: true
        type: "string"
      responses:
        204:
          description: ""
      x-swagger-router-controller: "Order"
  /buyers/{buyerID}/orders/{orderID}:
    get:
      tags:
      - "Order"
      operationId: "Get"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "orderID"
        in: "path"
        description: "ID of the order."
        required: true
        type: "string"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Order"
    put:
      tags:
      - "Order"
      operationId: "Update"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "orderID"
        in: "path"
        description: "ID of the order."
        required: true
        type: "string"
      - in: "body"
        name: "order"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Order"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Order"
    delete:
      tags:
      - "Order"
      operationId: "Delete"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "orderID"
        in: "path"
        description: "ID of the order."
        required: true
        type: "string"
      responses:
        204:
          description: ""
      x-swagger-router-controller: "Order"
    patch:
      tags:
      - "Order"
      operationId: "Patch"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "orderID"
        in: "path"
        description: "ID of the order."
        required: true
        type: "string"
      - in: "body"
        name: "partialOrder"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Order"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Order"
  /buyers/{buyerID}/orders/{orderID}/approvals:
    get:
      tags:
      - "Order"
      operationId: "ListApprovals"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "orderID"
        in: "path"
        description: "ID of the order."
        required: true
        type: "string"
      - name: "search"
        in: "query"
        description: "Word or phrase to search for."
        required: false
        type: "string"
      - name: "searchOn"
        in: "query"
        description: "Comma-delimited list of fields to search on."
        required: false
        type: "string"
      - name: "sortBy"
        in: "query"
        description: "Comma-delimited list of fields to sort by."
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page of results to return. Default: 1"
        required: false
        type: "integer"
      - name: "pageSize"
        in: "query"
        description: "Number of results to return per page. Default: 20, max: 100."
        required: false
        type: "integer"
      responses:
        200:
          description: "Returns all Approvals associated with the Order."
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Order"
  /buyers/{buyerID}/orders/{orderID}/approve:
    post:
      tags:
      - "Order"
      operationId: "Approve"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "orderID"
        in: "path"
        description: "ID of the order."
        required: true
        type: "string"
      - name: "comments"
        in: "query"
        description: "Comments to be saved with the order approval."
        required: false
        type: "string"
      responses:
        201:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Order"
  /buyers/{buyerID}/orders/{orderID}/billto:
    put:
      tags:
      - "Order"
      operationId: "SetBillingAddress"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "orderID"
        in: "path"
        description: "ID of the order."
        required: true
        type: "string"
      - in: "body"
        name: "address"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Address"
      responses:
        200:
          description: "Set the Billing Address of the Order. Appropriate only when\
            \ the address is not to be saved/reused. To use a saved Address (i.e.\
            \ from the Addresses resource), PATCH the Order's BillingAddressID property\
            \ instead."
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Order"
    patch:
      tags:
      - "Order"
      operationId: "PatchBillingAddress"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "orderID"
        in: "path"
        description: "ID of the order."
        required: true
        type: "string"
      - in: "body"
        name: "address"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Address"
      responses:
        200:
          description: "Partially update the Billing Address of the Order. Not allowed\
            \ on unsubmitted Orders where BillingAddressID has been set. In that case,\
            \ use the Addresses resource to update the Saved Address."
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Order"
  /buyers/{buyerID}/orders/{orderID}/cancel:
    post:
      tags:
      - "Order"
      operationId: "Cancel"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "orderID"
        in: "path"
        description: "ID of the order."
        required: true
        type: "string"
      responses:
        201:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Order"
  /buyers/{buyerID}/orders/{orderID}/decline:
    post:
      tags:
      - "Order"
      operationId: "Decline"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "orderID"
        in: "path"
        description: "ID of the order."
        required: true
        type: "string"
      - name: "comments"
        in: "query"
        description: "Comments to be saved with the order denial."
        required: false
        type: "string"
      responses:
        201:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Order"
  /buyers/{buyerID}/orders/{orderID}/eligibleapprovers:
    get:
      tags:
      - "Order"
      operationId: "ListEligibleApprovers"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "orderID"
        in: "path"
        description: "ID of the order."
        required: true
        type: "string"
      - name: "search"
        in: "query"
        description: "Word or phrase to search for."
        required: false
        type: "string"
      - name: "searchOn"
        in: "query"
        description: "Comma-delimited list of fields to search on."
        required: false
        type: "string"
      - name: "sortBy"
        in: "query"
        description: "Comma-delimited list of fields to sort by."
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page of results to return. Default: 1"
        required: false
        type: "integer"
      - name: "pageSize"
        in: "query"
        description: "Number of results to return per page. Default: 20, max: 100."
        required: false
        type: "integer"
      responses:
        200:
          description: "Returns all Users who can approve or decline this order (but\
            \ have not done so)."
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Order"
  /buyers/{buyerID}/orders/{orderID}/lineitems:
    get:
      tags:
      - "LineItem"
      operationId: "List"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "orderID"
        in: "path"
        description: "ID of the order."
        required: true
        type: "string"
      - name: "search"
        in: "query"
        description: "Word or phrase to search for."
        required: false
        type: "string"
      - name: "searchOn"
        in: "query"
        description: "Comma-delimited list of fields to search on."
        required: false
        type: "string"
      - name: "sortBy"
        in: "query"
        description: "Comma-delimited list of fields to sort by."
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page of results to return. Default: 1"
        required: false
        type: "integer"
      - name: "pageSize"
        in: "query"
        description: "Number of results to return per page. Default: 20, max: 100."
        required: false
        type: "integer"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "LineItem"
    post:
      tags:
      - "LineItem"
      operationId: "Create"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "orderID"
        in: "path"
        description: "ID of the order."
        required: true
        type: "string"
      - in: "body"
        name: "lineItem"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/LineItem"
      responses:
        201:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "LineItem"
  /buyers/{buyerID}/orders/{orderID}/lineitems/{lineItemID}:
    get:
      tags:
      - "LineItem"
      operationId: "Get"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "orderID"
        in: "path"
        description: "ID of the order."
        required: true
        type: "string"
      - name: "lineItemID"
        in: "path"
        description: "ID of the line item."
        required: true
        type: "string"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "LineItem"
    put:
      tags:
      - "LineItem"
      operationId: "Update"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "orderID"
        in: "path"
        description: "ID of the order."
        required: true
        type: "string"
      - name: "lineItemID"
        in: "path"
        description: "ID of the line item."
        required: true
        type: "string"
      - in: "body"
        name: "lineItem"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/LineItem"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "LineItem"
    delete:
      tags:
      - "LineItem"
      operationId: "Delete"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "orderID"
        in: "path"
        description: "ID of the order."
        required: true
        type: "string"
      - name: "lineItemID"
        in: "path"
        description: "ID of the line item."
        required: true
        type: "string"
      responses:
        204:
          description: ""
      x-swagger-router-controller: "LineItem"
    patch:
      tags:
      - "LineItem"
      operationId: "Patch"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "orderID"
        in: "path"
        description: "ID of the order."
        required: true
        type: "string"
      - name: "lineItemID"
        in: "path"
        description: "ID of the line item."
        required: true
        type: "string"
      - in: "body"
        name: "partialLineItem"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/LineItem"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "LineItem"
  /buyers/{buyerID}/orders/{orderID}/lineitems/{lineItemID}/shipto:
    put:
      tags:
      - "LineItem"
      operationId: "SetShippingAddress"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "orderID"
        in: "path"
        description: "ID of the order."
        required: true
        type: "string"
      - name: "lineItemID"
        in: "path"
        description: "ID of the line item."
        required: true
        type: "string"
      - in: "body"
        name: "address"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Address"
      responses:
        200:
          description: "Set the Shipping Address of the Line Item. Appropriate only\
            \ when the Address is not to be saved/reused. To use a Saved Address (i.e.\
            \ from the Addresses resource), PATCH the Line Item's ShippingAddressID\
            \ property instead."
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "LineItem"
    patch:
      tags:
      - "LineItem"
      operationId: "PatchShippingAddress"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "orderID"
        in: "path"
        description: "ID of the order."
        required: true
        type: "string"
      - name: "lineItemID"
        in: "path"
        description: "ID of the line item."
        required: true
        type: "string"
      - in: "body"
        name: "address"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Address"
      responses:
        200:
          description: "Partially update the Shipping Address of the Line Item. Not\
            \ allowed on unsubmitted Line Items where ShippingAddressID has been set.\
            \ In that case, use the Addresses resource to update the Saved Address."
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "LineItem"
  /buyers/{buyerID}/orders/{orderID}/payments:
    get:
      tags:
      - "Payment"
      operationId: "List"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "orderID"
        in: "path"
        description: "ID of the order."
        required: true
        type: "string"
      - name: "search"
        in: "query"
        description: "Word or phrase to search for."
        required: false
        type: "string"
      - name: "searchOn"
        in: "query"
        description: "Comma-delimited list of fields to search on."
        required: false
        type: "string"
      - name: "sortBy"
        in: "query"
        description: "Comma-delimited list of fields to sort by."
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page of results to return. Default: 1"
        required: false
        type: "integer"
      - name: "pageSize"
        in: "query"
        description: "Number of results to return per page. Default: 20, max: 100."
        required: false
        type: "integer"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Payment"
    post:
      tags:
      - "Payment"
      operationId: "Create"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "orderID"
        in: "path"
        description: "ID of the order."
        required: true
        type: "string"
      - in: "body"
        name: "payment"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Payment"
      responses:
        201:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Payment"
  /buyers/{buyerID}/orders/{orderID}/payments/{paymentID}:
    get:
      tags:
      - "Payment"
      operationId: "Get"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "orderID"
        in: "path"
        description: "ID of the order."
        required: true
        type: "string"
      - name: "paymentID"
        in: "path"
        description: "ID of the payment."
        required: true
        type: "string"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Payment"
    put:
      tags:
      - "Payment"
      operationId: "Update"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "orderID"
        in: "path"
        description: "ID of the order."
        required: true
        type: "string"
      - name: "paymentID"
        in: "path"
        description: "ID of the payment."
        required: true
        type: "string"
      - in: "body"
        name: "payment"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Payment"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Payment"
    delete:
      tags:
      - "Payment"
      operationId: "Delete"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "orderID"
        in: "path"
        description: "ID of the order."
        required: true
        type: "string"
      - name: "paymentID"
        in: "path"
        description: "ID of the payment."
        required: true
        type: "string"
      responses:
        204:
          description: ""
      x-swagger-router-controller: "Payment"
    patch:
      tags:
      - "Payment"
      operationId: "Patch"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "orderID"
        in: "path"
        description: "ID of the order."
        required: true
        type: "string"
      - name: "paymentID"
        in: "path"
        description: "ID of the payment."
        required: true
        type: "string"
      - in: "body"
        name: "partialPayment"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Payment"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Payment"
  /buyers/{buyerID}/orders/{orderID}/payments/{paymentID}/transactions:
    post:
      tags:
      - "Payment"
      operationId: "CreateTransaction"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "orderID"
        in: "path"
        description: "ID of the order."
        required: true
        type: "string"
      - name: "paymentID"
        in: "path"
        description: "ID of the payment."
        required: true
        type: "string"
      - in: "body"
        name: "transaction"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/PaymentTransaction"
      responses:
        201:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Payment"
  /buyers/{buyerID}/orders/{orderID}/payments/{paymentID}/transactions/{transactionID}:
    put:
      tags:
      - "Payment"
      operationId: "UpdateTransaction"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "orderID"
        in: "path"
        description: "ID of the order."
        required: true
        type: "string"
      - name: "paymentID"
        in: "path"
        description: "ID of the payment."
        required: true
        type: "string"
      - name: "transactionID"
        in: "path"
        description: "ID of the transaction."
        required: true
        type: "string"
      - in: "body"
        name: "transaction"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/PaymentTransaction"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Payment"
    delete:
      tags:
      - "Payment"
      operationId: "DeleteTransaction"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "orderID"
        in: "path"
        description: "ID of the order."
        required: true
        type: "string"
      - name: "paymentID"
        in: "path"
        description: "ID of the payment."
        required: true
        type: "string"
      - name: "transactionID"
        in: "path"
        description: "ID of the transaction."
        required: true
        type: "string"
      responses:
        204:
          description: ""
      x-swagger-router-controller: "Payment"
    patch:
      tags:
      - "Payment"
      operationId: "PatchTransaction"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "orderID"
        in: "path"
        description: "ID of the order."
        required: true
        type: "string"
      - name: "paymentID"
        in: "path"
        description: "ID of the payment."
        required: true
        type: "string"
      - name: "transactionID"
        in: "path"
        description: "ID of the transaction."
        required: true
        type: "string"
      - in: "body"
        name: "partialTransaction"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/PaymentTransaction"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Payment"
  /buyers/{buyerID}/orders/{orderID}/promotions:
    get:
      tags:
      - "Order"
      operationId: "ListPromotions"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "orderID"
        in: "path"
        description: "ID of the order."
        required: true
        type: "string"
      - name: "search"
        in: "query"
        description: "Word or phrase to search for."
        required: false
        type: "string"
      - name: "searchOn"
        in: "query"
        description: "Comma-delimited list of fields to search on."
        required: false
        type: "string"
      - name: "sortBy"
        in: "query"
        description: "Comma-delimited list of fields to sort by."
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page of results to return. Default: 1"
        required: false
        type: "integer"
      - name: "pageSize"
        in: "query"
        description: "Number of results to return per page. Default: 20, max: 100."
        required: false
        type: "integer"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Order"
  /buyers/{buyerID}/orders/{orderID}/promotions/{promoCode}:
    post:
      tags:
      - "Order"
      operationId: "AddPromotion"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "orderID"
        in: "path"
        description: "ID of the order."
        required: true
        type: "string"
      - name: "promoCode"
        in: "path"
        description: "Promo code of the order."
        required: true
        type: "string"
      responses:
        201:
          description: "Add a Promotion to an Order."
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Order"
    delete:
      tags:
      - "Order"
      operationId: "RemovePromotion"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "orderID"
        in: "path"
        description: "ID of the order."
        required: true
        type: "string"
      - name: "promoCode"
        in: "path"
        description: "Promo code of the order."
        required: true
        type: "string"
      responses:
        200:
          description: "Remove Promotion from Order."
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Order"
  /buyers/{buyerID}/orders/{orderID}/ship:
    post:
      tags:
      - "Order"
      operationId: "Ship"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "orderID"
        in: "path"
        description: "ID of the order."
        required: true
        type: "string"
      - in: "body"
        name: "shipment"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Shipment"
      responses:
        201:
          description: "Create a new Shipment containing all Line Items from this\
            \ Order."
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Order"
  /buyers/{buyerID}/orders/{orderID}/shipto:
    put:
      tags:
      - "Order"
      operationId: "SetShippingAddress"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "orderID"
        in: "path"
        description: "ID of the order."
        required: true
        type: "string"
      - in: "body"
        name: "address"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Address"
      responses:
        200:
          description: "Set the Shipping Address of all Line Items on the Order. Appropriate\
            \ only when the address is not to be saved/reused. To use a saved Address\
            \ (i.e. from the Addresses resource), PATCH the Order's ShippingAddressID\
            \ property instead."
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Order"
    patch:
      tags:
      - "Order"
      operationId: "PatchShippingAddress"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "orderID"
        in: "path"
        description: "ID of the order."
        required: true
        type: "string"
      - in: "body"
        name: "address"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Address"
      responses:
        200:
          description: "Partially update the Shipping Address of all Line Items on\
            \ the Order. Not allowed on unsubmitted orders where ShippingAddressID\
            \ has been set on any Line Items. In that case, use the Addresses resource\
            \ to update the Saved Address."
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Order"
  /buyers/{buyerID}/orders/{orderID}/submit:
    post:
      tags:
      - "Order"
      operationId: "Submit"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "orderID"
        in: "path"
        description: "ID of the order."
        required: true
        type: "string"
      responses:
        201:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Order"
  /buyers/{buyerID}/shipments:
    get:
      tags:
      - "Shipment"
      operationId: "List"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "orderID"
        in: "query"
        description: "ID of the order."
        required: false
        type: "string"
      - name: "search"
        in: "query"
        description: "Word or phrase to search for."
        required: false
        type: "string"
      - name: "searchOn"
        in: "query"
        description: "Comma-delimited list of fields to search on."
        required: false
        type: "string"
      - name: "sortBy"
        in: "query"
        description: "Comma-delimited list of fields to sort by."
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page of results to return. Default: 1"
        required: false
        type: "integer"
      - name: "pageSize"
        in: "query"
        description: "Number of results to return per page. Default: 20, max: 100."
        required: false
        type: "integer"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Shipment"
    post:
      tags:
      - "Shipment"
      operationId: "Create"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - in: "body"
        name: "shipment"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Shipment"
      responses:
        201:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Shipment"
  /buyers/{buyerID}/shipments/{shipmentID}:
    get:
      tags:
      - "Shipment"
      operationId: "Get"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "shipmentID"
        in: "path"
        description: "ID of the shipment."
        required: true
        type: "string"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Shipment"
    put:
      tags:
      - "Shipment"
      operationId: "Update"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "shipmentID"
        in: "path"
        description: "ID of the shipment."
        required: true
        type: "string"
      - in: "body"
        name: "shipment"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Shipment"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Shipment"
    delete:
      tags:
      - "Shipment"
      operationId: "Delete"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "shipmentID"
        in: "path"
        description: "ID of the shipment."
        required: true
        type: "string"
      responses:
        204:
          description: ""
      x-swagger-router-controller: "Shipment"
    patch:
      tags:
      - "Shipment"
      operationId: "Patch"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "shipmentID"
        in: "path"
        description: "ID of the shipment."
        required: true
        type: "string"
      - in: "body"
        name: "shipment"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Shipment"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Shipment"
  /buyers/{buyerID}/shipments/{shipmentID}/items:
    post:
      tags:
      - "Shipment"
      operationId: "SaveItem"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "shipmentID"
        in: "path"
        description: "ID of the shipment."
        required: true
        type: "string"
      - in: "body"
        name: "item"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/ShipmentItem"
      responses:
        201:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Shipment"
  /buyers/{buyerID}/shipments/{shipmentID}/items/{orderID}/{lineItemID}:
    delete:
      tags:
      - "Shipment"
      operationId: "DeleteItem"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "shipmentID"
        in: "path"
        description: "ID of the shipment."
        required: true
        type: "string"
      - name: "orderID"
        in: "path"
        description: "ID of the order."
        required: true
        type: "string"
      - name: "lineItemID"
        in: "path"
        description: "ID of the line item."
        required: true
        type: "string"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "Shipment"
  /buyers/{buyerID}/spendingaccounts:
    get:
      tags:
      - "SpendingAccount"
      operationId: "List"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "search"
        in: "query"
        description: "Word or phrase to search for."
        required: false
        type: "string"
      - name: "searchOn"
        in: "query"
        description: "Comma-delimited list of fields to search on."
        required: false
        type: "string"
      - name: "sortBy"
        in: "query"
        description: "Comma-delimited list of fields to sort by."
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page of results to return. Default: 1"
        required: false
        type: "integer"
      - name: "pageSize"
        in: "query"
        description: "Number of results to return per page. Default: 20, max: 100."
        required: false
        type: "integer"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "SpendingAccount"
    post:
      tags:
      - "SpendingAccount"
      operationId: "Create"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - in: "body"
        name: "spendingAccount"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/SpendingAccount"
      responses:
        201:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "SpendingAccount"
  /buyers/{buyerID}/spendingaccounts/assignments:
    get:
      tags:
      - "SpendingAccount"
      operationId: "ListAssignments"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "spendingAccountID"
        in: "query"
        description: "ID of the spending account."
        required: false
        type: "string"
      - name: "userID"
        in: "query"
        description: "ID of the user."
        required: false
        type: "string"
      - name: "userGroupID"
        in: "query"
        description: "ID of the user group."
        required: false
        type: "string"
      - name: "level"
        in: "query"
        description: "Level of the spending account."
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page of results to return. Default: 1"
        required: false
        type: "integer"
      - name: "pageSize"
        in: "query"
        description: "Number of results to return per page. Default: 20, max: 100."
        required: false
        type: "integer"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "SpendingAccount"
    post:
      tags:
      - "SpendingAccount"
      operationId: "SaveAssignment"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - in: "body"
        name: "assignment"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/SpendingAccountAssignment"
      responses:
        204:
          description: ""
      x-swagger-router-controller: "SpendingAccount"
  /buyers/{buyerID}/spendingaccounts/{spendingAccountID}:
    get:
      tags:
      - "SpendingAccount"
      operationId: "Get"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "spendingAccountID"
        in: "path"
        description: "ID of the spending account."
        required: true
        type: "string"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "SpendingAccount"
    put:
      tags:
      - "SpendingAccount"
      operationId: "Update"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "spendingAccountID"
        in: "path"
        description: "ID of the spending account."
        required: true
        type: "string"
      - in: "body"
        name: "spendingAccount"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/SpendingAccount"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "SpendingAccount"
    delete:
      tags:
      - "SpendingAccount"
      operationId: "Delete"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "spendingAccountID"
        in: "path"
        description: "ID of the spending account."
        required: true
        type: "string"
      responses:
        204:
          description: ""
      x-swagger-router-controller: "SpendingAccount"
    patch:
      tags:
      - "SpendingAccount"
      operationId: "Patch"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "spendingAccountID"
        in: "path"
        description: "ID of the spending account."
        required: true
        type: "string"
      - in: "body"
        name: "spendingAccount"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/SpendingAccount"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "SpendingAccount"
  /buyers/{buyerID}/spendingaccounts/{spendingAccountID}/assignments:
    delete:
      tags:
      - "SpendingAccount"
      operationId: "DeleteAssignment"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "spendingAccountID"
        in: "path"
        description: "ID of the spending account."
        required: true
        type: "string"
      - name: "userID"
        in: "query"
        description: "ID of the user."
        required: false
        type: "string"
      - name: "userGroupID"
        in: "query"
        description: "ID of the user group."
        required: false
        type: "string"
      responses:
        204:
          description: ""
      x-swagger-router-controller: "SpendingAccount"
  /buyers/{buyerID}/usergroups:
    get:
      tags:
      - "UserGroup"
      operationId: "List"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "search"
        in: "query"
        description: "Word or phrase to search for."
        required: false
        type: "string"
      - name: "searchOn"
        in: "query"
        description: "Comma-delimited list of fields to search on."
        required: false
        type: "string"
      - name: "sortBy"
        in: "query"
        description: "Comma-delimited list of fields to sort by."
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page of results to return. Default: 1"
        required: false
        type: "integer"
      - name: "pageSize"
        in: "query"
        description: "Number of results to return per page. Default: 20, max: 100."
        required: false
        type: "integer"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "UserGroup"
    post:
      tags:
      - "UserGroup"
      operationId: "Create"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - in: "body"
        name: "group"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/UserGroup"
      responses:
        201:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "UserGroup"
  /buyers/{buyerID}/usergroups/assignments:
    get:
      tags:
      - "UserGroup"
      operationId: "ListUserAssignments"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "userGroupID"
        in: "query"
        description: "ID of the user group."
        required: false
        type: "string"
      - name: "userID"
        in: "query"
        description: "ID of the user."
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page of results to return. Default: 1"
        required: false
        type: "integer"
      - name: "pageSize"
        in: "query"
        description: "Number of results to return per page. Default: 20, max: 100."
        required: false
        type: "integer"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "UserGroup"
    post:
      tags:
      - "UserGroup"
      operationId: "SaveUserAssignment"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - in: "body"
        name: "userGroupAssignment"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/UserGroupAssignment"
      responses:
        204:
          description: ""
      x-swagger-router-controller: "UserGroup"
  /buyers/{buyerID}/usergroups/{userGroupID}:
    get:
      tags:
      - "UserGroup"
      operationId: "Get"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "userGroupID"
        in: "path"
        description: "ID of the user group."
        required: true
        type: "string"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "UserGroup"
    put:
      tags:
      - "UserGroup"
      operationId: "Update"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "userGroupID"
        in: "path"
        description: "ID of the user group."
        required: true
        type: "string"
      - in: "body"
        name: "group"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/UserGroup"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "UserGroup"
    delete:
      tags:
      - "UserGroup"
      operationId: "Delete"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "userGroupID"
        in: "path"
        description: "ID of the user group."
        required: true
        type: "string"
      responses:
        204:
          description: ""
      x-swagger-router-controller: "UserGroup"
    patch:
      tags:
      - "UserGroup"
      operationId: "Patch"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "userGroupID"
        in: "path"
        description: "ID of the user group."
        required: true
        type: "string"
      - in: "body"
        name: "group"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/UserGroup"
      responses:
        204:
          description: ""
      x-swagger-router-controller: "UserGroup"
  /buyers/{buyerID}/usergroups/{userGroupID}/assignments/{userID}:
    delete:
      tags:
      - "UserGroup"
      operationId: "DeleteUserAssignment"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "userGroupID"
        in: "path"
        description: "ID of the user group."
        required: true
        type: "string"
      - name: "userID"
        in: "path"
        description: "ID of the user."
        required: true
        type: "string"
      responses:
        204:
          description: ""
      x-swagger-router-controller: "UserGroup"
  /buyers/{buyerID}/users:
    get:
      tags:
      - "User"
      operationId: "List"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "userGroupID"
        in: "query"
        description: "ID of the user group."
        required: false
        type: "string"
      - name: "search"
        in: "query"
        description: "Word or phrase to search for."
        required: false
        type: "string"
      - name: "searchOn"
        in: "query"
        description: "Comma-delimited list of fields to search on."
        required: false
        type: "string"
      - name: "sortBy"
        in: "query"
        description: "Comma-delimited list of fields to sort by."
        required: false
        type: "string"
      - name: "page"
        in: "query"
        description: "Page of results to return. Default: 1"
        required: false
        type: "integer"
      - name: "pageSize"
        in: "query"
        description: "Number of results to return per page. Default: 20, max: 100."
        required: false
        type: "integer"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "User"
    post:
      tags:
      - "User"
      operationId: "Create"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - in: "body"
        name: "user"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/User"
      responses:
        201:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "User"
  /buyers/{buyerID}/users/{userID}:
    get:
      tags:
      - "User"
      operationId: "Get"
      parameters:
      - name: "buyerID"
        in: "path"
        description: "ID of the buyer."
        required: true
        type: "string"
      - name: "userID"
        in: "path"
        description: "ID of the user."
        required: true
        type: "string"
      responses:
        200:
          description: ""
          schema:
            type: "object"
            properties: {}
      x-swagger-router-controller: "User"
    put:
      tags:
      - "User"
[...]
