/* 
 * OrderCloud
 *
 * A full ecommerce backend as a service.
 *
 * OpenAPI spec version: 0.1
 * Contact: ordercloud@four51.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

package OrderCloud

import (
	"strings"
	"fmt"
	"errors"
	"net/url"
	"encoding/json"
)

type LineItemApi struct {
	Configuration Configuration
}

func NewLineItemApi() *LineItemApi {
	configuration := NewConfiguration()
	return &LineItemApi{
		Configuration: *configuration,
	}
}

func NewLineItemApiWithBasePath(basePath string) *LineItemApi {
	configuration := NewConfiguration()
	configuration.BasePath = basePath

	return &LineItemApi{
		Configuration: *configuration,
	}
}

/**
 * 
 *
 * @param buyerID ID of the buyer.
 * @param orderID ID of the order.
 * @param lineItem 
 * @return *Object
 */
func (a LineItemApi) Create(buyerID string, orderID string, lineItem LineItem) (*Object, *APIResponse, error) {

	var httpMethod = "Post"
	// create path and map variables
	path := a.Configuration.BasePath + "/buyers/{buyerID}/orders/{orderID}/lineitems"
	path = strings.Replace(path, "{"+"buyerID"+"}", fmt.Sprintf("%v", buyerID), -1)
	path = strings.Replace(path, "{"+"orderID"+"}", fmt.Sprintf("%v", orderID), -1)

	// verify the required parameter 'buyerID' is set
	if &buyerID == nil {
		return new(Object), nil, errors.New("Missing required parameter 'buyerID' when calling LineItemApi->Create")
	}
	// verify the required parameter 'orderID' is set
	if &orderID == nil {
		return new(Object), nil, errors.New("Missing required parameter 'orderID' when calling LineItemApi->Create")
	}
	// verify the required parameter 'lineItem' is set
	if &lineItem == nil {
		return new(Object), nil, errors.New("Missing required parameter 'lineItem' when calling LineItemApi->Create")
	}

	headerParams := make(map[string]string)
	queryParams := url.Values{}
	formParams := make(map[string]string)
	var postBody interface{}
	var fileName string
	var fileBytes []byte
	// authentication (auth) required

	// oauth required
	if a.Configuration.AccessToken != ""{
		headerParams["Authorization"] =  "Bearer " + a.Configuration.AccessToken
	}
	// add default headers if any
	for key := range a.Configuration.DefaultHeader {
		headerParams[key] = a.Configuration.DefaultHeader[key]
	}


	// to determine the Content-Type header
	localVarHttpContentTypes := []string{  }

	// set Content-Type header
	localVarHttpContentType := a.Configuration.APIClient.SelectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		headerParams["Content-Type"] = localVarHttpContentType
	}
	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{
			}

	// set Accept header
	localVarHttpHeaderAccept := a.Configuration.APIClient.SelectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		headerParams["Accept"] = localVarHttpHeaderAccept
	}
	// body params
	postBody = &lineItem

	var successPayload = new(Object)
	httpResponse, err := a.Configuration.APIClient.CallAPI(path, httpMethod, postBody, headerParams, queryParams, formParams, fileName, fileBytes)
	if err != nil {
		return successPayload, NewAPIResponse(httpResponse.RawResponse), err
	}
	err = json.Unmarshal(httpResponse.Body(), &successPayload)
	return successPayload, NewAPIResponse(httpResponse.RawResponse), err
}

/**
 * 
 *
 * @param buyerID ID of the buyer.
 * @param orderID ID of the order.
 * @param lineItemID ID of the line item.
 * @return void
 */
func (a LineItemApi) Delete(buyerID string, orderID string, lineItemID string) (*APIResponse, error) {

	var httpMethod = "Delete"
	// create path and map variables
	path := a.Configuration.BasePath + "/buyers/{buyerID}/orders/{orderID}/lineitems/{lineItemID}"
	path = strings.Replace(path, "{"+"buyerID"+"}", fmt.Sprintf("%v", buyerID), -1)
	path = strings.Replace(path, "{"+"orderID"+"}", fmt.Sprintf("%v", orderID), -1)
	path = strings.Replace(path, "{"+"lineItemID"+"}", fmt.Sprintf("%v", lineItemID), -1)

	// verify the required parameter 'buyerID' is set
	if &buyerID == nil {
		return nil, errors.New("Missing required parameter 'buyerID' when calling LineItemApi->Delete")
	}
	// verify the required parameter 'orderID' is set
	if &orderID == nil {
		return nil, errors.New("Missing required parameter 'orderID' when calling LineItemApi->Delete")
	}
	// verify the required parameter 'lineItemID' is set
	if &lineItemID == nil {
		return nil, errors.New("Missing required parameter 'lineItemID' when calling LineItemApi->Delete")
	}

	headerParams := make(map[string]string)
	queryParams := url.Values{}
	formParams := make(map[string]string)
	var postBody interface{}
	var fileName string
	var fileBytes []byte
	// authentication (auth) required

	// oauth required
	if a.Configuration.AccessToken != ""{
		headerParams["Authorization"] =  "Bearer " + a.Configuration.AccessToken
	}
	// add default headers if any
	for key := range a.Configuration.DefaultHeader {
		headerParams[key] = a.Configuration.DefaultHeader[key]
	}


	// to determine the Content-Type header
	localVarHttpContentTypes := []string{  }

	// set Content-Type header
	localVarHttpContentType := a.Configuration.APIClient.SelectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		headerParams["Content-Type"] = localVarHttpContentType
	}
	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{
			}

	// set Accept header
	localVarHttpHeaderAccept := a.Configuration.APIClient.SelectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		headerParams["Accept"] = localVarHttpHeaderAccept
	}

	httpResponse, err := a.Configuration.APIClient.CallAPI(path, httpMethod, postBody, headerParams, queryParams, formParams, fileName, fileBytes)
	if err != nil {
		return NewAPIResponse(httpResponse.RawResponse), err
	}

	return NewAPIResponse(httpResponse.RawResponse), err
}

/**
 * 
 *
 * @param buyerID ID of the buyer.
 * @param orderID ID of the order.
 * @param lineItemID ID of the line item.
 * @return *Object
 */
func (a LineItemApi) Get(buyerID string, orderID string, lineItemID string) (*Object, *APIResponse, error) {

	var httpMethod = "Get"
	// create path and map variables
	path := a.Configuration.BasePath + "/buyers/{buyerID}/orders/{orderID}/lineitems/{lineItemID}"
	path = strings.Replace(path, "{"+"buyerID"+"}", fmt.Sprintf("%v", buyerID), -1)
	path = strings.Replace(path, "{"+"orderID"+"}", fmt.Sprintf("%v", orderID), -1)
	path = strings.Replace(path, "{"+"lineItemID"+"}", fmt.Sprintf("%v", lineItemID), -1)

	// verify the required parameter 'buyerID' is set
	if &buyerID == nil {
		return new(Object), nil, errors.New("Missing required parameter 'buyerID' when calling LineItemApi->Get")
	}
	// verify the required parameter 'orderID' is set
	if &orderID == nil {
		return new(Object), nil, errors.New("Missing required parameter 'orderID' when calling LineItemApi->Get")
	}
	// verify the required parameter 'lineItemID' is set
	if &lineItemID == nil {
		return new(Object), nil, errors.New("Missing required parameter 'lineItemID' when calling LineItemApi->Get")
	}

	headerParams := make(map[string]string)
	queryParams := url.Values{}
	formParams := make(map[string]string)
	var postBody interface{}
	var fileName string
	var fileBytes []byte
	// authentication (auth) required

	// oauth required
	if a.Configuration.AccessToken != ""{
		headerParams["Authorization"] =  "Bearer " + a.Configuration.AccessToken
	}
	// add default headers if any
	for key := range a.Configuration.DefaultHeader {
		headerParams[key] = a.Configuration.DefaultHeader[key]
	}


	// to determine the Content-Type header
	localVarHttpContentTypes := []string{  }

	// set Content-Type header
	localVarHttpContentType := a.Configuration.APIClient.SelectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		headerParams["Content-Type"] = localVarHttpContentType
	}
	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{
			}

	// set Accept header
	localVarHttpHeaderAccept := a.Configuration.APIClient.SelectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		headerParams["Accept"] = localVarHttpHeaderAccept
	}
	var successPayload = new(Object)
	httpResponse, err := a.Configuration.APIClient.CallAPI(path, httpMethod, postBody, headerParams, queryParams, formParams, fileName, fileBytes)
	if err != nil {
		return successPayload, NewAPIResponse(httpResponse.RawResponse), err
	}
	err = json.Unmarshal(httpResponse.Body(), &successPayload)
	return successPayload, NewAPIResponse(httpResponse.RawResponse), err
}

/**
 * 
 *
 * @param buyerID ID of the buyer.
 * @param orderID ID of the order.
 * @param search Word or phrase to search for.
 * @param searchOn Comma-delimited list of fields to search on.
 * @param sortBy Comma-delimited list of fields to sort by.
 * @param page Page of results to return. Default: 1
 * @param pageSize Number of results to return per page. Default: 20, max: 100.
 * @return *Object
 */
func (a LineItemApi) List(buyerID string, orderID string, search string, searchOn string, sortBy string, page int32, pageSize int32) (*Object, *APIResponse, error) {

	var httpMethod = "Get"
	// create path and map variables
	path := a.Configuration.BasePath + "/buyers/{buyerID}/orders/{orderID}/lineitems"
	path = strings.Replace(path, "{"+"buyerID"+"}", fmt.Sprintf("%v", buyerID), -1)
	path = strings.Replace(path, "{"+"orderID"+"}", fmt.Sprintf("%v", orderID), -1)

	// verify the required parameter 'buyerID' is set
	if &buyerID == nil {
		return new(Object), nil, errors.New("Missing required parameter 'buyerID' when calling LineItemApi->List")
	}
	// verify the required parameter 'orderID' is set
	if &orderID == nil {
		return new(Object), nil, errors.New("Missing required parameter 'orderID' when calling LineItemApi->List")
	}

	headerParams := make(map[string]string)
	queryParams := url.Values{}
	formParams := make(map[string]string)
	var postBody interface{}
	var fileName string
	var fileBytes []byte
	// authentication (auth) required

	// oauth required
	if a.Configuration.AccessToken != ""{
		headerParams["Authorization"] =  "Bearer " + a.Configuration.AccessToken
	}
	// add default headers if any
	for key := range a.Configuration.DefaultHeader {
		headerParams[key] = a.Configuration.DefaultHeader[key]
	}
		queryParams.Add("search", a.Configuration.APIClient.ParameterToString(search, ""))
			queryParams.Add("searchOn", a.Configuration.APIClient.ParameterToString(searchOn, ""))
			queryParams.Add("sortBy", a.Configuration.APIClient.ParameterToString(sortBy, ""))
			queryParams.Add("page", a.Configuration.APIClient.ParameterToString(page, ""))
			queryParams.Add("pageSize", a.Configuration.APIClient.ParameterToString(pageSize, ""))
	

	// to determine the Content-Type header
	localVarHttpContentTypes := []string{  }

	// set Content-Type header
	localVarHttpContentType := a.Configuration.APIClient.SelectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		headerParams["Content-Type"] = localVarHttpContentType
	}
	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{
			}

	// set Accept header
	localVarHttpHeaderAccept := a.Configuration.APIClient.SelectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		headerParams["Accept"] = localVarHttpHeaderAccept
	}
	var successPayload = new(Object)
	httpResponse, err := a.Configuration.APIClient.CallAPI(path, httpMethod, postBody, headerParams, queryParams, formParams, fileName, fileBytes)
	if err != nil {
		return successPayload, NewAPIResponse(httpResponse.RawResponse), err
	}
	err = json.Unmarshal(httpResponse.Body(), &successPayload)
	return successPayload, NewAPIResponse(httpResponse.RawResponse), err
}

/**
 * 
 *
 * @param buyerID ID of the buyer.
 * @param orderID ID of the order.
 * @param lineItemID ID of the line item.
 * @param partialLineItem 
 * @return *Object
 */
func (a LineItemApi) Patch(buyerID string, orderID string, lineItemID string, partialLineItem LineItem) (*Object, *APIResponse, error) {

	var httpMethod = "Patch"
	// create path and map variables
	path := a.Configuration.BasePath + "/buyers/{buyerID}/orders/{orderID}/lineitems/{lineItemID}"
	path = strings.Replace(path, "{"+"buyerID"+"}", fmt.Sprintf("%v", buyerID), -1)
	path = strings.Replace(path, "{"+"orderID"+"}", fmt.Sprintf("%v", orderID), -1)
	path = strings.Replace(path, "{"+"lineItemID"+"}", fmt.Sprintf("%v", lineItemID), -1)

	// verify the required parameter 'buyerID' is set
	if &buyerID == nil {
		return new(Object), nil, errors.New("Missing required parameter 'buyerID' when calling LineItemApi->Patch")
	}
	// verify the required parameter 'orderID' is set
	if &orderID == nil {
		return new(Object), nil, errors.New("Missing required parameter 'orderID' when calling LineItemApi->Patch")
	}
	// verify the required parameter 'lineItemID' is set
	if &lineItemID == nil {
		return new(Object), nil, errors.New("Missing required parameter 'lineItemID' when calling LineItemApi->Patch")
	}
	// verify the required parameter 'partialLineItem' is set
	if &partialLineItem == nil {
		return new(Object), nil, errors.New("Missing required parameter 'partialLineItem' when calling LineItemApi->Patch")
	}

	headerParams := make(map[string]string)
	queryParams := url.Values{}
	formParams := make(map[string]string)
	var postBody interface{}
	var fileName string
	var fileBytes []byte
	// authentication (auth) required

	// oauth required
	if a.Configuration.AccessToken != ""{
		headerParams["Authorization"] =  "Bearer " + a.Configuration.AccessToken
	}
	// add default headers if any
	for key := range a.Configuration.DefaultHeader {
		headerParams[key] = a.Configuration.DefaultHeader[key]
	}


	// to determine the Content-Type header
	localVarHttpContentTypes := []string{  }

	// set Content-Type header
	localVarHttpContentType := a.Configuration.APIClient.SelectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		headerParams["Content-Type"] = localVarHttpContentType
	}
	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{
			}

	// set Accept header
	localVarHttpHeaderAccept := a.Configuration.APIClient.SelectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		headerParams["Accept"] = localVarHttpHeaderAccept
	}
	// body params
	postBody = &partialLineItem

	var successPayload = new(Object)
	httpResponse, err := a.Configuration.APIClient.CallAPI(path, httpMethod, postBody, headerParams, queryParams, formParams, fileName, fileBytes)
	if err != nil {
		return successPayload, NewAPIResponse(httpResponse.RawResponse), err
	}
	err = json.Unmarshal(httpResponse.Body(), &successPayload)
	return successPayload, NewAPIResponse(httpResponse.RawResponse), err
}

/**
 * 
 *
 * @param buyerID ID of the buyer.
 * @param orderID ID of the order.
 * @param lineItemID ID of the line item.
 * @param address 
 * @return *Object
 */
func (a LineItemApi) PatchShippingAddress(buyerID string, orderID string, lineItemID string, address Address) (*Object, *APIResponse, error) {

	var httpMethod = "Patch"
	// create path and map variables
	path := a.Configuration.BasePath + "/buyers/{buyerID}/orders/{orderID}/lineitems/{lineItemID}/shipto"
	path = strings.Replace(path, "{"+"buyerID"+"}", fmt.Sprintf("%v", buyerID), -1)
	path = strings.Replace(path, "{"+"orderID"+"}", fmt.Sprintf("%v", orderID), -1)
	path = strings.Replace(path, "{"+"lineItemID"+"}", fmt.Sprintf("%v", lineItemID), -1)

	// verify the required parameter 'buyerID' is set
	if &buyerID == nil {
		return new(Object), nil, errors.New("Missing required parameter 'buyerID' when calling LineItemApi->PatchShippingAddress")
	}
	// verify the required parameter 'orderID' is set
	if &orderID == nil {
		return new(Object), nil, errors.New("Missing required parameter 'orderID' when calling LineItemApi->PatchShippingAddress")
	}
	// verify the required parameter 'lineItemID' is set
	if &lineItemID == nil {
		return new(Object), nil, errors.New("Missing required parameter 'lineItemID' when calling LineItemApi->PatchShippingAddress")
	}
	// verify the required parameter 'address' is set
	if &address == nil {
		return new(Object), nil, errors.New("Missing required parameter 'address' when calling LineItemApi->PatchShippingAddress")
	}

	headerParams := make(map[string]string)
	queryParams := url.Values{}
	formParams := make(map[string]string)
	var postBody interface{}
	var fileName string
	var fileBytes []byte
	// authentication (auth) required

	// oauth required
	if a.Configuration.AccessToken != ""{
		headerParams["Authorization"] =  "Bearer " + a.Configuration.AccessToken
	}
	// add default headers if any
	for key := range a.Configuration.DefaultHeader {
		headerParams[key] = a.Configuration.DefaultHeader[key]
	}


	// to determine the Content-Type header
	localVarHttpContentTypes := []string{  }

	// set Content-Type header
	localVarHttpContentType := a.Configuration.APIClient.SelectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		headerParams["Content-Type"] = localVarHttpContentType
	}
	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{
			}

	// set Accept header
	localVarHttpHeaderAccept := a.Configuration.APIClient.SelectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		headerParams["Accept"] = localVarHttpHeaderAccept
	}
	// body params
	postBody = &address

	var successPayload = new(Object)
	httpResponse, err := a.Configuration.APIClient.CallAPI(path, httpMethod, postBody, headerParams, queryParams, formParams, fileName, fileBytes)
	if err != nil {
		return successPayload, NewAPIResponse(httpResponse.RawResponse), err
	}
	err = json.Unmarshal(httpResponse.Body(), &successPayload)
	return successPayload, NewAPIResponse(httpResponse.RawResponse), err
}

/**
 * 
 *
 * @param buyerID ID of the buyer.
 * @param orderID ID of the order.
 * @param lineItemID ID of the line item.
 * @param address 
 * @return *Object
 */
func (a LineItemApi) SetShippingAddress(buyerID string, orderID string, lineItemID string, address Address) (*Object, *APIResponse, error) {

	var httpMethod = "Put"
	// create path and map variables
	path := a.Configuration.BasePath + "/buyers/{buyerID}/orders/{orderID}/lineitems/{lineItemID}/shipto"
	path = strings.Replace(path, "{"+"buyerID"+"}", fmt.Sprintf("%v", buyerID), -1)
	path = strings.Replace(path, "{"+"orderID"+"}", fmt.Sprintf("%v", orderID), -1)
	path = strings.Replace(path, "{"+"lineItemID"+"}", fmt.Sprintf("%v", lineItemID), -1)

	// verify the required parameter 'buyerID' is set
	if &buyerID == nil {
		return new(Object), nil, errors.New("Missing required parameter 'buyerID' when calling LineItemApi->SetShippingAddress")
	}
	// verify the required parameter 'orderID' is set
	if &orderID == nil {
		return new(Object), nil, errors.New("Missing required parameter 'orderID' when calling LineItemApi->SetShippingAddress")
	}
	// verify the required parameter 'lineItemID' is set
	if &lineItemID == nil {
		return new(Object), nil, errors.New("Missing required parameter 'lineItemID' when calling LineItemApi->SetShippingAddress")
	}
	// verify the required parameter 'address' is set
	if &address == nil {
		return new(Object), nil, errors.New("Missing required parameter 'address' when calling LineItemApi->SetShippingAddress")
	}

	headerParams := make(map[string]string)
	queryParams := url.Values{}
	formParams := make(map[string]string)
	var postBody interface{}
	var fileName string
	var fileBytes []byte
	// authentication (auth) required

	// oauth required
	if a.Configuration.AccessToken != ""{
		headerParams["Authorization"] =  "Bearer " + a.Configuration.AccessToken
	}
	// add default headers if any
	for key := range a.Configuration.DefaultHeader {
		headerParams[key] = a.Configuration.DefaultHeader[key]
	}


	// to determine the Content-Type header
	localVarHttpContentTypes := []string{  }

	// set Content-Type header
	localVarHttpContentType := a.Configuration.APIClient.SelectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		headerParams["Content-Type"] = localVarHttpContentType
	}
	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{
			}

	// set Accept header
	localVarHttpHeaderAccept := a.Configuration.APIClient.SelectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		headerParams["Accept"] = localVarHttpHeaderAccept
	}
	// body params
	postBody = &address

	var successPayload = new(Object)
	httpResponse, err := a.Configuration.APIClient.CallAPI(path, httpMethod, postBody, headerParams, queryParams, formParams, fileName, fileBytes)
	if err != nil {
		return successPayload, NewAPIResponse(httpResponse.RawResponse), err
	}
	err = json.Unmarshal(httpResponse.Body(), &successPayload)
	return successPayload, NewAPIResponse(httpResponse.RawResponse), err
}

/**
 * 
 *
 * @param buyerID ID of the buyer.
 * @param orderID ID of the order.
 * @param lineItemID ID of the line item.
 * @param lineItem 
 * @return *Object
 */
func (a LineItemApi) Update(buyerID string, orderID string, lineItemID string, lineItem LineItem) (*Object, *APIResponse, error) {

	var httpMethod = "Put"
	// create path and map variables
	path := a.Configuration.BasePath + "/buyers/{buyerID}/orders/{orderID}/lineitems/{lineItemID}"
	path = strings.Replace(path, "{"+"buyerID"+"}", fmt.Sprintf("%v", buyerID), -1)
	path = strings.Replace(path, "{"+"orderID"+"}", fmt.Sprintf("%v", orderID), -1)
	path = strings.Replace(path, "{"+"lineItemID"+"}", fmt.Sprintf("%v", lineItemID), -1)

	// verify the required parameter 'buyerID' is set
	if &buyerID == nil {
		return new(Object), nil, errors.New("Missing required parameter 'buyerID' when calling LineItemApi->Update")
	}
	// verify the required parameter 'orderID' is set
	if &orderID == nil {
		return new(Object), nil, errors.New("Missing required parameter 'orderID' when calling LineItemApi->Update")
	}
	// verify the required parameter 'lineItemID' is set
	if &lineItemID == nil {
		return new(Object), nil, errors.New("Missing required parameter 'lineItemID' when calling LineItemApi->Update")
	}
	// verify the required parameter 'lineItem' is set
	if &lineItem == nil {
		return new(Object), nil, errors.New("Missing required parameter 'lineItem' when calling LineItemApi->Update")
	}

	headerParams := make(map[string]string)
	queryParams := url.Values{}
	formParams := make(map[string]string)
	var postBody interface{}
	var fileName string
	var fileBytes []byte
	// authentication (auth) required

	// oauth required
	if a.Configuration.AccessToken != ""{
		headerParams["Authorization"] =  "Bearer " + a.Configuration.AccessToken
	}
	// add default headers if any
	for key := range a.Configuration.DefaultHeader {
		headerParams[key] = a.Configuration.DefaultHeader[key]
	}


	// to determine the Content-Type header
	localVarHttpContentTypes := []string{  }

	// set Content-Type header
	localVarHttpContentType := a.Configuration.APIClient.SelectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		headerParams["Content-Type"] = localVarHttpContentType
	}
	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{
			}

	// set Accept header
	localVarHttpHeaderAccept := a.Configuration.APIClient.SelectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		headerParams["Accept"] = localVarHttpHeaderAccept
	}
	// body params
	postBody = &lineItem

	var successPayload = new(Object)
	httpResponse, err := a.Configuration.APIClient.CallAPI(path, httpMethod, postBody, headerParams, queryParams, formParams, fileName, fileBytes)
	if err != nil {
		return successPayload, NewAPIResponse(httpResponse.RawResponse), err
	}
	err = json.Unmarshal(httpResponse.Body(), &successPayload)
	return successPayload, NewAPIResponse(httpResponse.RawResponse), err
}

