{{#apiInfo}}
{{#apis}}
{{#operations}}
export * from './{{ classFilename }}';
import { {{ classname }} } from './{{ classFilename }}';
{{/operations}}
{{/apis}}
export * from './auth.service';
import { AuthService } from './auth.service';
export * from './token.service';
import { TokenService } from './token.service';
export const APIS = [{{#apis}}{{#operations}}{{ classname }}{{/operations}}{{^-last}}, {{/-last}}{{/apis}}, AuthService, TokenService];
{{/apiInfo}}
