=begin
#OrderCloud

#A full ecommerce backend as a service.

OpenAPI spec version: 0.1
Contact: ordercloud@four51.com
Generated by: https://github.com/swagger-api/swagger-codegen.git

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

=end

require "uri"

module SwaggerClient
  class PriceScheduleApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # 
    # 
    # @param price_schedule 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def create(price_schedule, opts = {})
      data, _status_code, _headers = create_with_http_info(price_schedule, opts)
      return data
    end

    # 
    # 
    # @param price_schedule 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def create_with_http_info(price_schedule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: PriceScheduleApi.create ..."
      end
      # verify the required parameter 'price_schedule' is set
      fail ArgumentError, "Missing the required parameter 'price_schedule' when calling PriceScheduleApi.create" if price_schedule.nil?
      # resource path
      local_var_path = "/priceschedules".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = []
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = []
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(price_schedule)
      auth_names = ['auth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PriceScheduleApi#create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # 
    # @param price_schedule_id ID of the price schedule.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete(price_schedule_id, opts = {})
      delete_with_http_info(price_schedule_id, opts)
      return nil
    end

    # 
    # 
    # @param price_schedule_id ID of the price schedule.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_with_http_info(price_schedule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: PriceScheduleApi.delete ..."
      end
      # verify the required parameter 'price_schedule_id' is set
      fail ArgumentError, "Missing the required parameter 'price_schedule_id' when calling PriceScheduleApi.delete" if price_schedule_id.nil?
      # resource path
      local_var_path = "/priceschedules/{priceScheduleID}".sub('{format}','json').sub('{' + 'priceScheduleID' + '}', price_schedule_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = []
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = []
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PriceScheduleApi#delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # 
    # @param price_schedule_id ID of the price schedule.
    # @param quantity Quantity of the price schedule.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_price_break(price_schedule_id, quantity, opts = {})
      delete_price_break_with_http_info(price_schedule_id, quantity, opts)
      return nil
    end

    # 
    # 
    # @param price_schedule_id ID of the price schedule.
    # @param quantity Quantity of the price schedule.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_price_break_with_http_info(price_schedule_id, quantity, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: PriceScheduleApi.delete_price_break ..."
      end
      # verify the required parameter 'price_schedule_id' is set
      fail ArgumentError, "Missing the required parameter 'price_schedule_id' when calling PriceScheduleApi.delete_price_break" if price_schedule_id.nil?
      # verify the required parameter 'quantity' is set
      fail ArgumentError, "Missing the required parameter 'quantity' when calling PriceScheduleApi.delete_price_break" if quantity.nil?
      # resource path
      local_var_path = "/priceschedules/{priceScheduleID}/PriceBreaks".sub('{format}','json').sub('{' + 'priceScheduleID' + '}', price_schedule_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'quantity'] = quantity

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = []
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = []
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PriceScheduleApi#delete_price_break\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # 
    # @param price_schedule_id ID of the price schedule.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def get(price_schedule_id, opts = {})
      data, _status_code, _headers = get_with_http_info(price_schedule_id, opts)
      return data
    end

    # 
    # 
    # @param price_schedule_id ID of the price schedule.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def get_with_http_info(price_schedule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: PriceScheduleApi.get ..."
      end
      # verify the required parameter 'price_schedule_id' is set
      fail ArgumentError, "Missing the required parameter 'price_schedule_id' when calling PriceScheduleApi.get" if price_schedule_id.nil?
      # resource path
      local_var_path = "/priceschedules/{priceScheduleID}".sub('{format}','json').sub('{' + 'priceScheduleID' + '}', price_schedule_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = []
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = []
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PriceScheduleApi#get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :search Word or phrase to search for.
    # @option opts [String] :search_on Comma-delimited list of fields to search on.
    # @option opts [String] :sort_by Comma-delimited list of fields to sort by.
    # @option opts [Integer] :page Page of results to return. Default: 1
    # @option opts [Integer] :page_size Number of results to return per page. Default: 20, max: 100.
    # @return [Object]
    def list(opts = {})
      data, _status_code, _headers = list_with_http_info(opts)
      return data
    end

    # 
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :search Word or phrase to search for.
    # @option opts [String] :search_on Comma-delimited list of fields to search on.
    # @option opts [String] :sort_by Comma-delimited list of fields to sort by.
    # @option opts [Integer] :page Page of results to return. Default: 1
    # @option opts [Integer] :page_size Number of results to return per page. Default: 20, max: 100.
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: PriceScheduleApi.list ..."
      end
      # resource path
      local_var_path = "/priceschedules".sub('{format}','json')

      # query parameters
      query_params = {}
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'searchOn'] = opts[:'search_on'] if !opts[:'search_on'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = []
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = []
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PriceScheduleApi#list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # 
    # @param price_schedule_id ID of the price schedule.
    # @param price_schedule 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def patch(price_schedule_id, price_schedule, opts = {})
      data, _status_code, _headers = patch_with_http_info(price_schedule_id, price_schedule, opts)
      return data
    end

    # 
    # 
    # @param price_schedule_id ID of the price schedule.
    # @param price_schedule 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def patch_with_http_info(price_schedule_id, price_schedule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: PriceScheduleApi.patch ..."
      end
      # verify the required parameter 'price_schedule_id' is set
      fail ArgumentError, "Missing the required parameter 'price_schedule_id' when calling PriceScheduleApi.patch" if price_schedule_id.nil?
      # verify the required parameter 'price_schedule' is set
      fail ArgumentError, "Missing the required parameter 'price_schedule' when calling PriceScheduleApi.patch" if price_schedule.nil?
      # resource path
      local_var_path = "/priceschedules/{priceScheduleID}".sub('{format}','json').sub('{' + 'priceScheduleID' + '}', price_schedule_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = []
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = []
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(price_schedule)
      auth_names = ['auth']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PriceScheduleApi#patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # 
    # @param price_schedule_id ID of the price schedule.
    # @param price_break 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def save_price_break(price_schedule_id, price_break, opts = {})
      data, _status_code, _headers = save_price_break_with_http_info(price_schedule_id, price_break, opts)
      return data
    end

    # 
    # 
    # @param price_schedule_id ID of the price schedule.
    # @param price_break 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def save_price_break_with_http_info(price_schedule_id, price_break, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: PriceScheduleApi.save_price_break ..."
      end
      # verify the required parameter 'price_schedule_id' is set
      fail ArgumentError, "Missing the required parameter 'price_schedule_id' when calling PriceScheduleApi.save_price_break" if price_schedule_id.nil?
      # verify the required parameter 'price_break' is set
      fail ArgumentError, "Missing the required parameter 'price_break' when calling PriceScheduleApi.save_price_break" if price_break.nil?
      # resource path
      local_var_path = "/priceschedules/{priceScheduleID}/PriceBreaks".sub('{format}','json').sub('{' + 'priceScheduleID' + '}', price_schedule_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = []
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = []
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(price_break)
      auth_names = ['auth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PriceScheduleApi#save_price_break\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # 
    # @param price_schedule_id ID of the price schedule.
    # @param price_schedule 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def update(price_schedule_id, price_schedule, opts = {})
      data, _status_code, _headers = update_with_http_info(price_schedule_id, price_schedule, opts)
      return data
    end

    # 
    # 
    # @param price_schedule_id ID of the price schedule.
    # @param price_schedule 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def update_with_http_info(price_schedule_id, price_schedule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: PriceScheduleApi.update ..."
      end
      # verify the required parameter 'price_schedule_id' is set
      fail ArgumentError, "Missing the required parameter 'price_schedule_id' when calling PriceScheduleApi.update" if price_schedule_id.nil?
      # verify the required parameter 'price_schedule' is set
      fail ArgumentError, "Missing the required parameter 'price_schedule' when calling PriceScheduleApi.update" if price_schedule.nil?
      # resource path
      local_var_path = "/priceschedules/{priceScheduleID}".sub('{format}','json').sub('{' + 'priceScheduleID' + '}', price_schedule_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = []
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = []
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(price_schedule)
      auth_names = ['auth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PriceScheduleApi#update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
