/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.Any
import io.swagger.client.model.ApprovalRule
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object ApprovalRuleApi {

  /**
   * 
   * 
   * Expected answers:
   *   code 201 : Any 
   * 
   * @param buyerID ID of the buyer.
   * @param approvalRule 
   */
  def create(buyerID: String, approvalRule: ApprovalRule): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.POST, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/approvalrules", "application/json")
      .withBody(approvalRule)
      .withPathParam("buyerID", buyerID)
      .withSuccessResponse[Any](201)
        /**
   * 
   * 
   * Expected answers:
   *   code 204 :  
   * 
   * @param buyerID ID of the buyer.
   * @param approvalRuleID ID of the approval rule.
   */
  def delete(buyerID: String, approvalRuleID: String): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/approvalrules/{approvalRuleID}", "application/json")
      .withPathParam("buyerID", buyerID)
      .withPathParam("approvalRuleID", approvalRuleID)
      .withSuccessResponse[Unit](204)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 : Any 
   * 
   * @param buyerID ID of the buyer.
   * @param approvalRuleID ID of the approval rule.
   */
  def get(buyerID: String, approvalRuleID: String): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.GET, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/approvalrules/{approvalRuleID}", "application/json")
      .withPathParam("buyerID", buyerID)
      .withPathParam("approvalRuleID", approvalRuleID)
      .withSuccessResponse[Any](200)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 : Any 
   * 
   * @param buyerID ID of the buyer.
   * @param search Word or phrase to search for.
   * @param searchOn Comma-delimited list of fields to search on.
   * @param sortBy Comma-delimited list of fields to sort by.
   * @param page Page of results to return. Default: 1
   * @param pageSize Number of results to return per page. Default: 20, max: 100.
   */
  def list(buyerID: String, search: Option[String] = None, searchOn: Option[String] = None, sortBy: Option[String] = None, page: Option[Int] = None, pageSize: Option[Int] = None): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.GET, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/approvalrules", "application/json")
      .withQueryParam("search", search)
      .withQueryParam("searchOn", searchOn)
      .withQueryParam("sortBy", sortBy)
      .withQueryParam("page", page)
      .withQueryParam("pageSize", pageSize)
      .withPathParam("buyerID", buyerID)
      .withSuccessResponse[Any](200)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 : Any 
   * 
   * @param buyerID ID of the buyer.
   * @param approvalRuleID ID of the approval rule.
   * @param partialApprovalRule 
   */
  def patch(buyerID: String, approvalRuleID: String, partialApprovalRule: ApprovalRule): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.PATCH, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/approvalrules/{approvalRuleID}", "application/json")
      .withBody(partialApprovalRule)
      .withPathParam("buyerID", buyerID)
      .withPathParam("approvalRuleID", approvalRuleID)
      .withSuccessResponse[Any](200)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 : Any 
   * 
   * @param buyerID ID of the buyer.
   * @param approvalRuleID ID of the approval rule.
   * @param approvalRule 
   */
  def update(buyerID: String, approvalRuleID: String, approvalRule: ApprovalRule): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.PUT, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/approvalrules/{approvalRuleID}", "application/json")
      .withBody(approvalRule)
      .withPathParam("buyerID", buyerID)
      .withPathParam("approvalRuleID", approvalRuleID)
      .withSuccessResponse[Any](200)
      

}

