/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.Any
import io.swagger.client.model.Category
import io.swagger.client.model.CategoryAssignment
import io.swagger.client.model.CategoryProductAssignment
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object CategoryApi {

  /**
   * 
   * 
   * Expected answers:
   *   code 201 : Any 
   * 
   * @param buyerID ID of the buyer.
   * @param category 
   */
  def create(buyerID: String, category: Category): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.POST, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/categories", "application/json")
      .withBody(category)
      .withPathParam("buyerID", buyerID)
      .withSuccessResponse[Any](201)
        /**
   * 
   * 
   * Expected answers:
   *   code 204 :  
   * 
   * @param buyerID ID of the buyer.
   * @param categoryID ID of the category.
   */
  def delete(buyerID: String, categoryID: String): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/categories/{categoryID}", "application/json")
      .withPathParam("buyerID", buyerID)
      .withPathParam("categoryID", categoryID)
      .withSuccessResponse[Unit](204)
        /**
   * 
   * 
   * Expected answers:
   *   code 204 :  
   * 
   * @param buyerID ID of the buyer.
   * @param categoryID ID of the category.
   * @param userID ID of the user.
   * @param userGroupID ID of the user group.
   */
  def deleteAssignment(buyerID: String, categoryID: String, userID: Option[String] = None, userGroupID: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/categories/{categoryID}/assignments", "application/json")
      .withQueryParam("userID", userID)
      .withQueryParam("userGroupID", userGroupID)
      .withPathParam("buyerID", buyerID)
      .withPathParam("categoryID", categoryID)
      .withSuccessResponse[Unit](204)
        /**
   * 
   * 
   * Expected answers:
   *   code 204 :  
   * 
   * @param buyerID ID of the buyer.
   * @param categoryID ID of the category.
   * @param productID ID of the product.
   */
  def deleteProductAssignment(buyerID: String, categoryID: String, productID: String): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/categories/{categoryID}/productassignments/{productID}", "application/json")
      .withPathParam("buyerID", buyerID)
      .withPathParam("categoryID", categoryID)
      .withPathParam("productID", productID)
      .withSuccessResponse[Unit](204)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 : Any 
   * 
   * @param buyerID ID of the buyer.
   * @param categoryID ID of the category.
   */
  def get(buyerID: String, categoryID: String): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.GET, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/categories/{categoryID}", "application/json")
      .withPathParam("buyerID", buyerID)
      .withPathParam("categoryID", categoryID)
      .withSuccessResponse[Any](200)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 : Any 
   * 
   * @param buyerID ID of the buyer.
   * @param parentID ID of the parent.
   * @param depth Depth of the category.
   * @param search Word or phrase to search for.
   * @param searchOn Comma-delimited list of fields to search on.
   * @param sortBy Comma-delimited list of fields to sort by.
   * @param page Page of results to return. Default: 1
   * @param pageSize Number of results to return per page. Default: 20, max: 100.
   */
  def list(buyerID: String, parentID: Option[String] = None, depth: Option[String] = None, search: Option[String] = None, searchOn: Option[String] = None, sortBy: Option[String] = None, page: Option[Int] = None, pageSize: Option[Int] = None): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.GET, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/categories", "application/json")
      .withQueryParam("parentID", parentID)
      .withQueryParam("depth", depth)
      .withQueryParam("search", search)
      .withQueryParam("searchOn", searchOn)
      .withQueryParam("sortBy", sortBy)
      .withQueryParam("page", page)
      .withQueryParam("pageSize", pageSize)
      .withPathParam("buyerID", buyerID)
      .withSuccessResponse[Any](200)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 : Any 
   * 
   * @param buyerID ID of the buyer.
   * @param categoryID ID of the category.
   * @param userID ID of the user.
   * @param userGroupID ID of the user group.
   * @param level Level of the category.
   * @param page Page of results to return. Default: 1
   * @param pageSize Number of results to return per page. Default: 20, max: 100.
   */
  def listAssignments(buyerID: String, categoryID: Option[String] = None, userID: Option[String] = None, userGroupID: Option[String] = None, level: Option[String] = None, page: Option[Int] = None, pageSize: Option[Int] = None): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.GET, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/categories/assignments", "application/json")
      .withQueryParam("categoryID", categoryID)
      .withQueryParam("userID", userID)
      .withQueryParam("userGroupID", userGroupID)
      .withQueryParam("level", level)
      .withQueryParam("page", page)
      .withQueryParam("pageSize", pageSize)
      .withPathParam("buyerID", buyerID)
      .withSuccessResponse[Any](200)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 : Any 
   * 
   * @param buyerID ID of the buyer.
   * @param parentID ID of the parent.
   * @param search Word or phrase to search for.
   * @param depth Depth of the category.
   * @param page Page of results to return. Default: 1
   * @param pageSize Number of results to return per page. Default: 20, max: 100.
   */
  def listChildren(buyerID: String, parentID: String, search: Option[String] = None, depth: Option[String] = None, page: Option[Int] = None, pageSize: Option[Int] = None): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.GET, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/categories/{parentID}/categories", "application/json")
      .withQueryParam("search", search)
      .withQueryParam("depth", depth)
      .withQueryParam("page", page)
      .withQueryParam("pageSize", pageSize)
      .withPathParam("buyerID", buyerID)
      .withPathParam("parentID", parentID)
      .withSuccessResponse[Any](200)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 : Any 
   * 
   * @param buyerID ID of the buyer.
   * @param categoryID ID of the category.
   * @param productID ID of the product.
   * @param page Page of results to return. Default: 1
   * @param pageSize Number of results to return per page. Default: 20, max: 100.
   */
  def listProductAssignments(buyerID: String, categoryID: Option[String] = None, productID: Option[String] = None, page: Option[Int] = None, pageSize: Option[Int] = None): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.GET, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/categories/productassignments", "application/json")
      .withQueryParam("categoryID", categoryID)
      .withQueryParam("productID", productID)
      .withQueryParam("page", page)
      .withQueryParam("pageSize", pageSize)
      .withPathParam("buyerID", buyerID)
      .withSuccessResponse[Any](200)
        /**
   * 
   * 
   * Expected answers:
   *   code 204 :  
   * 
   * @param buyerID ID of the buyer.
   * @param categoryID ID of the category.
   * @param category 
   */
  def patch(buyerID: String, categoryID: String, category: Category): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PATCH, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/categories/{categoryID}", "application/json")
      .withBody(category)
      .withPathParam("buyerID", buyerID)
      .withPathParam("categoryID", categoryID)
      .withSuccessResponse[Unit](204)
        /**
   * 
   * 
   * Expected answers:
   *   code 204 :  
   * 
   * @param buyerID ID of the buyer.
   * @param categoryAssignment 
   */
  def saveAssignment(buyerID: String, categoryAssignment: CategoryAssignment): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/categories/assignments", "application/json")
      .withBody(categoryAssignment)
      .withPathParam("buyerID", buyerID)
      .withSuccessResponse[Unit](204)
        /**
   * 
   * 
   * Expected answers:
   *   code 204 :  
   * 
   * @param buyerID ID of the buyer.
   * @param productAssignment 
   */
  def saveProductAssignment(buyerID: String, productAssignment: CategoryProductAssignment): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/categories/productassignments", "application/json")
      .withBody(productAssignment)
      .withPathParam("buyerID", buyerID)
      .withSuccessResponse[Unit](204)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 : Any 
   * 
   * @param buyerID ID of the buyer.
   * @param categoryID ID of the category.
   * @param category 
   */
  def update(buyerID: String, categoryID: String, category: Category): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.PUT, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/categories/{categoryID}", "application/json")
      .withBody(category)
      .withPathParam("buyerID", buyerID)
      .withPathParam("categoryID", categoryID)
      .withSuccessResponse[Any](200)
      

}

