/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.Any
import io.swagger.client.model.EmailTemplate
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object EmailTemplateApi {

  /**
   * 
   * 
   * Expected answers:
   *   code 200 : Any 
   * 
   * @param buyerID ID of the buyer.
   * @param emailTemplateType Email template type of the email template. Possible values: OrderSubmittedForApproval, CustomerOrderSubmitted, OrderToApprove, OrderDeclined, OrderApproved, PriceRequestSubmitted, CustomerOrderShipped, ProductRequiresAttachment, InventoryPointReached, LineItemExceedsInventory, PriceRequestResponse, CustomerOrderUpdated, OrderCanceled, PriceRequestCanceled, NewOrderReceived, ApprovalNotification, EmailLoginVerificationCode.
   */
  def get(buyerID: String, emailTemplateType: String): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.GET, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/emailtemplates/{emailTemplateType}", "application/json")
      .withPathParam("buyerID", buyerID)
      .withPathParam("emailTemplateType", emailTemplateType)
      .withSuccessResponse[Any](200)
        /**
   * 
   * 
   * Expected answers:
   *   code 204 :  
   * 
   * @param buyerID ID of the buyer.
   * @param emailTemplateType Email template type of the email template. Possible values: OrderSubmittedForApproval, CustomerOrderSubmitted, OrderToApprove, OrderDeclined, OrderApproved, PriceRequestSubmitted, CustomerOrderShipped, ProductRequiresAttachment, InventoryPointReached, LineItemExceedsInventory, PriceRequestResponse, CustomerOrderUpdated, OrderCanceled, PriceRequestCanceled, NewOrderReceived, ApprovalNotification, EmailLoginVerificationCode.
   * @param emailTemplate 
   */
  def patch(buyerID: String, emailTemplateType: String, emailTemplate: EmailTemplate): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PATCH, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/emailtemplates/{emailTemplateType}", "application/json")
      .withBody(emailTemplate)
      .withPathParam("buyerID", buyerID)
      .withPathParam("emailTemplateType", emailTemplateType)
      .withSuccessResponse[Unit](204)
        /**
   * 
   * 
   * Expected answers:
   *   code 204 :  
   * 
   * @param buyerID ID of the buyer.
   * @param emailTemplateType Email template type of the email template. Possible values: OrderSubmittedForApproval, CustomerOrderSubmitted, OrderToApprove, OrderDeclined, OrderApproved, PriceRequestSubmitted, CustomerOrderShipped, ProductRequiresAttachment, InventoryPointReached, LineItemExceedsInventory, PriceRequestResponse, CustomerOrderUpdated, OrderCanceled, PriceRequestCanceled, NewOrderReceived, ApprovalNotification, EmailLoginVerificationCode.
   */
  def resetToDefault(buyerID: String, emailTemplateType: String): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/emailtemplates/{emailTemplateType}", "application/json")
      .withPathParam("buyerID", buyerID)
      .withPathParam("emailTemplateType", emailTemplateType)
      .withSuccessResponse[Unit](204)
        /**
   * 
   * 
   * Expected answers:
   *   code 204 :  
   * 
   * @param buyerID ID of the buyer.
   * @param emailTemplateType Email template type of the email template. Possible values: OrderSubmittedForApproval, CustomerOrderSubmitted, OrderToApprove, OrderDeclined, OrderApproved, PriceRequestSubmitted, CustomerOrderShipped, ProductRequiresAttachment, InventoryPointReached, LineItemExceedsInventory, PriceRequestResponse, CustomerOrderUpdated, OrderCanceled, PriceRequestCanceled, NewOrderReceived, ApprovalNotification, EmailLoginVerificationCode.
   * @param emailTemplate 
   */
  def update(buyerID: String, emailTemplateType: String, emailTemplate: EmailTemplate): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/emailtemplates/{emailTemplateType}", "application/json")
      .withBody(emailTemplate)
      .withPathParam("buyerID", buyerID)
      .withPathParam("emailTemplateType", emailTemplateType)
      .withSuccessResponse[Unit](204)
      

}

