/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.PasswordReset
import io.swagger.client.model.PasswordResetRequest
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object PasswordResetApi {

  /**
   * 
   * 
   * Expected answers:
   *   code 204 :  
   * 
   * @param verificationCode Verification code of the forgotten password.
   * @param passwordReset 
   */
  def resetPassword(verificationCode: String, passwordReset: PasswordReset): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, "https://api.ordercloud.io/v1", "/password/reset/{verificationCode}", "application/json")
      .withBody(passwordReset)
      .withPathParam("verificationCode", verificationCode)
      .withSuccessResponse[Unit](204)
        /**
   * 
   * 
   * Expected answers:
   *   code 204 :  (Sends a temporary verification code via email, which must subsequently be passed in a Reset Password call.)
   * 
   * @param passwordResetRequest 
   */
  def sendVerificationCode(passwordResetRequest: PasswordResetRequest): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, "https://api.ordercloud.io/v1", "/password/reset", "application/json")
      .withBody(passwordResetRequest)
      .withSuccessResponse[Unit](204)
      

}

