/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.Any
import io.swagger.client.model.Payment
import io.swagger.client.model.PaymentTransaction
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object PaymentApi {

  /**
   * 
   * 
   * Expected answers:
   *   code 201 : Any 
   * 
   * @param buyerID ID of the buyer.
   * @param orderID ID of the order.
   * @param payment 
   */
  def create(buyerID: String, orderID: String, payment: Payment): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.POST, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/orders/{orderID}/payments", "application/json")
      .withBody(payment)
      .withPathParam("buyerID", buyerID)
      .withPathParam("orderID", orderID)
      .withSuccessResponse[Any](201)
        /**
   * 
   * 
   * Expected answers:
   *   code 201 : Any 
   * 
   * @param buyerID ID of the buyer.
   * @param orderID ID of the order.
   * @param paymentID ID of the payment.
   * @param transaction 
   */
  def createTransaction(buyerID: String, orderID: String, paymentID: String, transaction: PaymentTransaction): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.POST, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/orders/{orderID}/payments/{paymentID}/transactions", "application/json")
      .withBody(transaction)
      .withPathParam("buyerID", buyerID)
      .withPathParam("orderID", orderID)
      .withPathParam("paymentID", paymentID)
      .withSuccessResponse[Any](201)
        /**
   * 
   * 
   * Expected answers:
   *   code 204 :  
   * 
   * @param buyerID ID of the buyer.
   * @param orderID ID of the order.
   * @param paymentID ID of the payment.
   */
  def delete(buyerID: String, orderID: String, paymentID: String): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/orders/{orderID}/payments/{paymentID}", "application/json")
      .withPathParam("buyerID", buyerID)
      .withPathParam("orderID", orderID)
      .withPathParam("paymentID", paymentID)
      .withSuccessResponse[Unit](204)
        /**
   * 
   * 
   * Expected answers:
   *   code 204 :  
   * 
   * @param buyerID ID of the buyer.
   * @param orderID ID of the order.
   * @param paymentID ID of the payment.
   * @param transactionID ID of the transaction.
   */
  def deleteTransaction(buyerID: String, orderID: String, paymentID: String, transactionID: String): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/orders/{orderID}/payments/{paymentID}/transactions/{transactionID}", "application/json")
      .withPathParam("buyerID", buyerID)
      .withPathParam("orderID", orderID)
      .withPathParam("paymentID", paymentID)
      .withPathParam("transactionID", transactionID)
      .withSuccessResponse[Unit](204)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 : Any 
   * 
   * @param buyerID ID of the buyer.
   * @param orderID ID of the order.
   * @param paymentID ID of the payment.
   */
  def get(buyerID: String, orderID: String, paymentID: String): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.GET, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/orders/{orderID}/payments/{paymentID}", "application/json")
      .withPathParam("buyerID", buyerID)
      .withPathParam("orderID", orderID)
      .withPathParam("paymentID", paymentID)
      .withSuccessResponse[Any](200)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 : Any 
   * 
   * @param buyerID ID of the buyer.
   * @param orderID ID of the order.
   * @param search Word or phrase to search for.
   * @param searchOn Comma-delimited list of fields to search on.
   * @param sortBy Comma-delimited list of fields to sort by.
   * @param page Page of results to return. Default: 1
   * @param pageSize Number of results to return per page. Default: 20, max: 100.
   */
  def list(buyerID: String, orderID: String, search: Option[String] = None, searchOn: Option[String] = None, sortBy: Option[String] = None, page: Option[Int] = None, pageSize: Option[Int] = None): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.GET, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/orders/{orderID}/payments", "application/json")
      .withQueryParam("search", search)
      .withQueryParam("searchOn", searchOn)
      .withQueryParam("sortBy", sortBy)
      .withQueryParam("page", page)
      .withQueryParam("pageSize", pageSize)
      .withPathParam("buyerID", buyerID)
      .withPathParam("orderID", orderID)
      .withSuccessResponse[Any](200)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 : Any 
   * 
   * @param buyerID ID of the buyer.
   * @param orderID ID of the order.
   * @param paymentID ID of the payment.
   * @param partialPayment 
   */
  def patch(buyerID: String, orderID: String, paymentID: String, partialPayment: Payment): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.PATCH, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/orders/{orderID}/payments/{paymentID}", "application/json")
      .withBody(partialPayment)
      .withPathParam("buyerID", buyerID)
      .withPathParam("orderID", orderID)
      .withPathParam("paymentID", paymentID)
      .withSuccessResponse[Any](200)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 : Any 
   * 
   * @param buyerID ID of the buyer.
   * @param orderID ID of the order.
   * @param paymentID ID of the payment.
   * @param transactionID ID of the transaction.
   * @param partialTransaction 
   */
  def patchTransaction(buyerID: String, orderID: String, paymentID: String, transactionID: String, partialTransaction: PaymentTransaction): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.PATCH, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/orders/{orderID}/payments/{paymentID}/transactions/{transactionID}", "application/json")
      .withBody(partialTransaction)
      .withPathParam("buyerID", buyerID)
      .withPathParam("orderID", orderID)
      .withPathParam("paymentID", paymentID)
      .withPathParam("transactionID", transactionID)
      .withSuccessResponse[Any](200)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 : Any 
   * 
   * @param buyerID ID of the buyer.
   * @param orderID ID of the order.
   * @param paymentID ID of the payment.
   * @param payment 
   */
  def update(buyerID: String, orderID: String, paymentID: String, payment: Payment): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.PUT, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/orders/{orderID}/payments/{paymentID}", "application/json")
      .withBody(payment)
      .withPathParam("buyerID", buyerID)
      .withPathParam("orderID", orderID)
      .withPathParam("paymentID", paymentID)
      .withSuccessResponse[Any](200)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 : Any 
   * 
   * @param buyerID ID of the buyer.
   * @param orderID ID of the order.
   * @param paymentID ID of the payment.
   * @param transactionID ID of the transaction.
   * @param transaction 
   */
  def updateTransaction(buyerID: String, orderID: String, paymentID: String, transactionID: String, transaction: PaymentTransaction): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.PUT, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/orders/{orderID}/payments/{paymentID}/transactions/{transactionID}", "application/json")
      .withBody(transaction)
      .withPathParam("buyerID", buyerID)
      .withPathParam("orderID", orderID)
      .withPathParam("paymentID", paymentID)
      .withPathParam("transactionID", transactionID)
      .withSuccessResponse[Any](200)
      

}

