/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.Any
import io.swagger.client.model.Shipment
import io.swagger.client.model.ShipmentItem
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object ShipmentApi {

  /**
   * 
   * 
   * Expected answers:
   *   code 201 : Any 
   * 
   * @param buyerID ID of the buyer.
   * @param shipment 
   */
  def create(buyerID: String, shipment: Shipment): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.POST, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/shipments", "application/json")
      .withBody(shipment)
      .withPathParam("buyerID", buyerID)
      .withSuccessResponse[Any](201)
        /**
   * 
   * 
   * Expected answers:
   *   code 204 :  
   * 
   * @param buyerID ID of the buyer.
   * @param shipmentID ID of the shipment.
   */
  def delete(buyerID: String, shipmentID: String): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/shipments/{shipmentID}", "application/json")
      .withPathParam("buyerID", buyerID)
      .withPathParam("shipmentID", shipmentID)
      .withSuccessResponse[Unit](204)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 : Any 
   * 
   * @param buyerID ID of the buyer.
   * @param shipmentID ID of the shipment.
   * @param orderID ID of the order.
   * @param lineItemID ID of the line item.
   */
  def deleteItem(buyerID: String, shipmentID: String, orderID: String, lineItemID: String): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.DELETE, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/shipments/{shipmentID}/items/{orderID}/{lineItemID}", "application/json")
      .withPathParam("buyerID", buyerID)
      .withPathParam("shipmentID", shipmentID)
      .withPathParam("orderID", orderID)
      .withPathParam("lineItemID", lineItemID)
      .withSuccessResponse[Any](200)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 : Any 
   * 
   * @param buyerID ID of the buyer.
   * @param shipmentID ID of the shipment.
   */
  def get(buyerID: String, shipmentID: String): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.GET, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/shipments/{shipmentID}", "application/json")
      .withPathParam("buyerID", buyerID)
      .withPathParam("shipmentID", shipmentID)
      .withSuccessResponse[Any](200)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 : Any 
   * 
   * @param buyerID ID of the buyer.
   * @param orderID ID of the order.
   * @param search Word or phrase to search for.
   * @param searchOn Comma-delimited list of fields to search on.
   * @param sortBy Comma-delimited list of fields to sort by.
   * @param page Page of results to return. Default: 1
   * @param pageSize Number of results to return per page. Default: 20, max: 100.
   */
  def list(buyerID: String, orderID: Option[String] = None, search: Option[String] = None, searchOn: Option[String] = None, sortBy: Option[String] = None, page: Option[Int] = None, pageSize: Option[Int] = None): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.GET, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/shipments", "application/json")
      .withQueryParam("orderID", orderID)
      .withQueryParam("search", search)
      .withQueryParam("searchOn", searchOn)
      .withQueryParam("sortBy", sortBy)
      .withQueryParam("page", page)
      .withQueryParam("pageSize", pageSize)
      .withPathParam("buyerID", buyerID)
      .withSuccessResponse[Any](200)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 : Any 
   * 
   * @param buyerID ID of the buyer.
   * @param shipmentID ID of the shipment.
   * @param shipment 
   */
  def patch(buyerID: String, shipmentID: String, shipment: Shipment): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.PATCH, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/shipments/{shipmentID}", "application/json")
      .withBody(shipment)
      .withPathParam("buyerID", buyerID)
      .withPathParam("shipmentID", shipmentID)
      .withSuccessResponse[Any](200)
        /**
   * 
   * 
   * Expected answers:
   *   code 201 : Any 
   * 
   * @param buyerID ID of the buyer.
   * @param shipmentID ID of the shipment.
   * @param item 
   */
  def saveItem(buyerID: String, shipmentID: String, item: ShipmentItem): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.POST, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/shipments/{shipmentID}/items", "application/json")
      .withBody(item)
      .withPathParam("buyerID", buyerID)
      .withPathParam("shipmentID", shipmentID)
      .withSuccessResponse[Any](201)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 : Any 
   * 
   * @param buyerID ID of the buyer.
   * @param shipmentID ID of the shipment.
   * @param shipment 
   */
  def update(buyerID: String, shipmentID: String, shipment: Shipment): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.PUT, "https://api.ordercloud.io/v1", "/buyers/{buyerID}/shipments/{shipmentID}", "application/json")
      .withBody(shipment)
      .withPathParam("buyerID", buyerID)
      .withPathParam("shipmentID", shipmentID)
      .withSuccessResponse[Any](200)
      

}

