/*
 * OrderCloud
 *
 * A full ecommerce backend as a service.
 *
 * OpenAPI spec version: 0.1
 * Contact: ordercloud@four51.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

using System;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.ComponentModel;
using System.IO;
using System.Linq;
using System.Net;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Mvc;
using Newtonsoft.Json;
using Swashbuckle.SwaggerGen.Annotations;
using OrderCloud.Models;

namespace OrderCloud.Controllers
{ 
    /// <summary>
    /// 
    /// </summary>
    public class EmailTemplateApiController : Controller
    { 

        /// <summary>
        /// 
        /// </summary>
        
        /// <param name="buyerID">ID of the buyer.</param>
        /// <param name="emailTemplateType">Email template type of the email template. Possible values: OrderSubmittedForApproval, CustomerOrderSubmitted, OrderToApprove, OrderDeclined, OrderApproved, PriceRequestSubmitted, CustomerOrderShipped, ProductRequiresAttachment, InventoryPointReached, LineItemExceedsInventory, PriceRequestResponse, CustomerOrderUpdated, OrderCanceled, PriceRequestCanceled, NewOrderReceived, ApprovalNotification, EmailLoginVerificationCode.</param>
        /// <response code="200"></response>
        [HttpGet]
        [Route("/buyers/{buyerID}/emailtemplates/{emailTemplateType}")]
        [SwaggerOperation("Get")]
        [SwaggerResponse(200, type: typeof(Object))]
        public virtual IActionResult Get([FromRoute]string buyerID, [FromRoute]string emailTemplateType)
        { 
            string exampleJson = null;
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<Object>(exampleJson)
            : default(Object);
            return new ObjectResult(example);
        }


        /// <summary>
        /// 
        /// </summary>
        
        /// <param name="buyerID">ID of the buyer.</param>
        /// <param name="emailTemplateType">Email template type of the email template. Possible values: OrderSubmittedForApproval, CustomerOrderSubmitted, OrderToApprove, OrderDeclined, OrderApproved, PriceRequestSubmitted, CustomerOrderShipped, ProductRequiresAttachment, InventoryPointReached, LineItemExceedsInventory, PriceRequestResponse, CustomerOrderUpdated, OrderCanceled, PriceRequestCanceled, NewOrderReceived, ApprovalNotification, EmailLoginVerificationCode.</param>
        /// <param name="emailTemplate"></param>
        /// <response code="204"></response>
        [HttpPatch]
        [Route("/buyers/{buyerID}/emailtemplates/{emailTemplateType}")]
        [SwaggerOperation("Patch")]
        public virtual void Patch([FromRoute]string buyerID, [FromRoute]string emailTemplateType, [FromBody]EmailTemplate emailTemplate)
        { 
            throw new NotImplementedException();
        }


        /// <summary>
        /// 
        /// </summary>
        
        /// <param name="buyerID">ID of the buyer.</param>
        /// <param name="emailTemplateType">Email template type of the email template. Possible values: OrderSubmittedForApproval, CustomerOrderSubmitted, OrderToApprove, OrderDeclined, OrderApproved, PriceRequestSubmitted, CustomerOrderShipped, ProductRequiresAttachment, InventoryPointReached, LineItemExceedsInventory, PriceRequestResponse, CustomerOrderUpdated, OrderCanceled, PriceRequestCanceled, NewOrderReceived, ApprovalNotification, EmailLoginVerificationCode.</param>
        /// <response code="204"></response>
        [HttpDelete]
        [Route("/buyers/{buyerID}/emailtemplates/{emailTemplateType}")]
        [SwaggerOperation("ResetToDefault")]
        public virtual void ResetToDefault([FromRoute]string buyerID, [FromRoute]string emailTemplateType)
        { 
            throw new NotImplementedException();
        }


        /// <summary>
        /// 
        /// </summary>
        
        /// <param name="buyerID">ID of the buyer.</param>
        /// <param name="emailTemplateType">Email template type of the email template. Possible values: OrderSubmittedForApproval, CustomerOrderSubmitted, OrderToApprove, OrderDeclined, OrderApproved, PriceRequestSubmitted, CustomerOrderShipped, ProductRequiresAttachment, InventoryPointReached, LineItemExceedsInventory, PriceRequestResponse, CustomerOrderUpdated, OrderCanceled, PriceRequestCanceled, NewOrderReceived, ApprovalNotification, EmailLoginVerificationCode.</param>
        /// <param name="emailTemplate"></param>
        /// <response code="204"></response>
        [HttpPut]
        [Route("/buyers/{buyerID}/emailtemplates/{emailTemplateType}")]
        [SwaggerOperation("Update")]
        public virtual void Update([FromRoute]string buyerID, [FromRoute]string emailTemplateType, [FromBody]EmailTemplate emailTemplate)
        { 
            throw new NotImplementedException();
        }
    }
}
