/**
 * OrderCloud
 * A full ecommerce backend as a service.
 *
 * OpenAPI spec version: 0.1
 * Contact: ordercloud@four51.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

package io.swagger.client.api;

import io.swagger.client.ApiInvoker;
import io.swagger.client.ApiException;
import io.swagger.client.Pair;

import io.swagger.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import io.swagger.client.model.EmailTemplate;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class EmailTemplateApi {
  String basePath = "https://api.ordercloud.io/v1";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * 
  * 
   * @param buyerID ID of the buyer.
   * @param emailTemplateType Email template type of the email template. Possible values: OrderSubmittedForApproval, CustomerOrderSubmitted, OrderToApprove, OrderDeclined, OrderApproved, PriceRequestSubmitted, CustomerOrderShipped, ProductRequiresAttachment, InventoryPointReached, LineItemExceedsInventory, PriceRequestResponse, CustomerOrderUpdated, OrderCanceled, PriceRequestCanceled, NewOrderReceived, ApprovalNotification, EmailLoginVerificationCode.
   * @return Object
  */
  public Object get (String buyerID, String emailTemplateType) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
     Object postBody = null;
  
      // verify the required parameter 'buyerID' is set
      if (buyerID == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'buyerID' when calling get",
      new ApiException(400, "Missing the required parameter 'buyerID' when calling get"));
      }
  
      // verify the required parameter 'emailTemplateType' is set
      if (emailTemplateType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'emailTemplateType' when calling get",
      new ApiException(400, "Missing the required parameter 'emailTemplateType' when calling get"));
      }
  

  // create path and map variables
  String path = "/buyers/{buyerID}/emailtemplates/{emailTemplateType}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "buyerID" + "\\}", apiInvoker.escapeString(buyerID.toString())).replaceAll("\\{" + "emailTemplateType" + "\\}", apiInvoker.escapeString(emailTemplateType.toString()));

  // query params
  List<Pair> queryParams = new ArrayList<Pair>();
      // header params
      Map<String, String> headerParams = new HashMap<String, String>();
      // form params
      Map<String, String> formParams = new HashMap<String, String>();



      String[] contentTypes = {
  
      };
      String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

      if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
  

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
      } else {
      // normal form params
        }

      String[] authNames = new String[] { "auth" };

      try {
        String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
        if(localVarResponse != null){
           return (Object) ApiInvoker.deserialize(localVarResponse, "", Object.class);
        } else {
           return null;
        }
      } catch (ApiException ex) {
         throw ex;
      } catch (InterruptedException ex) {
         throw ex;
      } catch (ExecutionException ex) {
         if(ex.getCause() instanceof VolleyError) {
	    VolleyError volleyError = (VolleyError)ex.getCause();
	    if (volleyError.networkResponse != null) {
	       throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
	    }
         }
         throw ex;
      } catch (TimeoutException ex) {
         throw ex;
      }
  }

      /**
   * 
   * 
   * @param buyerID ID of the buyer.   * @param emailTemplateType Email template type of the email template. Possible values: OrderSubmittedForApproval, CustomerOrderSubmitted, OrderToApprove, OrderDeclined, OrderApproved, PriceRequestSubmitted, CustomerOrderShipped, ProductRequiresAttachment, InventoryPointReached, LineItemExceedsInventory, PriceRequestResponse, CustomerOrderUpdated, OrderCanceled, PriceRequestCanceled, NewOrderReceived, ApprovalNotification, EmailLoginVerificationCode.
  */
  public void get (String buyerID, String emailTemplateType, final Response.Listener<Object> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

  
    // verify the required parameter 'buyerID' is set
    if (buyerID == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'buyerID' when calling get",
         new ApiException(400, "Missing the required parameter 'buyerID' when calling get"));
    }
    
    // verify the required parameter 'emailTemplateType' is set
    if (emailTemplateType == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'emailTemplateType' when calling get",
         new ApiException(400, "Missing the required parameter 'emailTemplateType' when calling get"));
    }
    

    // create path and map variables
    String path = "/buyers/{buyerID}/emailtemplates/{emailTemplateType}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "buyerID" + "\\}", apiInvoker.escapeString(buyerID.toString())).replaceAll("\\{" + "emailTemplateType" + "\\}", apiInvoker.escapeString(emailTemplateType.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

      String[] authNames = new String[] { "auth" };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((Object) ApiInvoker.deserialize(localVarResponse,  "", Object.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * 
  * 
   * @param buyerID ID of the buyer.
   * @param emailTemplateType Email template type of the email template. Possible values: OrderSubmittedForApproval, CustomerOrderSubmitted, OrderToApprove, OrderDeclined, OrderApproved, PriceRequestSubmitted, CustomerOrderShipped, ProductRequiresAttachment, InventoryPointReached, LineItemExceedsInventory, PriceRequestResponse, CustomerOrderUpdated, OrderCanceled, PriceRequestCanceled, NewOrderReceived, ApprovalNotification, EmailLoginVerificationCode.
   * @param emailTemplate 
   * @return void
  */
  public void patch (String buyerID, String emailTemplateType, EmailTemplate emailTemplate) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
     Object postBody = emailTemplate;
  
      // verify the required parameter 'buyerID' is set
      if (buyerID == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'buyerID' when calling patch",
      new ApiException(400, "Missing the required parameter 'buyerID' when calling patch"));
      }
  
      // verify the required parameter 'emailTemplateType' is set
      if (emailTemplateType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'emailTemplateType' when calling patch",
      new ApiException(400, "Missing the required parameter 'emailTemplateType' when calling patch"));
      }
  
      // verify the required parameter 'emailTemplate' is set
      if (emailTemplate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'emailTemplate' when calling patch",
      new ApiException(400, "Missing the required parameter 'emailTemplate' when calling patch"));
      }
  

  // create path and map variables
  String path = "/buyers/{buyerID}/emailtemplates/{emailTemplateType}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "buyerID" + "\\}", apiInvoker.escapeString(buyerID.toString())).replaceAll("\\{" + "emailTemplateType" + "\\}", apiInvoker.escapeString(emailTemplateType.toString()));

  // query params
  List<Pair> queryParams = new ArrayList<Pair>();
      // header params
      Map<String, String> headerParams = new HashMap<String, String>();
      // form params
      Map<String, String> formParams = new HashMap<String, String>();



      String[] contentTypes = {
  
      };
      String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

      if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
  

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
      } else {
      // normal form params
        }

      String[] authNames = new String[] { "auth" };

      try {
        String localVarResponse = apiInvoker.invokeAPI (basePath, path, "PATCH", queryParams, postBody, headerParams, formParams, contentType, authNames);
        if(localVarResponse != null){
           return ;
        } else {
           return ;
        }
      } catch (ApiException ex) {
         throw ex;
      } catch (InterruptedException ex) {
         throw ex;
      } catch (ExecutionException ex) {
         if(ex.getCause() instanceof VolleyError) {
	    VolleyError volleyError = (VolleyError)ex.getCause();
	    if (volleyError.networkResponse != null) {
	       throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
	    }
         }
         throw ex;
      } catch (TimeoutException ex) {
         throw ex;
      }
  }

      /**
   * 
   * 
   * @param buyerID ID of the buyer.   * @param emailTemplateType Email template type of the email template. Possible values: OrderSubmittedForApproval, CustomerOrderSubmitted, OrderToApprove, OrderDeclined, OrderApproved, PriceRequestSubmitted, CustomerOrderShipped, ProductRequiresAttachment, InventoryPointReached, LineItemExceedsInventory, PriceRequestResponse, CustomerOrderUpdated, OrderCanceled, PriceRequestCanceled, NewOrderReceived, ApprovalNotification, EmailLoginVerificationCode.   * @param emailTemplate 
  */
  public void patch (String buyerID, String emailTemplateType, EmailTemplate emailTemplate, final Response.Listener<String> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = emailTemplate;

  
    // verify the required parameter 'buyerID' is set
    if (buyerID == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'buyerID' when calling patch",
         new ApiException(400, "Missing the required parameter 'buyerID' when calling patch"));
    }
    
    // verify the required parameter 'emailTemplateType' is set
    if (emailTemplateType == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'emailTemplateType' when calling patch",
         new ApiException(400, "Missing the required parameter 'emailTemplateType' when calling patch"));
    }
    
    // verify the required parameter 'emailTemplate' is set
    if (emailTemplate == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'emailTemplate' when calling patch",
         new ApiException(400, "Missing the required parameter 'emailTemplate' when calling patch"));
    }
    

    // create path and map variables
    String path = "/buyers/{buyerID}/emailtemplates/{emailTemplateType}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "buyerID" + "\\}", apiInvoker.escapeString(buyerID.toString())).replaceAll("\\{" + "emailTemplateType" + "\\}", apiInvoker.escapeString(emailTemplateType.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

      String[] authNames = new String[] { "auth" };

    try {
      apiInvoker.invokeAPI(basePath, path, "PATCH", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
              responseListener.onResponse(localVarResponse);
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * 
  * 
   * @param buyerID ID of the buyer.
   * @param emailTemplateType Email template type of the email template. Possible values: OrderSubmittedForApproval, CustomerOrderSubmitted, OrderToApprove, OrderDeclined, OrderApproved, PriceRequestSubmitted, CustomerOrderShipped, ProductRequiresAttachment, InventoryPointReached, LineItemExceedsInventory, PriceRequestResponse, CustomerOrderUpdated, OrderCanceled, PriceRequestCanceled, NewOrderReceived, ApprovalNotification, EmailLoginVerificationCode.
   * @return void
  */
  public void resetToDefault (String buyerID, String emailTemplateType) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
     Object postBody = null;
  
      // verify the required parameter 'buyerID' is set
      if (buyerID == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'buyerID' when calling resetToDefault",
      new ApiException(400, "Missing the required parameter 'buyerID' when calling resetToDefault"));
      }
  
      // verify the required parameter 'emailTemplateType' is set
      if (emailTemplateType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'emailTemplateType' when calling resetToDefault",
      new ApiException(400, "Missing the required parameter 'emailTemplateType' when calling resetToDefault"));
      }
  

  // create path and map variables
  String path = "/buyers/{buyerID}/emailtemplates/{emailTemplateType}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "buyerID" + "\\}", apiInvoker.escapeString(buyerID.toString())).replaceAll("\\{" + "emailTemplateType" + "\\}", apiInvoker.escapeString(emailTemplateType.toString()));

  // query params
  List<Pair> queryParams = new ArrayList<Pair>();
      // header params
      Map<String, String> headerParams = new HashMap<String, String>();
      // form params
      Map<String, String> formParams = new HashMap<String, String>();



      String[] contentTypes = {
  
      };
      String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

      if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
  

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
      } else {
      // normal form params
        }

      String[] authNames = new String[] { "auth" };

      try {
        String localVarResponse = apiInvoker.invokeAPI (basePath, path, "DELETE", queryParams, postBody, headerParams, formParams, contentType, authNames);
        if(localVarResponse != null){
           return ;
        } else {
           return ;
        }
      } catch (ApiException ex) {
         throw ex;
      } catch (InterruptedException ex) {
         throw ex;
      } catch (ExecutionException ex) {
         if(ex.getCause() instanceof VolleyError) {
	    VolleyError volleyError = (VolleyError)ex.getCause();
	    if (volleyError.networkResponse != null) {
	       throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
	    }
         }
         throw ex;
      } catch (TimeoutException ex) {
         throw ex;
      }
  }

      /**
   * 
   * 
   * @param buyerID ID of the buyer.   * @param emailTemplateType Email template type of the email template. Possible values: OrderSubmittedForApproval, CustomerOrderSubmitted, OrderToApprove, OrderDeclined, OrderApproved, PriceRequestSubmitted, CustomerOrderShipped, ProductRequiresAttachment, InventoryPointReached, LineItemExceedsInventory, PriceRequestResponse, CustomerOrderUpdated, OrderCanceled, PriceRequestCanceled, NewOrderReceived, ApprovalNotification, EmailLoginVerificationCode.
  */
  public void resetToDefault (String buyerID, String emailTemplateType, final Response.Listener<String> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

  
    // verify the required parameter 'buyerID' is set
    if (buyerID == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'buyerID' when calling resetToDefault",
         new ApiException(400, "Missing the required parameter 'buyerID' when calling resetToDefault"));
    }
    
    // verify the required parameter 'emailTemplateType' is set
    if (emailTemplateType == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'emailTemplateType' when calling resetToDefault",
         new ApiException(400, "Missing the required parameter 'emailTemplateType' when calling resetToDefault"));
    }
    

    // create path and map variables
    String path = "/buyers/{buyerID}/emailtemplates/{emailTemplateType}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "buyerID" + "\\}", apiInvoker.escapeString(buyerID.toString())).replaceAll("\\{" + "emailTemplateType" + "\\}", apiInvoker.escapeString(emailTemplateType.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

      String[] authNames = new String[] { "auth" };

    try {
      apiInvoker.invokeAPI(basePath, path, "DELETE", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
              responseListener.onResponse(localVarResponse);
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * 
  * 
   * @param buyerID ID of the buyer.
   * @param emailTemplateType Email template type of the email template. Possible values: OrderSubmittedForApproval, CustomerOrderSubmitted, OrderToApprove, OrderDeclined, OrderApproved, PriceRequestSubmitted, CustomerOrderShipped, ProductRequiresAttachment, InventoryPointReached, LineItemExceedsInventory, PriceRequestResponse, CustomerOrderUpdated, OrderCanceled, PriceRequestCanceled, NewOrderReceived, ApprovalNotification, EmailLoginVerificationCode.
   * @param emailTemplate 
   * @return void
  */
  public void update (String buyerID, String emailTemplateType, EmailTemplate emailTemplate) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
     Object postBody = emailTemplate;
  
      // verify the required parameter 'buyerID' is set
      if (buyerID == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'buyerID' when calling update",
      new ApiException(400, "Missing the required parameter 'buyerID' when calling update"));
      }
  
      // verify the required parameter 'emailTemplateType' is set
      if (emailTemplateType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'emailTemplateType' when calling update",
      new ApiException(400, "Missing the required parameter 'emailTemplateType' when calling update"));
      }
  
      // verify the required parameter 'emailTemplate' is set
      if (emailTemplate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'emailTemplate' when calling update",
      new ApiException(400, "Missing the required parameter 'emailTemplate' when calling update"));
      }
  

  // create path and map variables
  String path = "/buyers/{buyerID}/emailtemplates/{emailTemplateType}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "buyerID" + "\\}", apiInvoker.escapeString(buyerID.toString())).replaceAll("\\{" + "emailTemplateType" + "\\}", apiInvoker.escapeString(emailTemplateType.toString()));

  // query params
  List<Pair> queryParams = new ArrayList<Pair>();
      // header params
      Map<String, String> headerParams = new HashMap<String, String>();
      // form params
      Map<String, String> formParams = new HashMap<String, String>();



      String[] contentTypes = {
  
      };
      String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

      if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
  

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
      } else {
      // normal form params
        }

      String[] authNames = new String[] { "auth" };

      try {
        String localVarResponse = apiInvoker.invokeAPI (basePath, path, "PUT", queryParams, postBody, headerParams, formParams, contentType, authNames);
        if(localVarResponse != null){
           return ;
        } else {
           return ;
        }
      } catch (ApiException ex) {
         throw ex;
      } catch (InterruptedException ex) {
         throw ex;
      } catch (ExecutionException ex) {
         if(ex.getCause() instanceof VolleyError) {
	    VolleyError volleyError = (VolleyError)ex.getCause();
	    if (volleyError.networkResponse != null) {
	       throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
	    }
         }
         throw ex;
      } catch (TimeoutException ex) {
         throw ex;
      }
  }

      /**
   * 
   * 
   * @param buyerID ID of the buyer.   * @param emailTemplateType Email template type of the email template. Possible values: OrderSubmittedForApproval, CustomerOrderSubmitted, OrderToApprove, OrderDeclined, OrderApproved, PriceRequestSubmitted, CustomerOrderShipped, ProductRequiresAttachment, InventoryPointReached, LineItemExceedsInventory, PriceRequestResponse, CustomerOrderUpdated, OrderCanceled, PriceRequestCanceled, NewOrderReceived, ApprovalNotification, EmailLoginVerificationCode.   * @param emailTemplate 
  */
  public void update (String buyerID, String emailTemplateType, EmailTemplate emailTemplate, final Response.Listener<String> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = emailTemplate;

  
    // verify the required parameter 'buyerID' is set
    if (buyerID == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'buyerID' when calling update",
         new ApiException(400, "Missing the required parameter 'buyerID' when calling update"));
    }
    
    // verify the required parameter 'emailTemplateType' is set
    if (emailTemplateType == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'emailTemplateType' when calling update",
         new ApiException(400, "Missing the required parameter 'emailTemplateType' when calling update"));
    }
    
    // verify the required parameter 'emailTemplate' is set
    if (emailTemplate == null) {
       VolleyError error = new VolleyError("Missing the required parameter 'emailTemplate' when calling update",
         new ApiException(400, "Missing the required parameter 'emailTemplate' when calling update"));
    }
    

    // create path and map variables
    String path = "/buyers/{buyerID}/emailtemplates/{emailTemplateType}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "buyerID" + "\\}", apiInvoker.escapeString(buyerID.toString())).replaceAll("\\{" + "emailTemplateType" + "\\}", apiInvoker.escapeString(emailTemplateType.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

      String[] authNames = new String[] { "auth" };

    try {
      apiInvoker.invokeAPI(basePath, path, "PUT", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
              responseListener.onResponse(localVarResponse);
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
