/**
 * OrderCloud
 * A full ecommerce backend as a service.
 *
 * OpenAPI spec version: 0.1
 * Contact: ordercloud@four51.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;

import io.swagger.client.model.CreditCard;
import io.swagger.client.model.CreditCardAssignment;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class CreditCardApi {
    private ApiClient apiClient;

    public CreditCardApi() {
        this(Configuration.getDefaultApiClient());
    }

    public CreditCardApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /* Build call for create */
    private com.squareup.okhttp.Call createCall(String buyerID, CreditCard card, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = card;
        
        // verify the required parameter 'buyerID' is set
        if (buyerID == null) {
            throw new ApiException("Missing the required parameter 'buyerID' when calling create(Async)");
        }
        
        // verify the required parameter 'card' is set
        if (card == null) {
            throw new ApiException("Missing the required parameter 'card' when calling create(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/buyers/{buyerID}/creditcards".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "buyerID" + "\\}", apiClient.escapeString(buyerID.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "auth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * 
     * 
     * @param buyerID ID of the buyer. (required)
     * @param card  (required)
     * @return Object
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Object create(String buyerID, CreditCard card) throws ApiException {
        ApiResponse<Object> resp = createWithHttpInfo(buyerID, card);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param buyerID ID of the buyer. (required)
     * @param card  (required)
     * @return ApiResponse&lt;Object&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Object> createWithHttpInfo(String buyerID, CreditCard card) throws ApiException {
        com.squareup.okhttp.Call call = createCall(buyerID, card, null, null);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param buyerID ID of the buyer. (required)
     * @param card  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createAsync(String buyerID, CreditCard card, final ApiCallback<Object> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createCall(buyerID, card, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for delete */
    private com.squareup.okhttp.Call deleteCall(String buyerID, String creditCardID, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'buyerID' is set
        if (buyerID == null) {
            throw new ApiException("Missing the required parameter 'buyerID' when calling delete(Async)");
        }
        
        // verify the required parameter 'creditCardID' is set
        if (creditCardID == null) {
            throw new ApiException("Missing the required parameter 'creditCardID' when calling delete(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/buyers/{buyerID}/creditcards/{creditCardID}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "buyerID" + "\\}", apiClient.escapeString(buyerID.toString()))
        .replaceAll("\\{" + "creditCardID" + "\\}", apiClient.escapeString(creditCardID.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "auth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * 
     * 
     * @param buyerID ID of the buyer. (required)
     * @param creditCardID ID of the credit card. (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void delete(String buyerID, String creditCardID) throws ApiException {
        deleteWithHttpInfo(buyerID, creditCardID);
    }

    /**
     * 
     * 
     * @param buyerID ID of the buyer. (required)
     * @param creditCardID ID of the credit card. (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteWithHttpInfo(String buyerID, String creditCardID) throws ApiException {
        com.squareup.okhttp.Call call = deleteCall(buyerID, creditCardID, null, null);
        return apiClient.execute(call);
    }

    /**
     *  (asynchronously)
     * 
     * @param buyerID ID of the buyer. (required)
     * @param creditCardID ID of the credit card. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteAsync(String buyerID, String creditCardID, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteCall(buyerID, creditCardID, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /* Build call for deleteAssignment */
    private com.squareup.okhttp.Call deleteAssignmentCall(String buyerID, String creditCardID, String userID, String userGroupID, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'buyerID' is set
        if (buyerID == null) {
            throw new ApiException("Missing the required parameter 'buyerID' when calling deleteAssignment(Async)");
        }
        
        // verify the required parameter 'creditCardID' is set
        if (creditCardID == null) {
            throw new ApiException("Missing the required parameter 'creditCardID' when calling deleteAssignment(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/buyers/{buyerID}/creditcards/{creditCardID}/assignments".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "buyerID" + "\\}", apiClient.escapeString(buyerID.toString()))
        .replaceAll("\\{" + "creditCardID" + "\\}", apiClient.escapeString(creditCardID.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (userID != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "userID", userID));
        if (userGroupID != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "userGroupID", userGroupID));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "auth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * 
     * 
     * @param buyerID ID of the buyer. (required)
     * @param creditCardID ID of the credit card. (required)
     * @param userID ID of the user. (optional)
     * @param userGroupID ID of the user group. (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteAssignment(String buyerID, String creditCardID, String userID, String userGroupID) throws ApiException {
        deleteAssignmentWithHttpInfo(buyerID, creditCardID, userID, userGroupID);
    }

    /**
     * 
     * 
     * @param buyerID ID of the buyer. (required)
     * @param creditCardID ID of the credit card. (required)
     * @param userID ID of the user. (optional)
     * @param userGroupID ID of the user group. (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteAssignmentWithHttpInfo(String buyerID, String creditCardID, String userID, String userGroupID) throws ApiException {
        com.squareup.okhttp.Call call = deleteAssignmentCall(buyerID, creditCardID, userID, userGroupID, null, null);
        return apiClient.execute(call);
    }

    /**
     *  (asynchronously)
     * 
     * @param buyerID ID of the buyer. (required)
     * @param creditCardID ID of the credit card. (required)
     * @param userID ID of the user. (optional)
     * @param userGroupID ID of the user group. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteAssignmentAsync(String buyerID, String creditCardID, String userID, String userGroupID, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteAssignmentCall(buyerID, creditCardID, userID, userGroupID, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /* Build call for get */
    private com.squareup.okhttp.Call getCall(String buyerID, String creditCardID, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'buyerID' is set
        if (buyerID == null) {
            throw new ApiException("Missing the required parameter 'buyerID' when calling get(Async)");
        }
        
        // verify the required parameter 'creditCardID' is set
        if (creditCardID == null) {
            throw new ApiException("Missing the required parameter 'creditCardID' when calling get(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/buyers/{buyerID}/creditcards/{creditCardID}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "buyerID" + "\\}", apiClient.escapeString(buyerID.toString()))
        .replaceAll("\\{" + "creditCardID" + "\\}", apiClient.escapeString(creditCardID.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "auth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * 
     * 
     * @param buyerID ID of the buyer. (required)
     * @param creditCardID ID of the credit card. (required)
     * @return Object
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Object get(String buyerID, String creditCardID) throws ApiException {
        ApiResponse<Object> resp = getWithHttpInfo(buyerID, creditCardID);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param buyerID ID of the buyer. (required)
     * @param creditCardID ID of the credit card. (required)
     * @return ApiResponse&lt;Object&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Object> getWithHttpInfo(String buyerID, String creditCardID) throws ApiException {
        com.squareup.okhttp.Call call = getCall(buyerID, creditCardID, null, null);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param buyerID ID of the buyer. (required)
     * @param creditCardID ID of the credit card. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getAsync(String buyerID, String creditCardID, final ApiCallback<Object> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getCall(buyerID, creditCardID, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for list */
    private com.squareup.okhttp.Call listCall(String buyerID, String search, String searchOn, String sortBy, Integer page, Integer pageSize, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'buyerID' is set
        if (buyerID == null) {
            throw new ApiException("Missing the required parameter 'buyerID' when calling list(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/buyers/{buyerID}/creditcards".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "buyerID" + "\\}", apiClient.escapeString(buyerID.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (search != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "search", search));
        if (searchOn != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "searchOn", searchOn));
        if (sortBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "sortBy", sortBy));
        if (page != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "page", page));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "pageSize", pageSize));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "auth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * 
     * 
     * @param buyerID ID of the buyer. (required)
     * @param search Word or phrase to search for. (optional)
     * @param searchOn Comma-delimited list of fields to search on. (optional)
     * @param sortBy Comma-delimited list of fields to sort by. (optional)
     * @param page Page of results to return. Default: 1 (optional)
     * @param pageSize Number of results to return per page. Default: 20, max: 100. (optional)
     * @return Object
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Object list(String buyerID, String search, String searchOn, String sortBy, Integer page, Integer pageSize) throws ApiException {
        ApiResponse<Object> resp = listWithHttpInfo(buyerID, search, searchOn, sortBy, page, pageSize);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param buyerID ID of the buyer. (required)
     * @param search Word or phrase to search for. (optional)
     * @param searchOn Comma-delimited list of fields to search on. (optional)
     * @param sortBy Comma-delimited list of fields to sort by. (optional)
     * @param page Page of results to return. Default: 1 (optional)
     * @param pageSize Number of results to return per page. Default: 20, max: 100. (optional)
     * @return ApiResponse&lt;Object&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Object> listWithHttpInfo(String buyerID, String search, String searchOn, String sortBy, Integer page, Integer pageSize) throws ApiException {
        com.squareup.okhttp.Call call = listCall(buyerID, search, searchOn, sortBy, page, pageSize, null, null);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param buyerID ID of the buyer. (required)
     * @param search Word or phrase to search for. (optional)
     * @param searchOn Comma-delimited list of fields to search on. (optional)
     * @param sortBy Comma-delimited list of fields to sort by. (optional)
     * @param page Page of results to return. Default: 1 (optional)
     * @param pageSize Number of results to return per page. Default: 20, max: 100. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call listAsync(String buyerID, String search, String searchOn, String sortBy, Integer page, Integer pageSize, final ApiCallback<Object> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = listCall(buyerID, search, searchOn, sortBy, page, pageSize, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for listAssignments */
    private com.squareup.okhttp.Call listAssignmentsCall(String buyerID, String creditCardID, String userID, String userGroupID, String level, Integer page, Integer pageSize, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'buyerID' is set
        if (buyerID == null) {
            throw new ApiException("Missing the required parameter 'buyerID' when calling listAssignments(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/buyers/{buyerID}/creditcards/assignments".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "buyerID" + "\\}", apiClient.escapeString(buyerID.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (creditCardID != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "creditCardID", creditCardID));
        if (userID != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "userID", userID));
        if (userGroupID != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "userGroupID", userGroupID));
        if (level != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "level", level));
        if (page != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "page", page));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "pageSize", pageSize));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "auth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * 
     * 
     * @param buyerID ID of the buyer. (required)
     * @param creditCardID ID of the credit card. (optional)
     * @param userID ID of the user. (optional)
     * @param userGroupID ID of the user group. (optional)
     * @param level Level of the credit card. (optional)
     * @param page Page of results to return. Default: 1 (optional)
     * @param pageSize Number of results to return per page. Default: 20, max: 100. (optional)
     * @return Object
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Object listAssignments(String buyerID, String creditCardID, String userID, String userGroupID, String level, Integer page, Integer pageSize) throws ApiException {
        ApiResponse<Object> resp = listAssignmentsWithHttpInfo(buyerID, creditCardID, userID, userGroupID, level, page, pageSize);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param buyerID ID of the buyer. (required)
     * @param creditCardID ID of the credit card. (optional)
     * @param userID ID of the user. (optional)
     * @param userGroupID ID of the user group. (optional)
     * @param level Level of the credit card. (optional)
     * @param page Page of results to return. Default: 1 (optional)
     * @param pageSize Number of results to return per page. Default: 20, max: 100. (optional)
     * @return ApiResponse&lt;Object&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Object> listAssignmentsWithHttpInfo(String buyerID, String creditCardID, String userID, String userGroupID, String level, Integer page, Integer pageSize) throws ApiException {
        com.squareup.okhttp.Call call = listAssignmentsCall(buyerID, creditCardID, userID, userGroupID, level, page, pageSize, null, null);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param buyerID ID of the buyer. (required)
     * @param creditCardID ID of the credit card. (optional)
     * @param userID ID of the user. (optional)
     * @param userGroupID ID of the user group. (optional)
     * @param level Level of the credit card. (optional)
     * @param page Page of results to return. Default: 1 (optional)
     * @param pageSize Number of results to return per page. Default: 20, max: 100. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call listAssignmentsAsync(String buyerID, String creditCardID, String userID, String userGroupID, String level, Integer page, Integer pageSize, final ApiCallback<Object> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = listAssignmentsCall(buyerID, creditCardID, userID, userGroupID, level, page, pageSize, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for patch */
    private com.squareup.okhttp.Call patchCall(String buyerID, String creditCardID, CreditCard card, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = card;
        
        // verify the required parameter 'buyerID' is set
        if (buyerID == null) {
            throw new ApiException("Missing the required parameter 'buyerID' when calling patch(Async)");
        }
        
        // verify the required parameter 'creditCardID' is set
        if (creditCardID == null) {
            throw new ApiException("Missing the required parameter 'creditCardID' when calling patch(Async)");
        }
        
        // verify the required parameter 'card' is set
        if (card == null) {
            throw new ApiException("Missing the required parameter 'card' when calling patch(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/buyers/{buyerID}/creditcards/{creditCardID}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "buyerID" + "\\}", apiClient.escapeString(buyerID.toString()))
        .replaceAll("\\{" + "creditCardID" + "\\}", apiClient.escapeString(creditCardID.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "auth" };
        return apiClient.buildCall(localVarPath, "PATCH", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * 
     * 
     * @param buyerID ID of the buyer. (required)
     * @param creditCardID ID of the credit card. (required)
     * @param card  (required)
     * @return Object
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Object patch(String buyerID, String creditCardID, CreditCard card) throws ApiException {
        ApiResponse<Object> resp = patchWithHttpInfo(buyerID, creditCardID, card);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param buyerID ID of the buyer. (required)
     * @param creditCardID ID of the credit card. (required)
     * @param card  (required)
     * @return ApiResponse&lt;Object&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Object> patchWithHttpInfo(String buyerID, String creditCardID, CreditCard card) throws ApiException {
        com.squareup.okhttp.Call call = patchCall(buyerID, creditCardID, card, null, null);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param buyerID ID of the buyer. (required)
     * @param creditCardID ID of the credit card. (required)
     * @param card  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call patchAsync(String buyerID, String creditCardID, CreditCard card, final ApiCallback<Object> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = patchCall(buyerID, creditCardID, card, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for saveAssignment */
    private com.squareup.okhttp.Call saveAssignmentCall(String buyerID, CreditCardAssignment assignment, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = assignment;
        
        // verify the required parameter 'buyerID' is set
        if (buyerID == null) {
            throw new ApiException("Missing the required parameter 'buyerID' when calling saveAssignment(Async)");
        }
        
        // verify the required parameter 'assignment' is set
        if (assignment == null) {
            throw new ApiException("Missing the required parameter 'assignment' when calling saveAssignment(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/buyers/{buyerID}/creditcards/assignments".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "buyerID" + "\\}", apiClient.escapeString(buyerID.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "auth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * 
     * 
     * @param buyerID ID of the buyer. (required)
     * @param assignment  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void saveAssignment(String buyerID, CreditCardAssignment assignment) throws ApiException {
        saveAssignmentWithHttpInfo(buyerID, assignment);
    }

    /**
     * 
     * 
     * @param buyerID ID of the buyer. (required)
     * @param assignment  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> saveAssignmentWithHttpInfo(String buyerID, CreditCardAssignment assignment) throws ApiException {
        com.squareup.okhttp.Call call = saveAssignmentCall(buyerID, assignment, null, null);
        return apiClient.execute(call);
    }

    /**
     *  (asynchronously)
     * 
     * @param buyerID ID of the buyer. (required)
     * @param assignment  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call saveAssignmentAsync(String buyerID, CreditCardAssignment assignment, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = saveAssignmentCall(buyerID, assignment, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /* Build call for update */
    private com.squareup.okhttp.Call updateCall(String buyerID, String creditCardID, CreditCard card, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = card;
        
        // verify the required parameter 'buyerID' is set
        if (buyerID == null) {
            throw new ApiException("Missing the required parameter 'buyerID' when calling update(Async)");
        }
        
        // verify the required parameter 'creditCardID' is set
        if (creditCardID == null) {
            throw new ApiException("Missing the required parameter 'creditCardID' when calling update(Async)");
        }
        
        // verify the required parameter 'card' is set
        if (card == null) {
            throw new ApiException("Missing the required parameter 'card' when calling update(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/buyers/{buyerID}/creditcards/{creditCardID}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "buyerID" + "\\}", apiClient.escapeString(buyerID.toString()))
        .replaceAll("\\{" + "creditCardID" + "\\}", apiClient.escapeString(creditCardID.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "auth" };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * 
     * 
     * @param buyerID ID of the buyer. (required)
     * @param creditCardID ID of the credit card. (required)
     * @param card  (required)
     * @return Object
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Object update(String buyerID, String creditCardID, CreditCard card) throws ApiException {
        ApiResponse<Object> resp = updateWithHttpInfo(buyerID, creditCardID, card);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param buyerID ID of the buyer. (required)
     * @param creditCardID ID of the credit card. (required)
     * @param card  (required)
     * @return ApiResponse&lt;Object&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Object> updateWithHttpInfo(String buyerID, String creditCardID, CreditCard card) throws ApiException {
        com.squareup.okhttp.Call call = updateCall(buyerID, creditCardID, card, null, null);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param buyerID ID of the buyer. (required)
     * @param creditCardID ID of the credit card. (required)
     * @param card  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call updateAsync(String buyerID, String creditCardID, CreditCard card, final ApiCallback<Object> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = updateCall(buyerID, creditCardID, card, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
