/**
 * OrderCloud
 * A full ecommerce backend as a service.
 *
 * OpenAPI spec version: 0.1
 * Contact: ordercloud@four51.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;

import io.swagger.client.model.UserGroup;
import io.swagger.client.model.UserGroupAssignment;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class UserGroupApi {
    private ApiClient apiClient;

    public UserGroupApi() {
        this(Configuration.getDefaultApiClient());
    }

    public UserGroupApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /* Build call for create */
    private com.squareup.okhttp.Call createCall(String buyerID, UserGroup group, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = group;
        
        // verify the required parameter 'buyerID' is set
        if (buyerID == null) {
            throw new ApiException("Missing the required parameter 'buyerID' when calling create(Async)");
        }
        
        // verify the required parameter 'group' is set
        if (group == null) {
            throw new ApiException("Missing the required parameter 'group' when calling create(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/buyers/{buyerID}/usergroups".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "buyerID" + "\\}", apiClient.escapeString(buyerID.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "auth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * 
     * 
     * @param buyerID ID of the buyer. (required)
     * @param group  (required)
     * @return Object
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Object create(String buyerID, UserGroup group) throws ApiException {
        ApiResponse<Object> resp = createWithHttpInfo(buyerID, group);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param buyerID ID of the buyer. (required)
     * @param group  (required)
     * @return ApiResponse&lt;Object&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Object> createWithHttpInfo(String buyerID, UserGroup group) throws ApiException {
        com.squareup.okhttp.Call call = createCall(buyerID, group, null, null);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param buyerID ID of the buyer. (required)
     * @param group  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createAsync(String buyerID, UserGroup group, final ApiCallback<Object> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createCall(buyerID, group, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for delete */
    private com.squareup.okhttp.Call deleteCall(String buyerID, String userGroupID, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'buyerID' is set
        if (buyerID == null) {
            throw new ApiException("Missing the required parameter 'buyerID' when calling delete(Async)");
        }
        
        // verify the required parameter 'userGroupID' is set
        if (userGroupID == null) {
            throw new ApiException("Missing the required parameter 'userGroupID' when calling delete(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/buyers/{buyerID}/usergroups/{userGroupID}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "buyerID" + "\\}", apiClient.escapeString(buyerID.toString()))
        .replaceAll("\\{" + "userGroupID" + "\\}", apiClient.escapeString(userGroupID.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "auth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * 
     * 
     * @param buyerID ID of the buyer. (required)
     * @param userGroupID ID of the user group. (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void delete(String buyerID, String userGroupID) throws ApiException {
        deleteWithHttpInfo(buyerID, userGroupID);
    }

    /**
     * 
     * 
     * @param buyerID ID of the buyer. (required)
     * @param userGroupID ID of the user group. (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteWithHttpInfo(String buyerID, String userGroupID) throws ApiException {
        com.squareup.okhttp.Call call = deleteCall(buyerID, userGroupID, null, null);
        return apiClient.execute(call);
    }

    /**
     *  (asynchronously)
     * 
     * @param buyerID ID of the buyer. (required)
     * @param userGroupID ID of the user group. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteAsync(String buyerID, String userGroupID, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteCall(buyerID, userGroupID, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /* Build call for deleteUserAssignment */
    private com.squareup.okhttp.Call deleteUserAssignmentCall(String buyerID, String userGroupID, String userID, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'buyerID' is set
        if (buyerID == null) {
            throw new ApiException("Missing the required parameter 'buyerID' when calling deleteUserAssignment(Async)");
        }
        
        // verify the required parameter 'userGroupID' is set
        if (userGroupID == null) {
            throw new ApiException("Missing the required parameter 'userGroupID' when calling deleteUserAssignment(Async)");
        }
        
        // verify the required parameter 'userID' is set
        if (userID == null) {
            throw new ApiException("Missing the required parameter 'userID' when calling deleteUserAssignment(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/buyers/{buyerID}/usergroups/{userGroupID}/assignments/{userID}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "buyerID" + "\\}", apiClient.escapeString(buyerID.toString()))
        .replaceAll("\\{" + "userGroupID" + "\\}", apiClient.escapeString(userGroupID.toString()))
        .replaceAll("\\{" + "userID" + "\\}", apiClient.escapeString(userID.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "auth" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * 
     * 
     * @param buyerID ID of the buyer. (required)
     * @param userGroupID ID of the user group. (required)
     * @param userID ID of the user. (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteUserAssignment(String buyerID, String userGroupID, String userID) throws ApiException {
        deleteUserAssignmentWithHttpInfo(buyerID, userGroupID, userID);
    }

    /**
     * 
     * 
     * @param buyerID ID of the buyer. (required)
     * @param userGroupID ID of the user group. (required)
     * @param userID ID of the user. (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteUserAssignmentWithHttpInfo(String buyerID, String userGroupID, String userID) throws ApiException {
        com.squareup.okhttp.Call call = deleteUserAssignmentCall(buyerID, userGroupID, userID, null, null);
        return apiClient.execute(call);
    }

    /**
     *  (asynchronously)
     * 
     * @param buyerID ID of the buyer. (required)
     * @param userGroupID ID of the user group. (required)
     * @param userID ID of the user. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteUserAssignmentAsync(String buyerID, String userGroupID, String userID, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteUserAssignmentCall(buyerID, userGroupID, userID, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /* Build call for get */
    private com.squareup.okhttp.Call getCall(String buyerID, String userGroupID, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'buyerID' is set
        if (buyerID == null) {
            throw new ApiException("Missing the required parameter 'buyerID' when calling get(Async)");
        }
        
        // verify the required parameter 'userGroupID' is set
        if (userGroupID == null) {
            throw new ApiException("Missing the required parameter 'userGroupID' when calling get(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/buyers/{buyerID}/usergroups/{userGroupID}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "buyerID" + "\\}", apiClient.escapeString(buyerID.toString()))
        .replaceAll("\\{" + "userGroupID" + "\\}", apiClient.escapeString(userGroupID.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "auth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * 
     * 
     * @param buyerID ID of the buyer. (required)
     * @param userGroupID ID of the user group. (required)
     * @return Object
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Object get(String buyerID, String userGroupID) throws ApiException {
        ApiResponse<Object> resp = getWithHttpInfo(buyerID, userGroupID);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param buyerID ID of the buyer. (required)
     * @param userGroupID ID of the user group. (required)
     * @return ApiResponse&lt;Object&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Object> getWithHttpInfo(String buyerID, String userGroupID) throws ApiException {
        com.squareup.okhttp.Call call = getCall(buyerID, userGroupID, null, null);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param buyerID ID of the buyer. (required)
     * @param userGroupID ID of the user group. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getAsync(String buyerID, String userGroupID, final ApiCallback<Object> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getCall(buyerID, userGroupID, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for list */
    private com.squareup.okhttp.Call listCall(String buyerID, String search, String searchOn, String sortBy, Integer page, Integer pageSize, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'buyerID' is set
        if (buyerID == null) {
            throw new ApiException("Missing the required parameter 'buyerID' when calling list(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/buyers/{buyerID}/usergroups".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "buyerID" + "\\}", apiClient.escapeString(buyerID.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (search != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "search", search));
        if (searchOn != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "searchOn", searchOn));
        if (sortBy != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "sortBy", sortBy));
        if (page != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "page", page));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "pageSize", pageSize));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "auth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * 
     * 
     * @param buyerID ID of the buyer. (required)
     * @param search Word or phrase to search for. (optional)
     * @param searchOn Comma-delimited list of fields to search on. (optional)
     * @param sortBy Comma-delimited list of fields to sort by. (optional)
     * @param page Page of results to return. Default: 1 (optional)
     * @param pageSize Number of results to return per page. Default: 20, max: 100. (optional)
     * @return Object
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Object list(String buyerID, String search, String searchOn, String sortBy, Integer page, Integer pageSize) throws ApiException {
        ApiResponse<Object> resp = listWithHttpInfo(buyerID, search, searchOn, sortBy, page, pageSize);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param buyerID ID of the buyer. (required)
     * @param search Word or phrase to search for. (optional)
     * @param searchOn Comma-delimited list of fields to search on. (optional)
     * @param sortBy Comma-delimited list of fields to sort by. (optional)
     * @param page Page of results to return. Default: 1 (optional)
     * @param pageSize Number of results to return per page. Default: 20, max: 100. (optional)
     * @return ApiResponse&lt;Object&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Object> listWithHttpInfo(String buyerID, String search, String searchOn, String sortBy, Integer page, Integer pageSize) throws ApiException {
        com.squareup.okhttp.Call call = listCall(buyerID, search, searchOn, sortBy, page, pageSize, null, null);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param buyerID ID of the buyer. (required)
     * @param search Word or phrase to search for. (optional)
     * @param searchOn Comma-delimited list of fields to search on. (optional)
     * @param sortBy Comma-delimited list of fields to sort by. (optional)
     * @param page Page of results to return. Default: 1 (optional)
     * @param pageSize Number of results to return per page. Default: 20, max: 100. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call listAsync(String buyerID, String search, String searchOn, String sortBy, Integer page, Integer pageSize, final ApiCallback<Object> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = listCall(buyerID, search, searchOn, sortBy, page, pageSize, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for listUserAssignments */
    private com.squareup.okhttp.Call listUserAssignmentsCall(String buyerID, String userGroupID, String userID, Integer page, Integer pageSize, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'buyerID' is set
        if (buyerID == null) {
            throw new ApiException("Missing the required parameter 'buyerID' when calling listUserAssignments(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/buyers/{buyerID}/usergroups/assignments".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "buyerID" + "\\}", apiClient.escapeString(buyerID.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (userGroupID != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "userGroupID", userGroupID));
        if (userID != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "userID", userID));
        if (page != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "page", page));
        if (pageSize != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "pageSize", pageSize));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "auth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * 
     * 
     * @param buyerID ID of the buyer. (required)
     * @param userGroupID ID of the user group. (optional)
     * @param userID ID of the user. (optional)
     * @param page Page of results to return. Default: 1 (optional)
     * @param pageSize Number of results to return per page. Default: 20, max: 100. (optional)
     * @return Object
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Object listUserAssignments(String buyerID, String userGroupID, String userID, Integer page, Integer pageSize) throws ApiException {
        ApiResponse<Object> resp = listUserAssignmentsWithHttpInfo(buyerID, userGroupID, userID, page, pageSize);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param buyerID ID of the buyer. (required)
     * @param userGroupID ID of the user group. (optional)
     * @param userID ID of the user. (optional)
     * @param page Page of results to return. Default: 1 (optional)
     * @param pageSize Number of results to return per page. Default: 20, max: 100. (optional)
     * @return ApiResponse&lt;Object&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Object> listUserAssignmentsWithHttpInfo(String buyerID, String userGroupID, String userID, Integer page, Integer pageSize) throws ApiException {
        com.squareup.okhttp.Call call = listUserAssignmentsCall(buyerID, userGroupID, userID, page, pageSize, null, null);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param buyerID ID of the buyer. (required)
     * @param userGroupID ID of the user group. (optional)
     * @param userID ID of the user. (optional)
     * @param page Page of results to return. Default: 1 (optional)
     * @param pageSize Number of results to return per page. Default: 20, max: 100. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call listUserAssignmentsAsync(String buyerID, String userGroupID, String userID, Integer page, Integer pageSize, final ApiCallback<Object> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = listUserAssignmentsCall(buyerID, userGroupID, userID, page, pageSize, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for patch */
    private com.squareup.okhttp.Call patchCall(String buyerID, String userGroupID, UserGroup group, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = group;
        
        // verify the required parameter 'buyerID' is set
        if (buyerID == null) {
            throw new ApiException("Missing the required parameter 'buyerID' when calling patch(Async)");
        }
        
        // verify the required parameter 'userGroupID' is set
        if (userGroupID == null) {
            throw new ApiException("Missing the required parameter 'userGroupID' when calling patch(Async)");
        }
        
        // verify the required parameter 'group' is set
        if (group == null) {
            throw new ApiException("Missing the required parameter 'group' when calling patch(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/buyers/{buyerID}/usergroups/{userGroupID}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "buyerID" + "\\}", apiClient.escapeString(buyerID.toString()))
        .replaceAll("\\{" + "userGroupID" + "\\}", apiClient.escapeString(userGroupID.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "auth" };
        return apiClient.buildCall(localVarPath, "PATCH", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * 
     * 
     * @param buyerID ID of the buyer. (required)
     * @param userGroupID ID of the user group. (required)
     * @param group  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void patch(String buyerID, String userGroupID, UserGroup group) throws ApiException {
        patchWithHttpInfo(buyerID, userGroupID, group);
    }

    /**
     * 
     * 
     * @param buyerID ID of the buyer. (required)
     * @param userGroupID ID of the user group. (required)
     * @param group  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> patchWithHttpInfo(String buyerID, String userGroupID, UserGroup group) throws ApiException {
        com.squareup.okhttp.Call call = patchCall(buyerID, userGroupID, group, null, null);
        return apiClient.execute(call);
    }

    /**
     *  (asynchronously)
     * 
     * @param buyerID ID of the buyer. (required)
     * @param userGroupID ID of the user group. (required)
     * @param group  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call patchAsync(String buyerID, String userGroupID, UserGroup group, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = patchCall(buyerID, userGroupID, group, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /* Build call for saveUserAssignment */
    private com.squareup.okhttp.Call saveUserAssignmentCall(String buyerID, UserGroupAssignment userGroupAssignment, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = userGroupAssignment;
        
        // verify the required parameter 'buyerID' is set
        if (buyerID == null) {
            throw new ApiException("Missing the required parameter 'buyerID' when calling saveUserAssignment(Async)");
        }
        
        // verify the required parameter 'userGroupAssignment' is set
        if (userGroupAssignment == null) {
            throw new ApiException("Missing the required parameter 'userGroupAssignment' when calling saveUserAssignment(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/buyers/{buyerID}/usergroups/assignments".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "buyerID" + "\\}", apiClient.escapeString(buyerID.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "auth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * 
     * 
     * @param buyerID ID of the buyer. (required)
     * @param userGroupAssignment  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void saveUserAssignment(String buyerID, UserGroupAssignment userGroupAssignment) throws ApiException {
        saveUserAssignmentWithHttpInfo(buyerID, userGroupAssignment);
    }

    /**
     * 
     * 
     * @param buyerID ID of the buyer. (required)
     * @param userGroupAssignment  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> saveUserAssignmentWithHttpInfo(String buyerID, UserGroupAssignment userGroupAssignment) throws ApiException {
        com.squareup.okhttp.Call call = saveUserAssignmentCall(buyerID, userGroupAssignment, null, null);
        return apiClient.execute(call);
    }

    /**
     *  (asynchronously)
     * 
     * @param buyerID ID of the buyer. (required)
     * @param userGroupAssignment  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call saveUserAssignmentAsync(String buyerID, UserGroupAssignment userGroupAssignment, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = saveUserAssignmentCall(buyerID, userGroupAssignment, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /* Build call for update */
    private com.squareup.okhttp.Call updateCall(String buyerID, String userGroupID, UserGroup group, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = group;
        
        // verify the required parameter 'buyerID' is set
        if (buyerID == null) {
            throw new ApiException("Missing the required parameter 'buyerID' when calling update(Async)");
        }
        
        // verify the required parameter 'userGroupID' is set
        if (userGroupID == null) {
            throw new ApiException("Missing the required parameter 'userGroupID' when calling update(Async)");
        }
        
        // verify the required parameter 'group' is set
        if (group == null) {
            throw new ApiException("Missing the required parameter 'group' when calling update(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/buyers/{buyerID}/usergroups/{userGroupID}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "buyerID" + "\\}", apiClient.escapeString(buyerID.toString()))
        .replaceAll("\\{" + "userGroupID" + "\\}", apiClient.escapeString(userGroupID.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "auth" };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * 
     * 
     * @param buyerID ID of the buyer. (required)
     * @param userGroupID ID of the user group. (required)
     * @param group  (required)
     * @return Object
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Object update(String buyerID, String userGroupID, UserGroup group) throws ApiException {
        ApiResponse<Object> resp = updateWithHttpInfo(buyerID, userGroupID, group);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param buyerID ID of the buyer. (required)
     * @param userGroupID ID of the user group. (required)
     * @param group  (required)
     * @return ApiResponse&lt;Object&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Object> updateWithHttpInfo(String buyerID, String userGroupID, UserGroup group) throws ApiException {
        com.squareup.okhttp.Call call = updateCall(buyerID, userGroupID, group, null, null);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param buyerID ID of the buyer. (required)
     * @param userGroupID ID of the user group. (required)
     * @param group  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call updateAsync(String buyerID, String userGroupID, UserGroup group, final ApiCallback<Object> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = updateCall(buyerID, userGroupID, group, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Object>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
